Repository faiyaz7283/dashtam-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, api, API Layer, Providers, Services, Database Models, Core Infrastructure

test(freezegun): migrate time-dependent tests to freezegun (F6.10)
  tests/integration/test_infrastructure_security_email_verification_token_service.py
  tests/integration/test_infrastructure_security_jwt_service.py
  tests/integration/test_infrastructure_security_password_reset_token_service.py
  tests/integration/test_infrastructure_security_refresh_token_service.py
  tests/integration/test_session_cache.py
  tests/integration/test_session_repository.py
  tests/unit/test_domain_provider_credentials.py
  tests/unit/test_domain_session_entity.py
Due: none

docs(testing): add time-freezing pattern to testing architecture
  docs/architecture/testing-architecture.md
Due: none

feat(auth): add admin authentication to token rotation endpoints (F6.12)
  src/presentation/routers/api/v1/admin/token_rotation.py
  tests/api/test_admin_rotation_api.py
Due: unit, integration

docs(security): complete Stream 6 Security Audit (TODOs #9-11)
  Makefile
  docs/architecture/validation-architecture.md
  docs/guides/key-management.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.test.example
  src/application/commands/handlers/authenticate_user_handler.py
  src/application/commands/handlers/confirm_password_reset_handler.py
  src/application/commands/handlers/logout_user_handler.py
  src/application/commands/handlers/refresh_access_token_handler.py
  src/application/commands/handlers/register_user_handler.py
  src/application/commands/handlers/request_password_reset_handler.py
  src/application/commands/handlers/verify_email_handler.py
  src/core/config.py
  src/core/container/events.py
  src/core/container/infrastructure.py
  src/domain/enums/audit_action.py
  src/domain/protocols/event_bus_protocol.py
  src/infrastructure/events/handlers/audit_event_handler.py
  src/infrastructure/events/handlers/email_event_handler.py
  src/infrastructure/events/handlers/logging_event_handler.py
  src/infrastructure/events/handlers/session_event_handler.py
  src/infrastructure/events/in_memory_event_bus.py
  src/presentation/routers/api/middleware/auth_dependencies.py
  src/presentation/routers/api/v1/email_verifications.py
  src/presentation/routers/api/v1/password_resets.py
  src/presentation/routers/api/v1/sessions.py
  src/presentation/routers/api/v1/tokens.py
  src/presentation/routers/api/v1/users.py
  tests/api/test_admin_rotation_api.py
  tests/api/test_sessions_api.py
  tests/conftest.py
  tests/unit/test_core_config.py
  tests/unit/test_core_container_infrastructure.py
  tests/unit/test_domain_enums_audit_action.py
  tests/unit/test_infrastructure_schwab_oauth.py
Due: unit, integration, Core Infrastructure

docs: update WARP.md for Stream 6 completion
  WARP.md
Due: none

feat(ci): fix CI/CD and add local testing capabilities (F6.2)
  Makefile
  compose/docker-compose.ci.yml
  compose/docker-compose.dev.yml
  compose/docker-compose.prod.yml.example
  compose/docker-compose.test.yml
  docker/Dockerfile
  docs/guides/local-ci-testing.md
Due: none

feat(docs): add MkDocs local preview with Traefik HTTPS routing
  Makefile
  compose/docker-compose.dev.yml
  mkdocs.yml
Due: none

feat(release): version 1.0.0 with dynamic version reading (F6.8)
  CHANGELOG.md
  Makefile
  README.md
  compose/docker-compose.dev.yml
  docs/index.md
  pyproject.toml
  src/core/config.py
  tests/unit/test_core_config.py
  uv.lock
Due: unit, integration, Core Infrastructure

fix(ci): resolve markdown lint issues and make smoke tests optional
  .github/workflows/test.yml
  docs/architecture/validation-architecture.md
  docs/guides/key-management.md
  src/application/commands/handlers/.gitkeep
  src/application/queries/handlers/.gitkeep
  src/domain/entities/.gitkeep
  src/domain/events/.gitkeep
  src/domain/protocols/.gitkeep
  src/domain/value_objects/.gitkeep
  src/infrastructure/persistence/.gitkeep
  src/infrastructure/providers/.gitkeep
  src/presentation/routers/api/v1/.gitkeep
  tests/api/.gitkeep
  tests/integration/.gitkeep
  tests/unit/.gitkeep
Due: unit, integration

chore(ci): comment out smoke test job until tests exist
  .github/workflows/test.yml
Due: none

Phase 6: v1.0.0 Release Preparation (F6.1-F6.12) (#96)
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  README.md
  compose/docker-compose.ci.yml
  compose/docker-compose.dev.yml
  compose/docker-compose.prod.yml.example
  compose/docker-compose.test.yml
  docker/Dockerfile
  docs/architecture/validation-architecture.md
  docs/guides/key-management.md
  docs/guides/local-ci-testing.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  src/application/commands/handlers/.gitkeep
  src/application/queries/handlers/.gitkeep
  src/core/config.py
  src/domain/entities/.gitkeep
  src/domain/events/.gitkeep
  src/domain/protocols/.gitkeep
  src/domain/value_objects/.gitkeep
  src/infrastructure/persistence/.gitkeep
  src/infrastructure/providers/.gitkeep
  src/presentation/routers/api/v1/.gitkeep
  tests/api/.gitkeep
  tests/integration/.gitkeep
  tests/unit/.gitkeep
  tests/unit/test_core_config.py
  uv.lock
Due: unit, integration, Core Infrastructure

docs: update WARP.md for v1.0.0 completion, add MIT LICENSE, refine README
  LICENSE
  README.md
  WARP.md
Due: none

docs(warp): link production deployment options reference
  WARP.md
Due: none

feat(events): complete F6.15 event handler wiring (v1.0.1)
  CHANGELOG.md
  WARP.md
  pyproject.toml
  src/core/container/events.py
  src/domain/enums/audit_action.py
  src/infrastructure/events/handlers/audit_event_handler.py
  src/infrastructure/events/handlers/logging_event_handler.py
  tests/integration/test_domain_events_flow.py
  tests/unit/test_core_container_events.py
  tests/unit/test_domain_enums_audit_action.py
Due: unit, integration, Core Infrastructure

fix(changelog): resolve duplicate heading markdown lint errors
  CHANGELOG.md
Due: none

perf(tests): optimize event bus test to prevent OOM in CI
  tests/unit/test_core_container_events.py
Due: none

perf(tests): eliminate reflection to fix OOM in CI
  tests/unit/test_core_container_events.py
Due: none

ci: add GitHub Actions resource limits to local CI
  compose/docker-compose.ci.yml
Due: none

chore: update uv.lock for version 1.0.1
  uv.lock
Due: none

feat(events): F6.15 Event Handler Wiring Completion (v1.0.1) (#98)
  CHANGELOG.md
  WARP.md
  compose/docker-compose.ci.yml
  pyproject.toml
  src/core/container/events.py
  src/domain/enums/audit_action.py
  src/infrastructure/events/handlers/audit_event_handler.py
  src/infrastructure/events/handlers/logging_event_handler.py
  tests/integration/test_domain_events_flow.py
  tests/unit/test_core_container_events.py
  tests/unit/test_domain_enums_audit_action.py
  uv.lock
Due: unit, integration, Core Infrastructure

test(api): improve API v1 test coverage from 81% to 92%
  CHANGELOG.md
  WARP.md
  tests/api/test_accounts_edge_cases.py
  tests/api/test_email_verifications_api.py
  tests/api/test_password_resets_api.py
  tests/api/test_providers_callback_refresh.py
  tests/api/test_tokens_api.py
  tests/api/test_transactions_edge_cases.py
  tests/api/test_users_api.py
Due: none

style(api): format test files with ruff
  tests/api/test_accounts_edge_cases.py
  tests/api/test_email_verifications_api.py
  tests/api/test_password_resets_api.py
  tests/api/test_providers_callback_refresh.py
  tests/api/test_tokens_api.py
  tests/api/test_transactions_edge_cases.py
  tests/api/test_users_api.py
Due: none

docs(changelog): fix duplicate heading violation
  CHANGELOG.md
Due: none

test(api): improve API v1 test coverage from 81% to 92% (#99)
  CHANGELOG.md
  WARP.md
  tests/api/test_accounts_edge_cases.py
  tests/api/test_email_verifications_api.py
  tests/api/test_password_resets_api.py
  tests/api/test_providers_callback_refresh.py
  tests/api/test_tokens_api.py
  tests/api/test_transactions_edge_cases.py
  tests/api/test_users_api.py
Due: none

feat(cache): add cache configuration and metrics infrastructure
  docs/architecture/cache-key-patterns.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  src/core/config.py
  src/core/container/infrastructure.py
  src/infrastructure/cache/cache_keys.py
  src/infrastructure/cache/cache_metrics.py
Due: unit, integration, Core Infrastructure

feat(cache): add ProviderConnectionCache protocol
  src/domain/protocols/provider_connection_cache_protocol.py
Due: unit, integration

feat(cache): implement provider connection caching
  src/application/queries/handlers/get_provider_handler.py
  src/core/container/provider_handlers.py
  src/infrastructure/cache/__init__.py
  src/infrastructure/cache/provider_connection_cache.py
Due: unit, integration, Core Infrastructure

feat(cache): add Schwab accounts API response caching
  src/infrastructure/providers/schwab/schwab_provider.py
Due: unit, integration

feat(cache): implement account list caching
  src/application/queries/handlers/list_accounts_handler.py
  tests/integration/test_cache_provider_connection.py
Due: unit, integration

feat(cache): implement security config caching for JWT validation
  src/application/commands/handlers/refresh_access_token_handler.py
  src/core/container/auth_handlers.py
  src/infrastructure/cache/cache_keys.py
  src/infrastructure/persistence/repositories/security_config_repository.py
Due: unit, integration, Core Infrastructure

test(cache): add comprehensive integration tests for Phase 8
  tests/integration/test_cache_optimization.py
  tests/integration/test_cache_provider_connection.py
  tests/unit/test_application_get_provider_handler.py
Due: none

test(cache): add Phase 9 performance verification tests
  tests/integration/test_cache_performance.py
Due: none

docs(cache): update cache-usage.md with F6.11 implementation details
  docs/guides/cache-usage.md
Due: none

docs(warp): mark F6.11 Cache Optimization as complete
  WARP.md
Due: none

fix(docs): fix markdown lint violations in cache-key-patterns.md
  docs/architecture/cache-key-patterns.md
Due: none

style: apply ruff formatting to 5 files
  src/application/commands/handlers/refresh_access_token_handler.py
  tests/integration/test_cache_optimization.py
  tests/integration/test_cache_performance.py
  tests/integration/test_cache_provider_connection.py
  tests/unit/test_application_get_provider_handler.py
Due: unit, integration

feat(cache): F6.11 Cache Optimization - 4 cache layers with metrics & key management (#100)
  WARP.md
  docs/architecture/cache-key-patterns.md
  docs/guides/cache-usage.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  src/application/commands/handlers/refresh_access_token_handler.py
  src/application/queries/handlers/get_provider_handler.py
  src/application/queries/handlers/list_accounts_handler.py
  src/core/config.py
  src/core/container/auth_handlers.py
  src/core/container/infrastructure.py
  src/core/container/provider_handlers.py
  src/domain/protocols/provider_connection_cache_protocol.py
  src/infrastructure/cache/__init__.py
  src/infrastructure/cache/cache_keys.py
  src/infrastructure/cache/cache_metrics.py
  src/infrastructure/cache/provider_connection_cache.py
  src/infrastructure/persistence/repositories/security_config_repository.py
  src/infrastructure/providers/schwab/schwab_provider.py
  tests/integration/test_cache_optimization.py
  tests/integration/test_cache_performance.py
  tests/integration/test_cache_provider_connection.py
  tests/unit/test_application_get_provider_handler.py
Due: unit, integration, Core Infrastructure

chore(release): bump version to 1.0.2
  CHANGELOG.md
  pyproject.toml
Due: none

test(coverage): add application handler test coverage improvement (F6.14)
  CHANGELOG.md
  Makefile
  WARP.md
  tests/integration/test_sync_handlers.py
  tests/unit/test_auth_flow_handlers.py
  tests/unit/test_core_validation.py
  tests/unit/test_value_objects_email_password.py
  uv.lock
Due: none

Path conditions:
  unit: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  integration: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  api: any of: src/api/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  API Layer: any of: src/api/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Providers: any of: src/providers/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Services: any of: src/services/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Database Models: any of: src/models/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Core Infrastructure: any of: src/core/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
