Repository faiyaz7283/dashtam-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, api, API Layer, Providers, Services, Database Models, Core Infrastructure

docs: update logging and audit docs with event registry integration
  docs/architecture/logging.md
  docs/guides/audit.md
Due: none

docs(api): update all API docs with rate limits, implementation refs, and schema fixes
  docs/api/accounts.md
  docs/api/authentication.md
  docs/api/balance-snapshots.md
  docs/api/holdings.md
  docs/api/providers.md
  docs/api/token-rotation.md
  docs/api/transactions.md
  docs/guides/imports.md
Due: none

docs(guides): update all guides with correct import paths and types
  docs/guides/adding-providers.md
  docs/guides/authentication.md
  docs/guides/authorization.md
  docs/guides/caching.md
  docs/guides/chase-import.md
  docs/guides/database-seeding.md
  docs/guides/database.md
  docs/guides/dependency-injection.md
  docs/guides/domain-events.md
  docs/guides/enum-security.md
  docs/guides/key-management.md
  docs/guides/local-ci.md
  docs/guides/logging.md
  docs/guides/rate-limit.md
  docs/guides/releases.md
  docs/guides/secrets.md
  docs/guides/sessions.md
Due: none

docs(architecture): comprehensive audit of all 34 architecture docs
  docs/architecture/account.md
  docs/architecture/api-patterns.md
  docs/architecture/audit.md
  docs/architecture/authentication.md
  docs/architecture/authorization.md
  docs/architecture/balance-tracking.md
  docs/architecture/cache-keys.md
  docs/architecture/cache.md
  docs/architecture/cqrs.md
  docs/architecture/database.md
  docs/architecture/dependency-injection.md
  docs/architecture/directory-structure.md
  docs/architecture/domain-driven-design.md
  docs/architecture/domain-events.md
  docs/architecture/error-handling.md
  docs/architecture/hexagonal.md
  docs/architecture/holding.md
  docs/architecture/protocols.md
  docs/architecture/provider-integration.md
  docs/architecture/provider-oauth.md
  docs/architecture/provider-registry.md
  docs/architecture/provider.md
  docs/architecture/rate-limit.md
  docs/architecture/registry.md
  docs/architecture/repository.md
  docs/architecture/route-registry.md
  docs/architecture/secrets.md
  docs/architecture/sessions.md
  docs/architecture/testing.md
  docs/architecture/token-rotation.md
  docs/architecture/transaction.md
  docs/architecture/validation-registry.md
  docs/architecture/validation.md
  docs/guides/caching.md
  docs/guides/domain-events.md
Due: none

refactor: code migration audit - logging patterns and RFC 7807 compliance
  src/infrastructure/providers/alpaca/api/accounts_api.py
  src/infrastructure/providers/alpaca/api/transactions_api.py
  src/infrastructure/providers/schwab/api/accounts_api.py
  src/infrastructure/providers/schwab/api/transactions_api.py
  src/presentation/routers/api/v1/errors/exception_handlers.py
  tests/api/test_email_verifications_api.py
  tests/api/test_password_resets_api.py
  tests/api/test_tokens_api.py
  tests/api/test_users_api.py
Due: unit, integration

chore: bump version to 1.6.8
  CHANGELOG.md
  README.md
  WARP.md
  docs/.pages
  docs/api/.pages
  docs/architecture/.pages
  docs/guides/.pages
  docs/index.md
  mkdocs.yml
  pyproject.toml
  tests/api/test_tokens_api.py
  uv.lock
Due: none

fix(docs): add section index pages and improve diagram contrast
  README.md
  docs/.pages
  docs/api/.pages
  docs/api/index.md
  docs/architecture/.pages
  docs/architecture/index.md
  docs/gen_ref_pages.py
  docs/guides/.pages
  docs/guides/index.md
  docs/index.md
Due: none

fix(docs): add section index pages, fix navigation, and improve diagram contrast
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

refactor(cqrs): add 3-state events and domain protocols for compliance
  src/application/commands/handlers/refresh_access_token_handler.py
  src/application/commands/handlers/revoke_all_sessions_handler.py
  src/application/commands/handlers/revoke_session_handler.py
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_holdings_handler.py
  src/application/commands/handlers/sync_transactions_handler.py
  src/application/queries/__init__.py
  src/application/queries/handlers/list_accounts_handler.py
  src/domain/enums/audit_action.py
  src/domain/events/registry.py
  src/domain/events/session_events.py
  src/domain/protocols/__init__.py
  src/domain/protocols/cache_keys_protocol.py
  src/domain/protocols/cache_metrics_protocol.py
  src/domain/protocols/encryption_protocol.py
  src/infrastructure/events/handlers/audit_event_handler.py
  src/infrastructure/events/handlers/logging_event_handler.py
  src/infrastructure/providers/encryption_service.py
  tests/unit/test_application_revoke_session_handlers.py
Due: unit, integration

chore(release): bump version to v1.6.9
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

refactor(cqrs): CQRS architecture compliance 82% → 100% (#140)
  CHANGELOG.md
  pyproject.toml
  src/application/commands/handlers/refresh_access_token_handler.py
  src/application/commands/handlers/revoke_all_sessions_handler.py
  src/application/commands/handlers/revoke_session_handler.py
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_holdings_handler.py
  src/application/commands/handlers/sync_transactions_handler.py
  src/application/queries/__init__.py
  src/application/queries/handlers/list_accounts_handler.py
  src/domain/enums/audit_action.py
  src/domain/events/registry.py
  src/domain/events/session_events.py
  src/domain/protocols/__init__.py
  src/domain/protocols/cache_keys_protocol.py
  src/domain/protocols/cache_metrics_protocol.py
  src/domain/protocols/encryption_protocol.py
  src/infrastructure/events/handlers/audit_event_handler.py
  src/infrastructure/events/handlers/logging_event_handler.py
  src/infrastructure/providers/encryption_service.py
  tests/unit/test_application_revoke_session_handlers.py
  uv.lock
Due: unit, integration

Release v1.6.9: CQRS architecture compliance 82% → 100% (#141)
  CHANGELOG.md
  README.md
  docs/.pages
  docs/api/.pages
  docs/api/index.md
  docs/architecture/.pages
  docs/architecture/index.md
  docs/gen_ref_pages.py
  docs/guides/.pages
  docs/guides/index.md
  docs/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
  pyproject.toml
  src/application/commands/handlers/refresh_access_token_handler.py
  src/application/commands/handlers/revoke_all_sessions_handler.py
  src/application/commands/handlers/revoke_session_handler.py
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_holdings_handler.py
  src/application/commands/handlers/sync_transactions_handler.py
  src/application/queries/__init__.py
  src/application/queries/handlers/list_accounts_handler.py
  src/domain/enums/audit_action.py
  src/domain/events/registry.py
  src/domain/events/session_events.py
  src/domain/protocols/__init__.py
  src/domain/protocols/cache_keys_protocol.py
  src/domain/protocols/cache_metrics_protocol.py
  src/domain/protocols/encryption_protocol.py
  src/infrastructure/events/handlers/audit_event_handler.py
  src/infrastructure/events/handlers/logging_event_handler.py
  src/infrastructure/providers/encryption_service.py
  tests/unit/test_application_revoke_session_handlers.py
  uv.lock
Due: unit, integration

feat(application): add centralized DTO module
  CHANGELOG.md
  docs/architecture/cqrs.md
  docs/architecture/directory-structure.md
  pyproject.toml
  src/application/commands/__init__.py
  src/application/commands/auth_commands.py
  src/application/commands/handlers/authenticate_user_handler.py
  src/application/commands/handlers/generate_auth_tokens_handler.py
  src/application/commands/handlers/import_from_file_handler.py
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_holdings_handler.py
  src/application/commands/handlers/sync_transactions_handler.py
  src/application/commands/handlers/trigger_global_rotation_handler.py
  src/application/commands/handlers/trigger_user_rotation_handler.py
  src/application/commands/rotation_commands.py
  src/application/commands/token_commands.py
  src/application/dtos/__init__.py
  src/application/dtos/auth_dtos.py
  src/application/dtos/import_dtos.py
  src/application/dtos/sync_dtos.py
  src/schemas/import_schemas.py
  tests/unit/test_application_authenticate_user_handler.py
  tests/unit/test_application_dtos.py
  tests/unit/test_application_generate_auth_tokens_handler.py
  uv.lock
Due: unit, integration

feat(application): add centralized DTO module (#142)
  CHANGELOG.md
  docs/architecture/cqrs.md
  docs/architecture/directory-structure.md
  pyproject.toml
  src/application/commands/__init__.py
  src/application/commands/auth_commands.py
  src/application/commands/handlers/authenticate_user_handler.py
  src/application/commands/handlers/generate_auth_tokens_handler.py
  src/application/commands/handlers/import_from_file_handler.py
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_holdings_handler.py
  src/application/commands/handlers/sync_transactions_handler.py
  src/application/commands/handlers/trigger_global_rotation_handler.py
  src/application/commands/handlers/trigger_user_rotation_handler.py
  src/application/commands/rotation_commands.py
  src/application/commands/token_commands.py
  src/application/dtos/__init__.py
  src/application/dtos/auth_dtos.py
  src/application/dtos/import_dtos.py
  src/application/dtos/sync_dtos.py
  src/schemas/import_schemas.py
  tests/unit/test_application_authenticate_user_handler.py
  tests/unit/test_application_dtos.py
  tests/unit/test_application_generate_auth_tokens_handler.py
  uv.lock
Due: unit, integration

Release v1.7.0: DTO Module (#143)
  CHANGELOG.md
  docs/architecture/cqrs.md
  docs/architecture/directory-structure.md
  pyproject.toml
  src/application/commands/__init__.py
  src/application/commands/auth_commands.py
  src/application/commands/handlers/authenticate_user_handler.py
  src/application/commands/handlers/generate_auth_tokens_handler.py
  src/application/commands/handlers/import_from_file_handler.py
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_holdings_handler.py
  src/application/commands/handlers/sync_transactions_handler.py
  src/application/commands/handlers/trigger_global_rotation_handler.py
  src/application/commands/handlers/trigger_user_rotation_handler.py
  src/application/commands/rotation_commands.py
  src/application/commands/token_commands.py
  src/application/dtos/__init__.py
  src/application/dtos/auth_dtos.py
  src/application/dtos/import_dtos.py
  src/application/dtos/sync_dtos.py
  src/schemas/import_schemas.py
  tests/unit/test_application_authenticate_user_handler.py
  tests/unit/test_application_dtos.py
  tests/unit/test_application_generate_auth_tokens_handler.py
  uv.lock
Due: unit, integration

feat(cqrs): add CQRS registry infrastructure with auto-wiring
  src/application/cqrs/__init__.py
  src/application/cqrs/computed_views.py
  src/application/cqrs/metadata.py
  src/application/cqrs/registry.py
  src/application/queries/handlers/get_holding_handler.py
  src/core/container/handler_factory.py
  tests/unit/test_cqrs_registry_compliance.py
Due: unit, integration, Core Infrastructure

chore(release): bump version to 1.8.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(cqrs): CQRS Registry Pattern with Handler Auto-Wiring (#144) (#144)
  CHANGELOG.md
  pyproject.toml
  src/application/cqrs/__init__.py
  src/application/cqrs/computed_views.py
  src/application/cqrs/metadata.py
  src/application/cqrs/registry.py
  src/application/queries/handlers/get_holding_handler.py
  src/core/container/handler_factory.py
  tests/unit/test_cqrs_registry_compliance.py
  uv.lock
Due: unit, integration, Core Infrastructure

docs(warp): add Context7 MCP integration requirement for AI agents
  WARP.md
Due: none

chore: Python 3.14 & FastAPI 0.128 modernization
  WARP.md
  docs/architecture/authorization.md
  docs/architecture/cache.md
  docs/architecture/directory-structure.md
  docs/architecture/error-handling.md
  docs/architecture/logging.md
  docs/architecture/protocols.md
  docs/guides/local-ci.md
  mkdocs.yml
  pyproject.toml
  src/application/commands/handlers/confirm_password_reset_handler.py
  src/application/commands/handlers/logout_user_handler.py
  src/application/commands/handlers/refresh_access_token_handler.py
  src/application/commands/handlers/request_password_reset_handler.py
  src/application/commands/handlers/verify_email_handler.py
  src/application/dependencies/rate_limit.py
  src/domain/events/base_event.py
  src/domain/protocols/cache_protocol.py
  src/domain/protocols/event_bus_protocol.py
  src/domain/protocols/logger_protocol.py
  src/infrastructure/logging/cloudwatch_adapter.py
  src/infrastructure/logging/console_adapter.py
  src/infrastructure/rate_limit/redis_storage.py
  src/infrastructure/rate_limit/token_bucket_adapter.py
  src/presentation/routers/api/middleware/rate_limit_middleware.py
  src/presentation/routers/api/middleware/trace_middleware.py
  src/presentation/routers/api/v1/admin/token_rotation.py
  src/presentation/routers/api/v1/sessions.py
  uv.lock
Due: unit, integration

chore(release): v1.8.1 - Security patches and modernization
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Release v1.8.1 - Security patches and modernization (#150)
  CHANGELOG.md
  WARP.md
  docs/architecture/authorization.md
  docs/architecture/cache.md
  docs/architecture/directory-structure.md
  docs/architecture/error-handling.md
  docs/architecture/logging.md
  docs/architecture/protocols.md
  docs/guides/local-ci.md
  mkdocs.yml
  pyproject.toml
  src/application/commands/handlers/confirm_password_reset_handler.py
  src/application/commands/handlers/logout_user_handler.py
  src/application/commands/handlers/refresh_access_token_handler.py
  src/application/commands/handlers/request_password_reset_handler.py
  src/application/commands/handlers/verify_email_handler.py
  src/application/dependencies/rate_limit.py
  src/domain/events/base_event.py
  src/domain/protocols/cache_protocol.py
  src/domain/protocols/event_bus_protocol.py
  src/domain/protocols/logger_protocol.py
  src/infrastructure/logging/cloudwatch_adapter.py
  src/infrastructure/logging/console_adapter.py
  src/infrastructure/rate_limit/redis_storage.py
  src/infrastructure/rate_limit/token_bucket_adapter.py
  src/presentation/routers/api/middleware/rate_limit_middleware.py
  src/presentation/routers/api/middleware/trace_middleware.py
  src/presentation/routers/api/v1/admin/token_rotation.py
  src/presentation/routers/api/v1/sessions.py
  uv.lock
Due: unit, integration

refactor(dry): add OwnershipVerifier, BaseProviderAPIClient, and constants
  CHANGELOG.md
  WARP.md
  docs/architecture/cqrs.md
  docs/architecture/dependency-injection.md
  docs/architecture/provider-integration.md
  docs/guides/adding-providers.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  pyproject.toml
  src/application/queries/handlers/get_account_handler.py
  src/application/queries/handlers/get_holding_handler.py
  src/application/queries/handlers/get_transaction_handler.py
  src/application/services/ownership_verifier.py
  src/core/config.py
  src/core/constants.py
  src/core/container/handler_factory.py
  src/infrastructure/providers/alpaca/alpaca_provider.py
  src/infrastructure/providers/alpaca/api/accounts_api.py
  src/infrastructure/providers/alpaca/api/transactions_api.py
  src/infrastructure/providers/base_api_client.py
  src/infrastructure/providers/schwab/api/accounts_api.py
  src/infrastructure/providers/schwab/api/transactions_api.py
  src/infrastructure/security/email_verification_token_service.py
  src/infrastructure/security/password_reset_token_service.py
  src/infrastructure/security/refresh_token_service.py
  src/presentation/routers/api/v1/errors/exception_handlers.py
  src/presentation/routers/api/v1/routes/derivations.py
  tests/unit/test_application_get_account_handler.py
  tests/unit/test_application_get_transaction_handler.py
  tests/unit/test_application_ownership_verifier.py
  tests/unit/test_core_constants.py
  tests/unit/test_core_handler_factory.py
  tests/unit/test_infrastructure_base_api_client.py
  uv.lock
Due: unit, integration, Core Infrastructure

refactor(dry): add OwnershipVerifier, BaseProviderAPIClient, and constants (#152)
  CHANGELOG.md
  WARP.md
  docs/architecture/cqrs.md
  docs/architecture/dependency-injection.md
  docs/architecture/provider-integration.md
  docs/guides/adding-providers.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  pyproject.toml
  src/application/queries/handlers/get_account_handler.py
  src/application/queries/handlers/get_holding_handler.py
  src/application/queries/handlers/get_transaction_handler.py
  src/application/services/ownership_verifier.py
  src/core/config.py
  src/core/constants.py
  src/core/container/handler_factory.py
  src/infrastructure/providers/alpaca/alpaca_provider.py
  src/infrastructure/providers/alpaca/api/accounts_api.py
  src/infrastructure/providers/alpaca/api/transactions_api.py
  src/infrastructure/providers/base_api_client.py
  src/infrastructure/providers/schwab/api/accounts_api.py
  src/infrastructure/providers/schwab/api/transactions_api.py
  src/infrastructure/security/email_verification_token_service.py
  src/infrastructure/security/password_reset_token_service.py
  src/infrastructure/security/refresh_token_service.py
  src/presentation/routers/api/v1/errors/exception_handlers.py
  src/presentation/routers/api/v1/routes/derivations.py
  tests/unit/test_application_get_account_handler.py
  tests/unit/test_application_get_transaction_handler.py
  tests/unit/test_application_ownership_verifier.py
  tests/unit/test_core_constants.py
  tests/unit/test_core_handler_factory.py
  tests/unit/test_infrastructure_base_api_client.py
  uv.lock
Due: unit, integration, Core Infrastructure

docs: update WARP.md global reference to ~/dashtam/
  WARP.md
Due: none

feat(sse): add SSE foundation infrastructure for real-time events
  CHANGELOG.md
  docs/architecture/sse-architecture.md
  docs/architecture/sse-registry.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.test.example
  pyproject.toml
  src/core/config.py
  src/core/constants.py
  src/core/container/__init__.py
  src/core/container/events.py
  src/core/container/sse.py
  src/domain/events/__init__.py
  src/domain/events/sse_event.py
  src/domain/events/sse_registry.py
  src/domain/protocols/__init__.py
  src/domain/protocols/sse_publisher_protocol.py
  src/domain/protocols/sse_subscriber_protocol.py
  src/infrastructure/sse/__init__.py
  src/infrastructure/sse/channel_keys.py
  src/infrastructure/sse/redis_publisher.py
  src/infrastructure/sse/redis_subscriber.py
  src/infrastructure/sse/sse_event_handler.py
  src/presentation/routers/api/v1/events.py
  src/presentation/routers/api/v1/routes/derivations.py
  src/presentation/routers/api/v1/routes/metadata.py
  src/presentation/routers/api/v1/routes/registry.py
  tests/api/test_events_endpoints.py
  tests/api/test_route_metadata_registry_compliance.py
  tests/integration/test_sse_redis_pubsub.py
  tests/integration/test_sse_redis_streams.py
  tests/unit/test_domain_sse_event.py
  tests/unit/test_domain_sse_registry_compliance.py
  tests/unit/test_infrastructure_sse_channel_keys.py
  uv.lock
Due: unit, integration, Core Infrastructure

feat(sse): add SSE foundation infrastructure for real-time events (#154)
  CHANGELOG.md
  docs/architecture/sse-architecture.md
  docs/architecture/sse-registry.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.test.example
  pyproject.toml
  src/core/config.py
  src/core/constants.py
  src/core/container/__init__.py
  src/core/container/events.py
  src/core/container/sse.py
  src/domain/events/__init__.py
  src/domain/events/sse_event.py
  src/domain/events/sse_registry.py
  src/domain/protocols/__init__.py
  src/domain/protocols/sse_publisher_protocol.py
  src/domain/protocols/sse_subscriber_protocol.py
  src/infrastructure/sse/__init__.py
  src/infrastructure/sse/channel_keys.py
  src/infrastructure/sse/redis_publisher.py
  src/infrastructure/sse/redis_subscriber.py
  src/infrastructure/sse/sse_event_handler.py
  src/presentation/routers/api/v1/events.py
  src/presentation/routers/api/v1/routes/derivations.py
  src/presentation/routers/api/v1/routes/metadata.py
  src/presentation/routers/api/v1/routes/registry.py
  tests/api/test_events_endpoints.py
  tests/api/test_route_metadata_registry_compliance.py
  tests/integration/test_sse_redis_pubsub.py
  tests/integration/test_sse_redis_streams.py
  tests/unit/test_domain_sse_event.py
  tests/unit/test_domain_sse_registry_compliance.py
  tests/unit/test_infrastructure_sse_channel_keys.py
  uv.lock
Due: unit, integration, Core Infrastructure

test(sse): add tests to improve coverage for sse_event_handler, container/sse, and events endpoint
  tests/api/test_events_endpoints.py
  tests/unit/test_core_container_sse.py
  tests/unit/test_infrastructure_sse_event_handler.py
Due: none

Release v1.9.0 - SSE Foundation Infrastructure (#155)
  CHANGELOG.md
  WARP.md
  docs/architecture/sse-architecture.md
  docs/architecture/sse-registry.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.test.example
  pyproject.toml
  src/core/config.py
  src/core/constants.py
  src/core/container/__init__.py
  src/core/container/events.py
  src/core/container/sse.py
  src/domain/events/__init__.py
  src/domain/events/sse_event.py
  src/domain/events/sse_registry.py
  src/domain/protocols/__init__.py
  src/domain/protocols/sse_publisher_protocol.py
  src/domain/protocols/sse_subscriber_protocol.py
  src/infrastructure/sse/__init__.py
  src/infrastructure/sse/channel_keys.py
  src/infrastructure/sse/redis_publisher.py
  src/infrastructure/sse/redis_subscriber.py
  src/infrastructure/sse/sse_event_handler.py
  src/presentation/routers/api/v1/events.py
  src/presentation/routers/api/v1/routes/derivations.py
  src/presentation/routers/api/v1/routes/metadata.py
  src/presentation/routers/api/v1/routes/registry.py
  tests/api/test_events_endpoints.py
  tests/api/test_route_metadata_registry_compliance.py
  tests/integration/test_sse_redis_pubsub.py
  tests/integration/test_sse_redis_streams.py
  tests/unit/test_core_container_sse.py
  tests/unit/test_domain_sse_event.py
  tests/unit/test_domain_sse_registry_compliance.py
  tests/unit/test_infrastructure_sse_channel_keys.py
  tests/unit/test_infrastructure_sse_event_handler.py
  uv.lock
Due: unit, integration, Core Infrastructure

feat(sse): add data sync progress streaming mappings (#156)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  WARP.md
  docs/architecture/sse-architecture.md
  docs/architecture/sse-registry.md
  src/domain/events/sse_registry.py
  tests/unit/test_core_container_events.py
  tests/unit/test_domain_sse_data_sync_mappings.py
  tests/unit/test_infrastructure_sse_event_handler.py
Due: unit, integration

docs: integrate GitHub Issues workflow with release checklist
  WARP.md
Due: none

feat(sse): add data sync progress streaming mappings (#156) (#162)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  WARP.md
  docs/architecture/sse-architecture.md
  docs/architecture/sse-registry.md
  src/domain/events/sse_registry.py
  tests/unit/test_core_container_events.py
  tests/unit/test_domain_sse_data_sync_mappings.py
  tests/unit/test_infrastructure_sse_event_handler.py
Due: unit, integration

Path conditions:
  unit: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  integration: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  api: any of: src/api/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  API Layer: any of: src/api/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Providers: any of: src/providers/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Services: any of: src/services/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Database Models: any of: src/models/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Core Infrastructure: any of: src/core/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
