Repository faiyaz7283/dashtam-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, api, API Layer, Providers, Services, Database Models, Core Infrastructure

ci: fix code quality checks (format and markdown linting)
  .markdownlint.jsonc
  CHANGELOG.md
  tests/unit/test_value_objects_email_password.py
Due: none

chore(release): bump version to 1.0.3
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

test(coverage): F6.14 Application Handler Test Coverage Improvement (#101)
  .markdownlint.jsonc
  CHANGELOG.md
  Makefile
  WARP.md
  pyproject.toml
  tests/integration/test_sync_handlers.py
  tests/unit/test_auth_flow_handlers.py
  tests/unit/test_core_validation.py
  tests/unit/test_value_objects_email_password.py
  uv.lock
Due: none

feat(geolocation): integrate MaxMind GeoIP2 for IP-to-location resolution
  .gitignore
  CHANGELOG.md
  WARP.md
  docs/guides/session-management-usage.md
  pyproject.toml
  src/core/config.py
  src/core/container/auth_handlers.py
  src/infrastructure/enrichers/device_enricher.py
  src/infrastructure/enrichers/location_enricher.py
  tests/integration/test_location_enricher.py
  uv.lock
Due: unit, integration, Core Infrastructure

feat(geolocation): integrate MaxMind GeoIP2 for IP-to-location resolution (#103)
  .gitignore
  CHANGELOG.md
  WARP.md
  docs/guides/session-management-usage.md
  pyproject.toml
  src/core/config.py
  src/core/container/auth_handlers.py
  src/infrastructure/enrichers/device_enricher.py
  src/infrastructure/enrichers/location_enricher.py
  tests/integration/test_location_enricher.py
  uv.lock
Due: unit, integration, Core Infrastructure

Release v1.1.0: IP Geolocation Integration (#104)
  .gitignore
  CHANGELOG.md
  WARP.md
  docs/guides/session-management-usage.md
  pyproject.toml
  src/core/config.py
  src/core/container/auth_handlers.py
  src/infrastructure/enrichers/device_enricher.py
  src/infrastructure/enrichers/location_enricher.py
  tests/integration/test_location_enricher.py
  uv.lock
Due: unit, integration, Core Infrastructure

fix(config): remove hardcoded APP_VERSION from env files
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
Due: none

fix(config): remove hardcoded APP_VERSION from env files (#105)
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
Due: none

docs(provider): add integration guide and migrate Plaid references to Chase
  CHANGELOG.md
  alembic/seeds/provider_seeder.py
  docs/api/provider-connection.md
  docs/architecture/account-domain-model.md
  docs/architecture/dependency-injection-architecture.md
  docs/architecture/directory-structure.md
  docs/architecture/provider-domain-model.md
  docs/architecture/provider-integration-architecture.md
  docs/architecture/transaction-domain-model.md
  docs/guides/adding-new-providers.md
  docs/guides/key-management.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  src/core/container/providers.py
  src/domain/entities/account.py
  src/domain/entities/provider.py
  src/domain/entities/provider_connection.py
  src/domain/entities/transaction.py
  src/domain/enums/credential_type.py
  src/domain/enums/transaction_status.py
  src/domain/enums/transaction_type.py
  src/domain/errors/provider_error.py
  src/domain/protocols/provider_protocol.py
  src/infrastructure/persistence/models/provider.py
  tests/api/test_oauth_callbacks.py
  tests/unit/test_application_connect_provider_handler.py
  tests/unit/test_domain_provider_credentials.py
Due: unit, integration, Core Infrastructure

docs(provider): add integration guide and migrate Plaid references to Chase (#106)
  CHANGELOG.md
  alembic/seeds/provider_seeder.py
  docs/api/provider-connection.md
  docs/architecture/account-domain-model.md
  docs/architecture/dependency-injection-architecture.md
  docs/architecture/directory-structure.md
  docs/architecture/provider-domain-model.md
  docs/architecture/provider-integration-architecture.md
  docs/architecture/transaction-domain-model.md
  docs/guides/adding-new-providers.md
  docs/guides/key-management.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  src/core/container/providers.py
  src/domain/entities/account.py
  src/domain/entities/provider.py
  src/domain/entities/provider_connection.py
  src/domain/entities/transaction.py
  src/domain/enums/credential_type.py
  src/domain/enums/transaction_status.py
  src/domain/enums/transaction_type.py
  src/domain/errors/provider_error.py
  src/domain/protocols/provider_protocol.py
  src/infrastructure/persistence/models/provider.py
  tests/api/test_oauth_callbacks.py
  tests/unit/test_application_connect_provider_handler.py
  tests/unit/test_domain_provider_credentials.py
Due: unit, integration, Core Infrastructure

docs(warp): add release workflow with post-release sync step
  WARP.md
Due: none

refactor(providers): auth-agnostic provider protocol
  CHANGELOG.md
  docs/architecture/provider-integration-architecture.md
  pyproject.toml
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_holdings_handler.py
  src/application/commands/handlers/sync_transactions_handler.py
  src/core/container/__init__.py
  src/core/container/providers.py
  src/domain/protocols/__init__.py
  src/domain/protocols/provider_protocol.py
  src/infrastructure/providers/schwab/schwab_provider.py
  src/presentation/routers/api/v1/providers.py
  src/presentation/routers/oauth_callbacks.py
  tests/unit/test_application_sync_holdings_handler.py
  uv.lock
Due: unit, integration, Core Infrastructure

refactor(providers): auth-agnostic provider protocol (#109)
  CHANGELOG.md
  docs/architecture/provider-integration-architecture.md
  pyproject.toml
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_holdings_handler.py
  src/application/commands/handlers/sync_transactions_handler.py
  src/core/container/__init__.py
  src/core/container/providers.py
  src/domain/protocols/__init__.py
  src/domain/protocols/provider_protocol.py
  src/infrastructure/providers/schwab/schwab_provider.py
  src/presentation/routers/api/v1/providers.py
  src/presentation/routers/oauth_callbacks.py
  tests/unit/test_application_sync_holdings_handler.py
  uv.lock
Due: unit, integration, Core Infrastructure

docs(warp): add version bumping and tagging strategy
  WARP.md
Due: none

feat(providers): add Alpaca provider integration (F7.1)
  CHANGELOG.md
  WARP.md
  alembic/seeds/provider_seeder.py
  docs/guides/adding-new-providers.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.test.example
  pyproject.toml
  src/core/config.py
  src/core/container/providers.py
  src/infrastructure/providers/alpaca/__init__.py
  src/infrastructure/providers/alpaca/alpaca_provider.py
  src/infrastructure/providers/alpaca/api/__init__.py
  src/infrastructure/providers/alpaca/api/accounts_api.py
  src/infrastructure/providers/alpaca/api/transactions_api.py
  src/infrastructure/providers/alpaca/mappers/__init__.py
  src/infrastructure/providers/alpaca/mappers/account_mapper.py
  src/infrastructure/providers/alpaca/mappers/holding_mapper.py
  src/infrastructure/providers/alpaca/mappers/transaction_mapper.py
  tests/integration/test_alpaca_api.py
  tests/unit/test_infrastructure_alpaca_mappers.py
  tests/unit/test_infrastructure_alpaca_provider.py
  uv.lock
Due: unit, integration, Core Infrastructure

feat(providers): add Alpaca provider integration (F7.1) (#110)
  CHANGELOG.md
  WARP.md
  alembic/seeds/provider_seeder.py
  docs/guides/adding-new-providers.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.test.example
  pyproject.toml
  src/core/config.py
  src/core/container/providers.py
  src/infrastructure/providers/alpaca/__init__.py
  src/infrastructure/providers/alpaca/alpaca_provider.py
  src/infrastructure/providers/alpaca/api/__init__.py
  src/infrastructure/providers/alpaca/api/accounts_api.py
  src/infrastructure/providers/alpaca/api/transactions_api.py
  src/infrastructure/providers/alpaca/mappers/__init__.py
  src/infrastructure/providers/alpaca/mappers/account_mapper.py
  src/infrastructure/providers/alpaca/mappers/holding_mapper.py
  src/infrastructure/providers/alpaca/mappers/transaction_mapper.py
  tests/integration/test_alpaca_api.py
  tests/unit/test_infrastructure_alpaca_mappers.py
  tests/unit/test_infrastructure_alpaca_provider.py
  uv.lock
Due: unit, integration, Core Infrastructure

Release v1.3.0 (#111)
  CHANGELOG.md
  WARP.md
  alembic/seeds/provider_seeder.py
  docs/architecture/provider-integration-architecture.md
  docs/guides/adding-new-providers.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.test.example
  pyproject.toml
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_holdings_handler.py
  src/application/commands/handlers/sync_transactions_handler.py
  src/core/config.py
  src/core/container/__init__.py
  src/core/container/providers.py
  src/domain/protocols/__init__.py
  src/domain/protocols/provider_protocol.py
  src/infrastructure/providers/alpaca/__init__.py
  src/infrastructure/providers/alpaca/alpaca_provider.py
  src/infrastructure/providers/alpaca/api/__init__.py
  src/infrastructure/providers/alpaca/api/accounts_api.py
  src/infrastructure/providers/alpaca/api/transactions_api.py
  src/infrastructure/providers/alpaca/mappers/__init__.py
  src/infrastructure/providers/alpaca/mappers/account_mapper.py
  src/infrastructure/providers/alpaca/mappers/holding_mapper.py
  src/infrastructure/providers/alpaca/mappers/transaction_mapper.py
  src/infrastructure/providers/schwab/schwab_provider.py
  src/presentation/routers/api/v1/providers.py
  src/presentation/routers/oauth_callbacks.py
  tests/integration/test_alpaca_api.py
  tests/unit/test_application_sync_holdings_handler.py
  tests/unit/test_infrastructure_alpaca_mappers.py
  tests/unit/test_infrastructure_alpaca_provider.py
  uv.lock
Due: unit, integration, Core Infrastructure

feat(providers): add Chase File Import Provider (F7.2)
  CHANGELOG.md
  WARP.md
  alembic/seeds/provider_seeder.py
  docs/architecture/provider-integration-architecture.md
  docs/guides/adding-new-providers.md
  docs/guides/chase-file-import.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  src/application/commands/handlers/import_from_file_handler.py
  src/application/commands/import_commands.py
  src/core/container/__init__.py
  src/core/container/data_handlers.py
  src/core/container/providers.py
  src/domain/enums/credential_type.py
  src/infrastructure/persistence/repositories/__init__.py
  src/infrastructure/providers/chase/__init__.py
  src/infrastructure/providers/chase/chase_file_provider.py
  src/infrastructure/providers/chase/mappers/__init__.py
  src/infrastructure/providers/chase/mappers/account_mapper.py
  src/infrastructure/providers/chase/mappers/transaction_mapper.py
  src/infrastructure/providers/chase/parsers/__init__.py
  src/infrastructure/providers/chase/parsers/qfx_parser.py
  src/presentation/routers/api/v1/__init__.py
  src/presentation/routers/api/v1/imports.py
  src/schemas/import_schemas.py
  tests/api/test_imports_api.py
  tests/fixtures/chase_checking_account.qfx
  tests/fixtures/chase_savings_account.qfx
  tests/integration/test_chase_file_import.py
  tests/unit/test_chase_file_provider.py
  tests/unit/test_chase_qfx_parser.py
  tests/unit/test_domain_provider_credentials.py
  uv.lock
Due: unit, integration, Core Infrastructure

feat(providers): add Chase File Import Provider (F7.2) (#112)
  CHANGELOG.md
  WARP.md
  alembic/seeds/provider_seeder.py
  docs/architecture/provider-integration-architecture.md
  docs/guides/adding-new-providers.md
  docs/guides/chase-file-import.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  src/application/commands/handlers/import_from_file_handler.py
  src/application/commands/import_commands.py
  src/core/container/__init__.py
  src/core/container/data_handlers.py
  src/core/container/providers.py
  src/domain/enums/credential_type.py
  src/infrastructure/persistence/repositories/__init__.py
  src/infrastructure/providers/chase/__init__.py
  src/infrastructure/providers/chase/chase_file_provider.py
  src/infrastructure/providers/chase/mappers/__init__.py
  src/infrastructure/providers/chase/mappers/account_mapper.py
  src/infrastructure/providers/chase/mappers/transaction_mapper.py
  src/infrastructure/providers/chase/parsers/__init__.py
  src/infrastructure/providers/chase/parsers/qfx_parser.py
  src/presentation/routers/api/v1/__init__.py
  src/presentation/routers/api/v1/imports.py
  src/schemas/import_schemas.py
  tests/api/test_imports_api.py
  tests/fixtures/chase_checking_account.qfx
  tests/fixtures/chase_savings_account.qfx
  tests/integration/test_chase_file_import.py
  tests/unit/test_chase_file_provider.py
  tests/unit/test_chase_qfx_parser.py
  tests/unit/test_domain_provider_credentials.py
  uv.lock
Due: unit, integration, Core Infrastructure

Release v1.4.0 - Chase File Import Provider (#113)
  CHANGELOG.md
  WARP.md
  alembic/seeds/provider_seeder.py
  docs/architecture/provider-integration-architecture.md
  docs/guides/adding-new-providers.md
  docs/guides/chase-file-import.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  src/application/commands/handlers/import_from_file_handler.py
  src/application/commands/import_commands.py
  src/core/container/__init__.py
  src/core/container/data_handlers.py
  src/core/container/providers.py
  src/domain/enums/credential_type.py
  src/infrastructure/persistence/repositories/__init__.py
  src/infrastructure/providers/chase/__init__.py
  src/infrastructure/providers/chase/chase_file_provider.py
  src/infrastructure/providers/chase/mappers/__init__.py
  src/infrastructure/providers/chase/mappers/account_mapper.py
  src/infrastructure/providers/chase/mappers/transaction_mapper.py
  src/infrastructure/providers/chase/parsers/__init__.py
  src/infrastructure/providers/chase/parsers/qfx_parser.py
  src/presentation/routers/api/v1/__init__.py
  src/presentation/routers/api/v1/imports.py
  src/schemas/import_schemas.py
  tests/api/test_imports_api.py
  tests/fixtures/chase_checking_account.qfx
  tests/fixtures/chase_savings_account.qfx
  tests/integration/test_chase_file_import.py
  tests/unit/test_chase_file_provider.py
  tests/unit/test_chase_qfx_parser.py
  tests/unit/test_domain_provider_credentials.py
  uv.lock
Due: unit, integration, Core Infrastructure

feat(events): Phase 1.5 - Event Registry with auto-wiring and strict mode
  src/core/config.py
  src/core/container/events.py
  src/domain/events/registry.py
  tests/unit/test_domain_events_registry_compliance.py
Due: unit, integration, Core Infrastructure

feat(events): Phase 2 - Add 12 data sync events to registry
  src/domain/events/data_events.py
  src/domain/events/registry.py
Due: unit, integration

feat(events): Phase 3 - Add 22 missing AuditAction enums
  src/domain/enums/audit_action.py
Due: unit, integration

feat(events): Phase 4 - Add 45 missing handler methods (F7.7)
  src/infrastructure/events/handlers/audit_event_handler.py
  src/infrastructure/events/handlers/logging_event_handler.py
Due: unit, integration

feat(events): Phase 5 - Update container wiring verification (F7.7)
  src/core/container/events.py
  tests/unit/test_core_container_events.py
Due: unit, integration, Core Infrastructure

refactor(events): Improve subscription count test - dynamic calculation (F7.7)
  tests/unit/test_core_container_events.py
Due: none

feat(events): Phase 6 - Add 32 handler tests for F7.7 critical events (F7.7)
  tests/unit/test_infrastructure_event_handlers_f77.py
Due: none

feat(build): Add make verify for comprehensive pre-release validation (F7.7 Phase 9)
  Makefile
Due: none

feat(events): implement Event Registry pattern with strict mode default (F7.7)
  CHANGELOG.md
  Makefile
  WARP.md
  docs/architecture/domain-events-architecture.md
  docs/architecture/registry-pattern-architecture.md
  docs/index.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  mkdocs.yml
  pyproject.toml
  src/core/config.py
  src/domain/events/registry.py
  src/infrastructure/events/handlers/audit_event_handler.py
  src/infrastructure/events/handlers/logging_event_handler.py
  tests/unit/test_domain_enums_audit_action.py
  tests/unit/test_domain_events_registry_compliance.py
  uv.lock
Due: unit, integration, Core Infrastructure

docs(events): fix markdown linting in registry pattern doc
  docs/architecture/registry-pattern-architecture.md
Due: none

refactor(ci): improve make verify workflow order and auto-fix logic
  Makefile
Due: none

feat(events): F7.7 - Event Registry Pattern with Strict Mode Default (#114)
  CHANGELOG.md
  Makefile
  WARP.md
  docs/architecture/domain-events-architecture.md
  docs/architecture/registry-pattern-architecture.md
  docs/index.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  mkdocs.yml
  pyproject.toml
  src/core/config.py
  src/core/container/events.py
  src/domain/enums/audit_action.py
  src/domain/events/data_events.py
  src/domain/events/registry.py
  src/infrastructure/events/handlers/audit_event_handler.py
  src/infrastructure/events/handlers/logging_event_handler.py
  tests/unit/test_core_container_events.py
  tests/unit/test_domain_enums_audit_action.py
  tests/unit/test_domain_events_registry_compliance.py
  tests/unit/test_infrastructure_event_handlers_f77.py
  uv.lock
Due: unit, integration, Core Infrastructure

Release v1.5.0 - Event Registry Pattern (#115)
  CHANGELOG.md
  Makefile
  WARP.md
  docs/architecture/domain-events-architecture.md
  docs/architecture/registry-pattern-architecture.md
  docs/index.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  mkdocs.yml
  pyproject.toml
  src/core/config.py
  src/core/container/events.py
  src/domain/enums/audit_action.py
  src/domain/events/data_events.py
  src/domain/events/registry.py
  src/infrastructure/events/handlers/audit_event_handler.py
  src/infrastructure/events/handlers/logging_event_handler.py
  tests/unit/test_core_container_events.py
  tests/unit/test_domain_enums_audit_action.py
  tests/unit/test_domain_events_registry_compliance.py
  tests/unit/test_infrastructure_event_handlers_f77.py
  uv.lock
Due: unit, integration, Core Infrastructure

feat(docs): implement auto-generated API reference with mkdocstrings
  .griffe.yml
  Makefile
  docs/gen_ref_pages.py
  mkdocs.yml
  pyproject.toml
  src/application/commands/handlers/__init__.py
  src/application/queries/handlers/__init__.py
  src/application/services/__init__.py
  src/infrastructure/external/__init__.py
  src/infrastructure/logging/__init__.py
  src/infrastructure/providers/__init__.py
  src/infrastructure/rate_limit/lua_scripts/__init__.py
  src/presentation/routers/api/middleware/__init__.py
  uv.lock
Due: none

docs(release): add comprehensive release management guide and smart CI filtering
  .github/workflows/docs.yml
  Makefile
  docs/guides/release-management.md
  docs/index.md
  mkdocs.yml
Due: none

feat(docs): Auto-generated API reference with mkdocstrings (#116)
  .github/workflows/docs.yml
  .griffe.yml
  Makefile
  docs/gen_ref_pages.py
  docs/guides/release-management.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  src/application/commands/handlers/__init__.py
  src/application/queries/handlers/__init__.py
  src/application/services/__init__.py
  src/infrastructure/external/__init__.py
  src/infrastructure/logging/__init__.py
  src/infrastructure/providers/__init__.py
  src/infrastructure/rate_limit/lua_scripts/__init__.py
  src/presentation/routers/api/middleware/__init__.py
  uv.lock
Due: none

Path conditions:
  unit: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  integration: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  api: any of: src/api/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  API Layer: any of: src/api/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Providers: any of: src/providers/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Services: any of: src/services/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Database Models: any of: src/models/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Core Infrastructure: any of: src/core/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
