Repository faiyaz7283/dashtam-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, api, API Layer, Providers, Services, Database Models, Core Infrastructure

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

# Coverage configuration
coverage:
  precision: 2
  round: down
  range: "70...100"  # Yellow at 70%, green at 100%
  
  status:
    # Project-level coverage checks
    project:
      default:
        target: 85%  # Minimum acceptable coverage
        threshold: 2%  # Allow 2% drop before failing
        base: auto
        if_ci_failed: error
        informational: false
    
    # Patch-level coverage checks (for new code in PRs)
    patch:
      default:
        target: 90%  # New code should have high coverage
        threshold: 5%
        base: auto
        if_ci_failed: error
        informational: false
    
    # Individual file-level changes
    changes:
      default:
        base: auto
        if_ci_failed: error

# Comment configuration for pull requests
comment:
  layout: "header, diff, components, tree"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false
  require_head: true
  branches:
    - development
    - main

# Ignore patterns
ignore:
  - "tests/**/*"
  - "docs/**/*"
  - "scripts/**/*"
  - "alembic/versions/**/*"
  - "**/__init__.py"
  - "**/conftest.py"

# Component-based coverage (optional but useful)
component_management:
  default_rules:
    statuses:
      - type: project
        target: 85%
      - type: patch
        target: 90%
  
  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - src/api/**
    
    - component_id: providers
      name: Providers
      paths:
        - src/providers/**
    
    - component_id: services
      name: Services
      paths:
        - src/services/**
    
    - component_id: models
      name: Database Models
      paths:
        - src/models/**
    
    - component_id: core
      name: Core Infrastructure
      paths:
        - src/core/**

# GitHub integration settings
github_checks:
  annotations: true

# Codecov CLI settings
cli:
  runners:
    retry_count: 3
    retry_delay: 2

# Flag management for different test types
flags:
  unit:
    paths:
      - src/
    carryforward: true
  
  integration:
    paths:
      - src/
    carryforward: true
  
  api:
    paths:
      - src/api/
    carryforward: true

feat(infrastructure): implement Account repository (F3.2)
  alembic/env.py
  alembic/versions/20251201_0450-641ca1055f55_add_accounts_table.py
  src/core/container.py
  src/infrastructure/persistence/models/__init__.py
  src/infrastructure/persistence/models/account.py
  src/infrastructure/persistence/repositories/__init__.py
  src/infrastructure/persistence/repositories/account_repository.py
  tests/integration/test_account_repository.py
Due: unit, integration, Core Infrastructure

feat(infrastructure): implement Account repository (F3.2) (#85)
  alembic/env.py
  alembic/versions/20251201_0450-641ca1055f55_add_accounts_table.py
  src/core/container.py
  src/infrastructure/persistence/models/__init__.py
  src/infrastructure/persistence/models/account.py
  src/infrastructure/persistence/repositories/__init__.py
  src/infrastructure/persistence/repositories/account_repository.py
  tests/integration/test_account_repository.py
Due: unit, integration, Core Infrastructure

feat(infrastructure): add Transaction repository with bulk sync support
  alembic/env.py
  alembic/versions/20251201_0525-8a71627a669d_add_transactions_table.py
  src/core/container.py
  src/infrastructure/persistence/models/__init__.py
  src/infrastructure/persistence/models/transaction.py
  src/infrastructure/persistence/repositories/__init__.py
  src/infrastructure/persistence/repositories/transaction_repository.py
  tests/integration/test_transaction_repository.py
Due: unit, integration, Core Infrastructure

feat(infrastructure): add Transaction repository with bulk sync support (#86)
  alembic/env.py
  alembic/versions/20251201_0525-8a71627a669d_add_transactions_table.py
  src/core/container.py
  src/infrastructure/persistence/models/__init__.py
  src/infrastructure/persistence/models/transaction.py
  src/infrastructure/persistence/repositories/__init__.py
  src/infrastructure/persistence/repositories/transaction_repository.py
  tests/integration/test_transaction_repository.py
Due: unit, integration, Core Infrastructure

feat(application): implement F3.4 Provider Commands & Queries (CQRS)
  docs/architecture/cqrs-pattern.md
  src/application/commands/__init__.py
  src/application/commands/handlers/connect_provider_handler.py
  src/application/commands/handlers/disconnect_provider_handler.py
  src/application/commands/handlers/refresh_provider_tokens_handler.py
  src/application/commands/provider_commands.py
  src/application/queries/__init__.py
  src/application/queries/handlers/get_provider_handler.py
  src/application/queries/handlers/list_providers_handler.py
  src/application/queries/provider_queries.py
  src/core/container.py
  tests/integration/test_provider_connection_repository.py
  tests/integration/test_transaction_repository.py
  tests/unit/test_application_connect_provider_handler.py
  tests/unit/test_application_disconnect_provider_handler.py
  tests/unit/test_application_get_provider_handler.py
  tests/unit/test_application_list_providers_handler.py
  tests/unit/test_application_refresh_provider_tokens_handler.py
Due: unit, integration, Core Infrastructure

feat(application): implement F3.4 Provider Commands & Queries (CQRS) (#87)
  docs/architecture/cqrs-pattern.md
  src/application/commands/__init__.py
  src/application/commands/handlers/connect_provider_handler.py
  src/application/commands/handlers/disconnect_provider_handler.py
  src/application/commands/handlers/refresh_provider_tokens_handler.py
  src/application/commands/provider_commands.py
  src/application/queries/__init__.py
  src/application/queries/handlers/get_provider_handler.py
  src/application/queries/handlers/list_providers_handler.py
  src/application/queries/provider_queries.py
  src/core/container.py
  tests/integration/test_provider_connection_repository.py
  tests/integration/test_transaction_repository.py
  tests/unit/test_application_connect_provider_handler.py
  tests/unit/test_application_disconnect_provider_handler.py
  tests/unit/test_application_get_provider_handler.py
  tests/unit/test_application_list_providers_handler.py
  tests/unit/test_application_refresh_provider_tokens_handler.py
Due: unit, integration, Core Infrastructure

feat(f3.5): add account queries and handlers (CQRS)
  src/application/queries/__init__.py
  src/application/queries/account_queries.py
  src/application/queries/handlers/get_account_handler.py
  src/application/queries/handlers/list_accounts_handler.py
  src/core/container.py
  src/domain/protocols/account_repository.py
  src/infrastructure/persistence/repositories/account_repository.py
  tests/unit/test_application_get_account_handler.py
  tests/unit/test_application_list_accounts_handler.py
Due: unit, integration, Core Infrastructure

feat(f3.5): add account queries and handlers (CQRS) (#88)
  src/application/queries/__init__.py
  src/application/queries/account_queries.py
  src/application/queries/handlers/get_account_handler.py
  src/application/queries/handlers/list_accounts_handler.py
  src/core/container.py
  src/domain/protocols/account_repository.py
  src/infrastructure/persistence/repositories/account_repository.py
  tests/unit/test_application_get_account_handler.py
  tests/unit/test_application_list_accounts_handler.py
Due: unit, integration, Core Infrastructure

feat(application): add transaction commands and queries (F3.6)
  src/application/queries/__init__.py
  src/application/queries/handlers/get_transaction_handler.py
  src/application/queries/handlers/list_transactions_handler.py
  src/application/queries/transaction_queries.py
  src/core/container.py
  tests/unit/test_application_get_account_handler.py
  tests/unit/test_application_get_transaction_handler.py
  tests/unit/test_application_list_accounts_handler.py
  tests/unit/test_application_list_transactions_handler.py
Due: unit, integration, Core Infrastructure

feat(application): add transaction commands and queries (F3.6) (#89)
  src/application/queries/__init__.py
  src/application/queries/handlers/get_transaction_handler.py
  src/application/queries/handlers/list_transactions_handler.py
  src/application/queries/transaction_queries.py
  src/core/container.py
  tests/unit/test_application_get_account_handler.py
  tests/unit/test_application_get_transaction_handler.py
  tests/unit/test_application_list_accounts_handler.py
  tests/unit/test_application_list_transactions_handler.py
Due: unit, integration, Core Infrastructure

test: add integration tests for Phase 1 security services
  tests/integration/test_infrastructure_security_bcrypt_password_service.py
  tests/integration/test_infrastructure_security_email_verification_token_service.py
  tests/integration/test_infrastructure_security_jwt_service.py
  tests/integration/test_infrastructure_security_password_reset_token_service.py
  tests/integration/test_infrastructure_security_refresh_token_service.py
Due: none

docs: enhance architecture documentation for Phase 3 audit
  docs/architecture/cqrs-pattern.md
  docs/architecture/repository-pattern.md
Due: none

style: apply auto-formatting fixes
  tests/unit/test_application_get_transaction_handler.py
  tests/unit/test_application_list_transactions_handler.py
Due: none

docs: add all missing pages to navigation menu
  mkdocs.yml
Due: none

feat: Phase 3 Audit - Test Coverage & Documentation (#90)
  docs/architecture/cqrs-pattern.md
  docs/architecture/repository-pattern.md
  mkdocs.yml
  tests/integration/test_infrastructure_security_bcrypt_password_service.py
  tests/integration/test_infrastructure_security_email_verification_token_service.py
  tests/integration/test_infrastructure_security_jwt_service.py
  tests/integration/test_infrastructure_security_password_reset_token_service.py
  tests/integration/test_infrastructure_security_refresh_token_service.py
  tests/unit/test_application_get_transaction_handler.py
  tests/unit/test_application_list_transactions_handler.py
Due: none

feat(providers): add Provider entity, repository, and OAuth integration tests
  alembic/env.py
  alembic/seeds/__init__.py
  alembic/seeds/provider_seeder.py
  alembic/versions/20251203_0531-24e0820ac347_add_providers_table.py
  alembic/versions/20251203_0538-351384faf4aa_add_fk_provider_connections_provider_id.py
  docs/architecture/provider-integration-architecture.md
  docs/architecture/provider-oauth-architecture.md
  pyproject.toml
  src/application/queries/handlers/list_transactions_handler.py
  src/core/container.py
  src/core/enums/error_code.py
  src/domain/entities/__init__.py
  src/domain/entities/provider.py
  src/domain/protocols/__init__.py
  src/domain/protocols/provider_protocol.py
  src/domain/protocols/provider_repository.py
  src/infrastructure/errors/__init__.py
  src/infrastructure/errors/infrastructure_error.py
  src/infrastructure/persistence/models/__init__.py
  src/infrastructure/persistence/models/provider.py
  src/infrastructure/persistence/models/provider_connection.py
  src/infrastructure/persistence/repositories/provider_repository.py
  src/infrastructure/providers/encryption_service.py
  src/infrastructure/providers/schwab/__init__.py
  src/infrastructure/providers/schwab/schwab_provider.py
  src/main.py
  src/presentation/routers/__init__.py
  src/presentation/routers/oauth_callbacks.py
  tests/api/test_oauth_callbacks.py
  tests/conftest.py
  tests/integration/test_account_repository.py
  tests/integration/test_connect_provider_handler.py
  tests/integration/test_provider_connection_repository.py
  tests/integration/test_provider_repository.py
  tests/integration/test_transaction_repository.py
  tests/unit/test_domain_provider.py
  tests/unit/test_infrastructure_encryption_service.py
  tests/unit/test_infrastructure_schwab_oauth.py
  uv.lock
Due: unit, integration, Core Infrastructure

feat(provider): implement Schwab Account & Transaction APIs (F4.2, F4.3)
  pyproject.toml
  src/infrastructure/providers/schwab/__init__.py
  src/infrastructure/providers/schwab/api/__init__.py
  src/infrastructure/providers/schwab/api/accounts_api.py
  src/infrastructure/providers/schwab/api/transactions_api.py
  src/infrastructure/providers/schwab/mappers/__init__.py
  src/infrastructure/providers/schwab/mappers/account_mapper.py
  src/infrastructure/providers/schwab/mappers/transaction_mapper.py
  src/infrastructure/providers/schwab/schwab_provider.py
  tests/integration/test_schwab_accounts_api.py
  tests/integration/test_schwab_transactions_api.py
  tests/unit/test_domain_provider_connection.py
  tests/unit/test_infrastructure_schwab_account_mapper.py
  tests/unit/test_infrastructure_schwab_transaction_mapper.py
  uv.lock
Due: unit, integration

feat(api): Phase 5 - API Endpoints (F5.1, F5.2, F5.3)
  WARP.md
  docs/architecture/api-design-patterns.md
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_transactions_handler.py
  src/application/commands/sync_commands.py
  src/core/container.py
  src/presentation/api/v1/__init__.py
  src/presentation/api/v1/accounts.py
  src/presentation/api/v1/providers.py
  src/presentation/api/v1/transactions.py
  src/schemas/account_schemas.py
  src/schemas/common_schemas.py
  src/schemas/provider_schemas.py
  src/schemas/transaction_schemas.py
  tests/api/test_accounts_endpoints.py
  tests/api/test_providers_endpoints.py
  tests/api/test_transactions_endpoints.py
Due: unit, integration, Core Infrastructure

feat(api): Phase 5 - API Endpoints (F5.1, F5.2, F5.3) (#92)
  WARP.md
  docs/architecture/api-design-patterns.md
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_transactions_handler.py
  src/application/commands/sync_commands.py
  src/core/container.py
  src/presentation/api/v1/__init__.py
  src/presentation/api/v1/accounts.py
  src/presentation/api/v1/providers.py
  src/presentation/api/v1/transactions.py
  src/schemas/account_schemas.py
  src/schemas/common_schemas.py
  src/schemas/provider_schemas.py
  src/schemas/transaction_schemas.py
  tests/api/test_accounts_endpoints.py
  tests/api/test_providers_endpoints.py
  tests/api/test_transactions_endpoints.py
Due: unit, integration, Core Infrastructure

docs(api): add Phase 5 API documentation
  docs/api/account-operations.md
  docs/api/provider-connection.md
  docs/api/transaction-operations.md
Due: none

docs(api): add Phase 5 API documentation (#93)
  docs/api/account-operations.md
  docs/api/provider-connection.md
  docs/api/transaction-operations.md
Due: none

feat(arch): audit dependency-injection-architecture.md
  WARP.md
  docs/architecture/dependency-injection-architecture.md
  docs/guides/dependency-injection-usage.md
  src/core/container.py
  src/core/container/__init__.py
  src/core/container/auth_handlers.py
  src/core/container/authorization.py
  src/core/container/data_handlers.py
  src/core/container/events.py
  src/core/container/infrastructure.py
  src/core/container/provider_handlers.py
  src/core/container/providers.py
  src/core/container/repositories.py
  tests/unit/test_core_container_infrastructure.py
  tests/unit/test_core_container_logger.py
Due: unit, integration, Core Infrastructure

feat(arch): audit structured-logging-architecture.md
  docs/architecture/structured-logging-architecture.md
  docs/guides/structured-logging-usage.md
  src/core/config.py
  src/core/container/infrastructure.py
  src/infrastructure/logging/console_adapter.py
Due: unit, integration, Core Infrastructure

feat(arch): audit secrets-management-architecture.md
  docs/architecture/secrets-management-architecture.md
  docs/guides/secrets-management-usage.md
Due: none

feat(arch): audit database-architecture.md
  docs/architecture/database-architecture.md
  docs/guides/database-usage.md
Due: none

feat(cache): complete cache architecture audit with batch operations and type safety
  docs/architecture/cache-architecture.md
  docs/guides/cache-usage.md
  src/core/container/auth_handlers.py
  src/domain/protocols/cache_protocol.py
  src/infrastructure/cache/redis_adapter.py
  src/infrastructure/cache/session_cache.py
  tests/conftest.py
  tests/integration/test_cache_redis.py
Due: unit, integration, Core Infrastructure

docs(database): fix /tmp/ path references to docs/architecture/
  docs/architecture/database-architecture.md
Due: none

docs(security): complete security & auth architecture audit
  docs/architecture/audit-trail-architecture.md
  docs/architecture/authentication-architecture.md
  docs/architecture/authorization-architecture.md
  docs/architecture/rate-limit-architecture.md
  docs/architecture/session-management-architecture.md
  docs/architecture/token-breach-rotation-architecture.md
  docs/guides/authentication-usage.md
  docs/guides/authorization-usage.md
  docs/guides/rate-limit-usage.md
  docs/guides/session-management-usage.md
Due: none

docs(events): audit domain-events architecture and usage guide
  docs/architecture/domain-events-architecture.md
  docs/guides/domain-events-usage.md
Due: none

docs(cqrs): audit cqrs-pattern architecture
  docs/architecture/cqrs-pattern.md
Due: none

docs(repository): audit repository-pattern architecture
  docs/architecture/repository-pattern.md
Due: none

docs(architecture): audit account-domain-model.md and fix cqrs-pattern.md diagram
  docs/architecture/account-domain-model.md
  docs/architecture/cqrs-pattern.md
Due: none

docs(architecture): audit transaction-domain-model.md
  docs/architecture/transaction-domain-model.md
Due: none

docs(architecture): audit provider-domain-model.md
  docs/architecture/provider-domain-model.md
Due: none

docs(architecture): audit Group 4 - Provider & API docs
  docs/architecture/api-design-patterns.md
  docs/architecture/provider-integration-architecture.md
  docs/architecture/provider-oauth-architecture.md
  docs/architecture/testing-architecture.md
Due: none

feat(phase6): move system endpoints to dedicated router
  src/main.py
  src/presentation/routers/__init__.py
  src/presentation/routers/system.py
  tests/api/test_system_routes.py
Due: unit, integration

refactor(tests): migrate API tests to real app pattern (F6.9)
  tests/api/test_admin_rotation_api.py
  tests/api/test_authorization_api.py
  tests/api/test_sessions_api.py
Due: none
