Repository faiyaz7283/dashtam-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, api, API Layer, Providers, Services, Database Models, Core Infrastructure

fix(audit): implement ATTEMPT → OUTCOME semantic accuracy pattern (#68)
  docs/api-flows/audit/audit-logging-examples.md
  docs/architecture/audit-trail-architecture.md
  docs/guides/audit-usage-patterns.md
  docs/index.md
  mkdocs.yml
  src/core/container.py
  src/domain/enums/audit_action.py
  src/infrastructure/audit/postgres_adapter.py
  tests/integration/test_audit_durability.py
  tests/integration/test_audit_postgres_adapter.py
  tests/unit/test_domain_enums_audit_action.py
  tests/unit/test_infrastructure_audit_postgres_adapter.py
Due: unit, integration, Core Infrastructure

feat(events): implement domain events with in-memory event bus
  .markdownlint.jsonc
  docs/architecture/domain-events-architecture.md
  docs/guides/domain-events-usage.md
  docs/index.md
  mkdocs.yml
  src/core/container.py
  src/domain/events/__init__.py
  src/domain/events/authentication_events.py
  src/domain/events/base_event.py
  src/domain/protocols/event_bus_protocol.py
  src/infrastructure/events/__init__.py
  src/infrastructure/events/handlers/__init__.py
  src/infrastructure/events/handlers/audit_event_handler.py
  src/infrastructure/events/handlers/email_event_handler.py
  src/infrastructure/events/handlers/logging_event_handler.py
  src/infrastructure/events/handlers/session_event_handler.py
  src/infrastructure/events/in_memory_event_bus.py
  tests/integration/test_audit_durability.py
  tests/integration/test_audit_postgres_adapter.py
  tests/integration/test_domain_events_flow.py
  tests/unit/test_domain_events_authentication_events.py
  tests/unit/test_domain_events_event_bus.py
  tests/unit/test_infrastructure_audit_postgres_adapter.py
  tests/unit/test_infrastructure_event_handlers.py
Due: unit, integration, Core Infrastructure

fix(events): pass session to event handlers via event bus
  docs/architecture/domain-events-architecture.md
  src/core/container.py
  src/domain/protocols/event_bus_protocol.py
  src/infrastructure/events/handlers/audit_event_handler.py
  src/infrastructure/events/in_memory_event_bus.py
  tests/integration/test_domain_events_flow.py
  tests/unit/test_infrastructure_event_handlers.py
Due: unit, integration, Core Infrastructure

fix(events): pass session to event handlers via event bus (#69)
  docs/architecture/domain-events-architecture.md
  src/core/container.py
  src/domain/protocols/event_bus_protocol.py
  src/infrastructure/events/handlers/audit_event_handler.py
  src/infrastructure/events/in_memory_event_bus.py
  tests/integration/test_domain_events_flow.py
  tests/unit/test_infrastructure_event_handlers.py
Due: unit, integration, Core Infrastructure

refactor(events): enforce strict session requirement in AuditEventHandler
  docs/guides/domain-events-usage.md
  src/infrastructure/events/handlers/audit_event_handler.py
  tests/unit/test_infrastructure_event_handlers.py
Due: unit, integration

feat(error-handling): implement RFC 7807 error handling (F0.11)
  docs/architecture/testing-architecture.md
  docs/guides/error-handling-usage.md
  env/.env.prod.example
  mkdocs.yml
  src/application/errors/__init__.py
  src/application/errors/application_error.py
  src/main.py
  src/presentation/api/v1/errors/__init__.py
  src/presentation/api/v1/errors/error_response_builder.py
  src/presentation/api/v1/errors/exception_handlers.py
  src/presentation/api/v1/errors/problem_details.py
  tests/integration/test_error_handling_flow.py
  tests/unit/test_application_errors.py
  tests/unit/test_presentation_error_response_builder.py
  tests/unit/test_presentation_problem_details.py
Due: unit, integration

feat(error-handling): implement RFC 7807 error handling (F0.11) (#70)
  docs/architecture/testing-architecture.md
  docs/guides/error-handling-usage.md
  env/.env.prod.example
  mkdocs.yml
  src/application/errors/__init__.py
  src/application/errors/application_error.py
  src/main.py
  src/presentation/api/v1/errors/__init__.py
  src/presentation/api/v1/errors/error_response_builder.py
  src/presentation/api/v1/errors/exception_handlers.py
  src/presentation/api/v1/errors/problem_details.py
  tests/integration/test_error_handling_flow.py
  tests/unit/test_application_errors.py
  tests/unit/test_presentation_error_response_builder.py
  tests/unit/test_presentation_problem_details.py
Due: unit, integration

fix(config): replace hardcoded verification URL with configuration-based setting
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  src/core/config.py
  src/core/container.py
  src/infrastructure/events/handlers/email_event_handler.py
  tests/unit/test_core_config.py
  tests/unit/test_infrastructure_event_handlers.py
Due: unit, integration, Core Infrastructure

fix(config): replace hardcoded verification URL with configuration-based setting (#71)
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  src/core/config.py
  src/core/container.py
  src/infrastructure/events/handlers/email_event_handler.py
  tests/unit/test_core_config.py
  tests/unit/test_infrastructure_event_handlers.py
Due: unit, integration, Core Infrastructure

test(cache): add 9 Redis adapter integration tests to increase coverage
  tests/integration/test_cache_redis.py
Due: none

refactor(secrets): extract duplicate get_secret_json to BaseSecretsAdapter
  src/infrastructure/secrets/__init__.py
  src/infrastructure/secrets/aws_adapter.py
  src/infrastructure/secrets/base_adapter.py
  src/infrastructure/secrets/env_adapter.py
Due: unit, integration

test(cache): Add Redis adapter integration tests to increase coverage (#72)
  src/infrastructure/secrets/__init__.py
  src/infrastructure/secrets/aws_adapter.py
  src/infrastructure/secrets/base_adapter.py
  src/infrastructure/secrets/env_adapter.py
  tests/integration/test_cache_redis.py
Due: unit, integration

test(session): add integration tests for RedisSessionCache
  WARP.md
  pyproject.toml
  tests/conftest.py
  tests/integration/test_session_cache.py
Due: none

test(session): add integration tests for RedisSessionCache (#75)
  WARP.md
  pyproject.toml
  tests/conftest.py
  tests/integration/test_session_cache.py
Due: none

feat(auth): add token breach rotation for emergency token invalidation
  alembic/env.py
  alembic/versions/20251127_0148-a6af49534f78_add_token_breach_rotation_fields.py
  alembic/versions/20251127_0306-f83d1b1ef7e2_fix_security_config_timezone.py
  docs/api/admin-token-rotation.md
  docs/architecture/authentication-architecture.md
  docs/architecture/token-breach-rotation-architecture.md
  src/application/commands/handlers/generate_auth_tokens_handler.py
  src/application/commands/handlers/refresh_access_token_handler.py
  src/application/commands/handlers/trigger_global_rotation_handler.py
  src/application/commands/handlers/trigger_user_rotation_handler.py
  src/application/commands/rotation_commands.py
  src/core/container.py
  src/domain/entities/__init__.py
  src/domain/entities/security_config.py
  src/domain/entities/user.py
  src/domain/events/__init__.py
  src/domain/events/auth_events.py
  src/domain/protocols/__init__.py
  src/domain/protocols/refresh_token_repository.py
  src/domain/protocols/security_config_repository.py
  src/infrastructure/persistence/models/__init__.py
  src/infrastructure/persistence/models/refresh_token.py
  src/infrastructure/persistence/models/security_config.py
  src/infrastructure/persistence/models/user.py
  src/infrastructure/persistence/repositories/__init__.py
  src/infrastructure/persistence/repositories/refresh_token_repository.py
  src/infrastructure/persistence/repositories/security_config_repository.py
  src/infrastructure/persistence/repositories/user_repository.py
  src/presentation/api/v1/__init__.py
  src/presentation/api/v1/admin/__init__.py
  src/presentation/api/v1/admin/token_rotation.py
  src/schemas/rotation_schemas.py
  tests/api/test_admin_rotation_api.py
  tests/integration/test_security_config_repository.py
  tests/unit/test_application_generate_auth_tokens_handler.py
  tests/unit/test_application_rotation_handlers.py
Due: unit, integration, Core Infrastructure

feat(auth): add token breach rotation for emergency token invalidation (#76)
  alembic/env.py
  alembic/versions/20251127_0148-a6af49534f78_add_token_breach_rotation_fields.py
  alembic/versions/20251127_0306-f83d1b1ef7e2_fix_security_config_timezone.py
  docs/api/admin-token-rotation.md
  docs/architecture/authentication-architecture.md
  docs/architecture/token-breach-rotation-architecture.md
  src/application/commands/handlers/generate_auth_tokens_handler.py
  src/application/commands/handlers/refresh_access_token_handler.py
  src/application/commands/handlers/trigger_global_rotation_handler.py
  src/application/commands/handlers/trigger_user_rotation_handler.py
  src/application/commands/rotation_commands.py
  src/core/container.py
  src/domain/entities/__init__.py
  src/domain/entities/security_config.py
  src/domain/entities/user.py
  src/domain/events/__init__.py
  src/domain/events/auth_events.py
  src/domain/protocols/__init__.py
  src/domain/protocols/refresh_token_repository.py
  src/domain/protocols/security_config_repository.py
  src/infrastructure/persistence/models/__init__.py
  src/infrastructure/persistence/models/refresh_token.py
  src/infrastructure/persistence/models/security_config.py
  src/infrastructure/persistence/models/user.py
  src/infrastructure/persistence/repositories/__init__.py
  src/infrastructure/persistence/repositories/refresh_token_repository.py
  src/infrastructure/persistence/repositories/security_config_repository.py
  src/infrastructure/persistence/repositories/user_repository.py
  src/presentation/api/v1/__init__.py
  src/presentation/api/v1/admin/__init__.py
  src/presentation/api/v1/admin/token_rotation.py
  src/schemas/rotation_schemas.py
  tests/api/test_admin_rotation_api.py
  tests/integration/test_security_config_repository.py
  tests/unit/test_application_generate_auth_tokens_handler.py
  tests/unit/test_application_rotation_handlers.py
Due: unit, integration, Core Infrastructure

feat(auth): add user authorization with Casbin RBAC
  .markdownlint.jsonc
  alembic/env.py
  alembic/seeds/__init__.py
  alembic/seeds/rbac_seeder.py
  alembic/versions/20251110_2340-bb433187db3b_initial_database_setup.py
  alembic/versions/20251127_0630-f799ad043ec5_add_casbin_rule_table_for_rbac.py
  alembic/versions/20251127_0713-421e9f50970f_add_casbin_rule_v3_v5_columns.py
  docs/architecture/authorization-architecture.md
  docs/guides/database-seeding.md
  pyproject.toml
  src/core/container.py
  src/domain/enums/__init__.py
  src/domain/enums/permission.py
  src/domain/enums/user_role.py
  src/domain/events/__init__.py
  src/domain/events/authorization_events.py
  src/domain/protocols/__init__.py
  src/domain/protocols/authorization_protocol.py
  src/infrastructure/authorization/__init__.py
  src/infrastructure/authorization/casbin_adapter.py
  src/infrastructure/authorization/model.conf
  src/infrastructure/persistence/models/__init__.py
  src/infrastructure/persistence/models/casbin_rule.py
  src/main.py
  src/presentation/api/middleware/authorization_dependencies.py
  tests/unit/test_domain_enums_authorization.py
  tests/unit/test_domain_events_authorization.py
  uv.lock
Due: unit, integration, Core Infrastructure

feat(auth): add integration and API tests for authorization
  pyproject.toml
  src/domain/protocols/cache_protocol.py
  src/infrastructure/authorization/casbin_adapter.py
  src/infrastructure/cache/redis_adapter.py
  tests/api/test_authorization_api.py
  tests/conftest.py
  tests/integration/test_authorization_casbin.py
  tests/unit/test_domain_events_authorization.py
Due: unit, integration

F1.1b: User Authorization (Casbin RBAC) (#77)
  .markdownlint.jsonc
  alembic/env.py
  alembic/seeds/__init__.py
  alembic/seeds/rbac_seeder.py
  alembic/versions/20251110_2340-bb433187db3b_initial_database_setup.py
  alembic/versions/20251127_0630-f799ad043ec5_add_casbin_rule_table_for_rbac.py
  alembic/versions/20251127_0713-421e9f50970f_add_casbin_rule_v3_v5_columns.py
  docs/architecture/authorization-architecture.md
  docs/guides/database-seeding.md
  pyproject.toml
  src/core/container.py
  src/domain/enums/__init__.py
  src/domain/enums/permission.py
  src/domain/enums/user_role.py
  src/domain/events/__init__.py
  src/domain/events/authorization_events.py
  src/domain/protocols/__init__.py
  src/domain/protocols/authorization_protocol.py
  src/domain/protocols/cache_protocol.py
  src/infrastructure/authorization/__init__.py
  src/infrastructure/authorization/casbin_adapter.py
  src/infrastructure/authorization/model.conf
  src/infrastructure/cache/redis_adapter.py
  src/infrastructure/persistence/models/__init__.py
  src/infrastructure/persistence/models/casbin_rule.py
  src/main.py
  src/presentation/api/middleware/authorization_dependencies.py
  tests/api/test_authorization_api.py
  tests/conftest.py
  tests/integration/test_authorization_casbin.py
  tests/unit/test_domain_enums_authorization.py
  tests/unit/test_domain_events_authorization.py
  uv.lock
Due: unit, integration, Core Infrastructure

feat(rate-limit): implement F1.2 token bucket rate limiting
  docs/architecture/rate-limit-architecture.md
  pytest.ini
  src/application/dependencies/__init__.py
  src/application/dependencies/rate_limit.py
  src/core/container.py
  src/core/enums/error_code.py
  src/domain/enums/__init__.py
  src/domain/enums/audit_action.py
  src/domain/enums/rate_limit_scope.py
  src/domain/errors/__init__.py
  src/domain/errors/rate_limit_error.py
  src/domain/events/__init__.py
  src/domain/events/rate_limit_events.py
  src/domain/protocols/__init__.py
  src/domain/protocols/rate_limit_protocol.py
  src/domain/value_objects/__init__.py
  src/domain/value_objects/rate_limit_rule.py
  src/infrastructure/enrichers/device_enricher.py
  src/infrastructure/rate_limit/__init__.py
  src/infrastructure/rate_limit/config.py
  src/infrastructure/rate_limit/lua_scripts/token_bucket.lua
  src/infrastructure/rate_limit/redis_storage.py
  src/infrastructure/rate_limit/token_bucket_adapter.py
  src/main.py
  src/presentation/api/middleware/rate_limit_middleware.py
  tests/api/test_rate_limit_headers.py
  tests/api/test_rate_limit_middleware.py
  tests/integration/test_infrastructure_redis_rate_limit_storage.py
  tests/integration/test_infrastructure_token_bucket_adapter.py
  tests/unit/test_domain_enums_audit_action.py
  tests/unit/test_domain_rate_limit_rule.py
  tests/unit/test_domain_rate_limit_scope.py
  tests/unit/test_infrastructure_token_bucket.py
Due: unit, integration, Core Infrastructure

feat(rate-limit): implement F1.2 token bucket rate limiting (#78)
  docs/architecture/rate-limit-architecture.md
  pytest.ini
  src/application/dependencies/__init__.py
  src/application/dependencies/rate_limit.py
  src/core/container.py
  src/core/enums/error_code.py
  src/domain/enums/__init__.py
  src/domain/enums/audit_action.py
  src/domain/enums/rate_limit_scope.py
  src/domain/errors/__init__.py
  src/domain/errors/rate_limit_error.py
  src/domain/events/__init__.py
  src/domain/events/rate_limit_events.py
  src/domain/protocols/__init__.py
  src/domain/protocols/rate_limit_protocol.py
  src/domain/value_objects/__init__.py
  src/domain/value_objects/rate_limit_rule.py
  src/infrastructure/enrichers/device_enricher.py
  src/infrastructure/rate_limit/__init__.py
  src/infrastructure/rate_limit/config.py
  src/infrastructure/rate_limit/lua_scripts/token_bucket.lua
  src/infrastructure/rate_limit/redis_storage.py
  src/infrastructure/rate_limit/token_bucket_adapter.py
  src/main.py
  src/presentation/api/middleware/rate_limit_middleware.py
  tests/api/test_rate_limit_headers.py
  tests/api/test_rate_limit_middleware.py
  tests/integration/test_infrastructure_redis_rate_limit_storage.py
  tests/integration/test_infrastructure_token_bucket_adapter.py
  tests/unit/test_domain_enums_audit_action.py
  tests/unit/test_domain_rate_limit_rule.py
  tests/unit/test_domain_rate_limit_scope.py
  tests/unit/test_infrastructure_token_bucket.py
Due: unit, integration, Core Infrastructure

fix(tests): add missing @pytest.mark.asyncio decorators to rate limit tests
  tests/integration/test_infrastructure_redis_rate_limit_storage.py
  tests/integration/test_infrastructure_token_bucket_adapter.py
  tests/unit/test_infrastructure_token_bucket.py
Due: none

docs(warp): consolidate architecture docs and fill missing sections
  WARP.md
  docs/architecture/directory-structure.md
Due: none

docs(warp): consolidate architecture docs and fill missing sections (#79)
  WARP.md
  docs/architecture/directory-structure.md
  tests/integration/test_infrastructure_redis_rate_limit_storage.py
  tests/integration/test_infrastructure_token_bucket_adapter.py
  tests/unit/test_infrastructure_token_bucket.py
Due: none

feat(domain): add provider connection domain model (F2.1)
  docs/architecture/provider-domain-model.md
  src/domain/entities/__init__.py
  src/domain/entities/provider_connection.py
  src/domain/enums/__init__.py
  src/domain/enums/connection_status.py
  src/domain/enums/credential_type.py
  src/domain/errors/__init__.py
  src/domain/errors/provider_connection_error.py
  src/domain/events/__init__.py
  src/domain/events/auth_events.py
  src/domain/events/provider_events.py
  src/domain/protocols/__init__.py
  src/domain/protocols/provider_connection_repository.py
  src/domain/value_objects/__init__.py
  src/domain/value_objects/provider_credentials.py
Due: unit, integration

test(domain): add unit tests for provider domain model (F2.1)
  tests/conftest.py
  tests/unit/test_domain_provider_connection.py
  tests/unit/test_domain_provider_credentials.py
  tests/unit/test_domain_provider_events.py
Due: none

feat(domain): F2.1 - Provider Connection Domain Model (#80)
  docs/architecture/provider-domain-model.md
  src/domain/entities/__init__.py
  src/domain/entities/provider_connection.py
  src/domain/enums/__init__.py
  src/domain/enums/connection_status.py
  src/domain/enums/credential_type.py
  src/domain/errors/__init__.py
  src/domain/errors/provider_connection_error.py
  src/domain/events/__init__.py
  src/domain/events/auth_events.py
  src/domain/events/provider_events.py
  src/domain/protocols/__init__.py
  src/domain/protocols/provider_connection_repository.py
  src/domain/value_objects/__init__.py
  src/domain/value_objects/provider_credentials.py
  tests/conftest.py
  tests/unit/test_domain_provider_connection.py
  tests/unit/test_domain_provider_credentials.py
  tests/unit/test_domain_provider_events.py
Due: unit, integration

feat(domain): add Account domain model (F2.2)
  docs/architecture/account-domain-model.md
  docs/architecture/error-handling-architecture.md
  pyproject.toml
  src/core/container.py
  src/domain/entities/__init__.py
  src/domain/entities/account.py
  src/domain/enums/__init__.py
  src/domain/enums/account_type.py
  src/domain/errors/__init__.py
  src/domain/errors/account_error.py
  src/domain/protocols/__init__.py
  src/domain/protocols/account_repository.py
  src/domain/value_objects/__init__.py
  src/domain/value_objects/money.py
  src/infrastructure/events/handlers/audit_event_handler.py
  src/infrastructure/events/handlers/logging_event_handler.py
  tests/integration/test_domain_events_flow.py
  tests/unit/test_domain_account.py
  tests/unit/test_domain_events_authentication_events.py
  tests/unit/test_domain_money.py
  tests/unit/test_infrastructure_event_handlers.py
Due: unit, integration, Core Infrastructure

feat(domain): add Account domain model (F2.2) (#81)
  docs/architecture/account-domain-model.md
  docs/architecture/error-handling-architecture.md
  pyproject.toml
  src/core/container.py
  src/domain/entities/__init__.py
  src/domain/entities/account.py
  src/domain/enums/__init__.py
  src/domain/enums/account_type.py
  src/domain/errors/__init__.py
  src/domain/errors/account_error.py
  src/domain/protocols/__init__.py
  src/domain/protocols/account_repository.py
  src/domain/value_objects/__init__.py
  src/domain/value_objects/money.py
  src/infrastructure/events/handlers/audit_event_handler.py
  src/infrastructure/events/handlers/logging_event_handler.py
  tests/integration/test_domain_events_flow.py
  tests/unit/test_domain_account.py
  tests/unit/test_domain_events_authentication_events.py
  tests/unit/test_domain_money.py
  tests/unit/test_infrastructure_event_handlers.py
Due: unit, integration, Core Infrastructure

feat(domain): implement F2.3 Transaction domain model
  docs/architecture/transaction-domain-model.md
  docs/guides/enum-security-guidelines.md
  src/domain/entities/__init__.py
  src/domain/entities/account.py
  src/domain/entities/transaction.py
  src/domain/enums/__init__.py
  src/domain/enums/asset_type.py
  src/domain/enums/transaction_status.py
  src/domain/enums/transaction_subtype.py
  src/domain/enums/transaction_type.py
  src/domain/errors/__init__.py
  src/domain/errors/transaction_error.py
  src/domain/protocols/__init__.py
  src/domain/protocols/transaction_repository.py
  src/domain/value_objects/money.py
  tests/unit/test_domain_transaction.py
Due: unit, integration

feat(domain): implement F2.3 Transaction domain model (#82)
  docs/architecture/transaction-domain-model.md
  docs/guides/enum-security-guidelines.md
  src/domain/entities/__init__.py
  src/domain/entities/account.py
  src/domain/entities/transaction.py
  src/domain/enums/__init__.py
  src/domain/enums/asset_type.py
  src/domain/enums/transaction_status.py
  src/domain/enums/transaction_subtype.py
  src/domain/enums/transaction_type.py
  src/domain/errors/__init__.py
  src/domain/errors/transaction_error.py
  src/domain/protocols/__init__.py
  src/domain/protocols/transaction_repository.py
  src/domain/value_objects/money.py
  tests/unit/test_domain_transaction.py
Due: unit, integration

feat(f3.1): add provider connection repository
  alembic/versions/20251201_0310-15dca8efc4fd_add_provider_connections_table.py
  docs/architecture/repository-pattern.md
  src/core/container.py
  src/infrastructure/persistence/models/__init__.py
  src/infrastructure/persistence/models/provider_connection.py
  src/infrastructure/persistence/repositories/__init__.py
  src/infrastructure/persistence/repositories/provider_connection_repository.py
  tests/integration/test_provider_connection_repository.py
Due: unit, integration, Core Infrastructure

feat(f3.1): add provider connection repository (#84)
  alembic/versions/20251201_0310-15dca8efc4fd_add_provider_connections_table.py
  docs/architecture/repository-pattern.md
  src/core/container.py
  src/infrastructure/persistence/models/__init__.py
  src/infrastructure/persistence/models/provider_connection.py
  src/infrastructure/persistence/repositories/__init__.py
  src/infrastructure/persistence/repositories/provider_connection_repository.py
  tests/integration/test_provider_connection_repository.py
Due: unit, integration, Core Infrastructure

Path conditions:
  unit: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  integration: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  api: any of: src/api/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  API Layer: any of: src/api/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Providers: any of: src/providers/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Services: any of: src/services/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Database Models: any of: src/models/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Core Infrastructure: any of: src/core/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
