Repository faiyaz7283/dashtam-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, api, API Layer, Providers, Services, Database Models, Core Infrastructure

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

# Coverage configuration
coverage:
  precision: 2
  round: down
  range: "70...100"  # Yellow at 70%, green at 100%
  
  status:
    # Project-level coverage checks
    project:
      default:
        target: 85%  # Minimum acceptable coverage
        threshold: 2%  # Allow 2% drop before failing
        base: auto
        if_ci_failed: error
        informational: false
    
    # Patch-level coverage checks (for new code in PRs)
    patch:
      default:
        target: 90%  # New code should have high coverage
        threshold: 5%
        base: auto
        if_ci_failed: error
        informational: false
    
    # Individual file-level changes
    changes:
      default:
        base: auto
        if_ci_failed: error

# Comment configuration for pull requests
comment:
  layout: "header, diff, components, tree"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false
  require_head: true
  branches:
    - development
    - main

# Ignore patterns
ignore:
  - "tests/**/*"
  - "docs/**/*"
  - "scripts/**/*"
  - "alembic/versions/**/*"
  - "**/__init__.py"
  - "**/conftest.py"

# Component-based coverage (optional but useful)
component_management:
  default_rules:
    statuses:
      - type: project
        target: 85%
      - type: patch
        target: 90%
  
  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - src/api/**
    
    - component_id: providers
      name: Providers
      paths:
        - src/providers/**
    
    - component_id: services
      name: Services
      paths:
        - src/services/**
    
    - component_id: models
      name: Database Models
      paths:
        - src/models/**
    
    - component_id: core
      name: Core Infrastructure
      paths:
        - src/core/**

# GitHub integration settings
github_checks:
  annotations: true

# Codecov CLI settings
cli:
  runners:
    retry_count: 3
    retry_delay: 2

# Flag management for different test types
flags:
  unit:
    paths:
      - src/
    carryforward: true
  
  integration:
    paths:
      - src/
    carryforward: true
  
  api:
    paths:
      - src/api/
    carryforward: true

fix(docs): auto-fix markdown linting issues (47→30 errors) and add site/ to gitignore
  .gitignore
  docs/api-flows/index.md
  docs/api/core.md
  docs/index.md
  docs/research/index.md
  docs/reviews/DOCUMENTATION_AUDIT_2025-10-05.md
  docs/reviews/index.md
Due: none

fix(docs): fix remaining markdown linting errors (30→0)
  docs/api-flows/index.md
  docs/index.md
  docs/research/index.md
  docs/reviews/DOCUMENTATION_AUDIT_2025-10-05.md
  docs/reviews/index.md
Due: none

docs(roadmap): update technical debt roadmap with MkDocs completion and fix lint command references
  WARP.md
  docs/development/guides/markdown-linting-guide.md
  docs/development/technical-debt-roadmap.md
  docs/development/troubleshooting/index.md
Due: none

docs(rate-limiting): add comprehensive research and implementation guide
  docs/development/implementation/rate-limiting-implementation.md
  docs/research/rate-limiting-research.md
Due: none

docs(rate-limiting): add comprehensive research and implementation guide (#47)
  docs/development/implementation/rate-limiting-implementation.md
  docs/research/rate-limiting-research.md
Due: none

fix(docs): resolve MkDocs link warnings in rate-limiting-implementation.md
  docs/development/implementation/rate-limiting-implementation.md
Due: none

docs(warp): add markdown linting and MkDocs build verification to Phase Completion Workflow
  WARP.md
Due: none

feat(rate-limiting): implement Phase 1 core infrastructure with SOLID compliance
  pyproject.toml
  src/rate_limiting/__init__.py
  src/rate_limiting/algorithms/__init__.py
  src/rate_limiting/algorithms/base.py
  src/rate_limiting/algorithms/token_bucket.py
  src/rate_limiting/config.py
  src/rate_limiting/service.py
  src/rate_limiting/storage/__init__.py
  src/rate_limiting/storage/base.py
  src/rate_limiting/storage/redis_storage.py
  uv.lock
Due: unit, integration

test(rate-limiting): implement co-located test structure for complete independence
  docs/development/implementation/rate-limiting-implementation.md
  pytest.ini
  src/rate_limiting/tests/__init__.py
  src/rate_limiting/tests/test_config.py
Due: unit, integration

test(rate-limiting): add comprehensive unit tests for Phase 1 components
  src/rate_limiting/tests/test_service.py
  src/rate_limiting/tests/test_token_bucket.py
Due: unit, integration

style(rate-limiting): remove unused imports from test files
  src/rate_limiting/tests/test_service.py
  src/rate_limiting/tests/test_token_bucket.py
Due: unit, integration

docs(warp): update status with Phase 1 rate limiting completion
  WARP.md
Due: none

feat(rate-limiting): implement Phase 1 core infrastructure with SOLID compliance (#48)
  WARP.md
  docs/development/implementation/rate-limiting-implementation.md
  pyproject.toml
  pytest.ini
  src/rate_limiting/__init__.py
  src/rate_limiting/algorithms/__init__.py
  src/rate_limiting/algorithms/base.py
  src/rate_limiting/algorithms/token_bucket.py
  src/rate_limiting/config.py
  src/rate_limiting/service.py
  src/rate_limiting/storage/__init__.py
  src/rate_limiting/storage/base.py
  src/rate_limiting/storage/redis_storage.py
  src/rate_limiting/tests/__init__.py
  src/rate_limiting/tests/test_config.py
  src/rate_limiting/tests/test_service.py
  src/rate_limiting/tests/test_token_bucket.py
  uv.lock
Due: unit, integration

feat(rate-limiting): implement Phase 2 middleware integration with FastAPI
  src/main.py
  src/rate_limiting/factory.py
  src/rate_limiting/middleware.py
  tests/api/test_rate_limiting_middleware.py
Due: unit, integration

test(rate-limiting): fix test isolation with Redis cleanup fixture and update ports
  Makefile
  compose/docker-compose.test.yml
  tests/api/test_rate_limiting_middleware.py
  tests/conftest.py
Due: none

feat(rate-limiting): Phase 2 middleware integration (#49)
  Makefile
  compose/docker-compose.test.yml
  src/main.py
  src/rate_limiting/factory.py
  src/rate_limiting/middleware.py
  tests/api/test_rate_limiting_middleware.py
  tests/conftest.py
Due: unit, integration

test(rate-limiting): add Redis storage unit tests and complete Phase 3
  docs/development/implementation/rate-limiting-implementation.md
  pyproject.toml
  pytest.ini
  src/rate_limiting/tests/test_redis_storage.py
  uv.lock
Due: unit, integration

docs(rate-limiting): fix markdown linting errors in implementation guide
  docs/development/implementation/rate-limiting-implementation.md
Due: none

test(rate-limiting): Phase 3 - Redis storage unit tests (#50)
  docs/development/implementation/rate-limiting-implementation.md
  pyproject.toml
  pytest.ini
  src/rate_limiting/tests/test_redis_storage.py
  uv.lock
Due: unit, integration

feat(rate-limiting): add audit data model and database migration (Phase 4.1)
  Makefile
  alembic/env.py
  alembic/versions/20251026_0118-3f81ad4dcc10_add_rate_limit_audit_logs_table.py
  docs/development/troubleshooting/database-corruption-alembic-mismatch.md
  src/rate_limiting/models.py
Due: unit, integration

feat(rate-limiting): add audit backend interface and database implementation (Phase 4.2)
  src/rate_limiting/audit_backend.py
  src/rate_limiting/audit_backends/__init__.py
  src/rate_limiting/audit_backends/database.py
Due: unit, integration

refactor(rate-limiting): move audit backend interface to base.py for consistency
  src/rate_limiting/audit_backends/__init__.py
  src/rate_limiting/audit_backends/base.py
  src/rate_limiting/audit_backends/database.py
Due: unit, integration

feat(rate-limiting): integrate audit backend into middleware (Phase 4.3)
  src/rate_limiting/middleware.py
Due: unit, integration

feat(rate-limiting): add comprehensive structured logging (Phase 4.4)
  src/rate_limiting/service.py
Due: unit, integration

feat(rate-limiting): wire audit backend with per-request session pattern (Phase 4.5)
  src/main.py
  src/rate_limiting/middleware.py
Due: unit, integration

test(rate-limiting): add audit backend unit tests (phase 4.6 partial)
  src/rate_limiting/middleware.py
  src/rate_limiting/tests/conftest.py
  src/rate_limiting/tests/test_audit_backend.py
Due: unit, integration

docs(rate-limiting): add architecture and audit documentation (phase 4.7 partial)
  src/rate_limiting/docs/architecture.md
  src/rate_limiting/docs/audit.md
Due: unit, integration

docs(rate-limiting): complete phase 4.7 documentation with mermaid diagrams
  src/rate_limiting/docs/architecture.md
  src/rate_limiting/docs/audit.md
  src/rate_limiting/docs/observability.md
  src/rate_limiting/docs/request-flow.md
Due: unit, integration

refactor(rate-limiting): decouple audit model from app, add database-agnostic design
  alembic/env.py
  alembic/versions/20251026_1652-92fe57a303d8_add_rate_limit_audit_logs_with_inet_and_.py
  src/models/rate_limit_audit.py
  src/rate_limiting/audit_backends/database.py
  src/rate_limiting/models.py
  src/rate_limiting/models/__init__.py
  src/rate_limiting/models/base.py
  src/rate_limiting/service.py
  src/rate_limiting/tests/conftest.py
  src/rate_limiting/tests/test_audit_backend.py
  tests/conftest.py
  tests_old_async/__init__.py
  tests_old_async/conftest.py
  tests_old_async/conftest_old.py
  tests_old_async/fixtures/__init__.py
  tests_old_async/fixtures/users.py
  tests_old_async/integration/__init__.py
  tests_old_async/integration/database/__init__.py
  tests_old_async/integration/database/test_model_persistence.py
  tests_old_async/mocks/__init__.py
  tests_old_async/test_config.py
  tests_old_async/unit/__init__.py
  tests_old_async/unit/core/__init__.py
  tests_old_async/unit/core/test_config.py
  tests_old_async/unit/core/test_database.py
  tests_old_async/unit/services/__init__.py
  tests_old_async/unit/services/test_encryption.py
  tests_old_async/unit/services/test_token_service.py
  tests_old_unmigrated_archived/test_config.py
  tests_old_unmigrated_archived/test_database.py
  tests_old_unmigrated_archived/test_encryption.py
  tests_old_unmigrated_archived/test_model_persistence.py
  tests_old_unmigrated_archived/test_token_service.py
Due: unit, integration, Database Models

test(rate-limiting): refactor audit backend tests to use mocks (database-agnostic)
  src/rate_limiting/middleware.py
  src/rate_limiting/tests/conftest.py
  src/rate_limiting/tests/test_audit_backend.py
Due: unit, integration

chore(rate-limiting): fix middleware audit logging and cleanup deprecated files
  src/rate_limiting/audit_backends/database.py
  src/rate_limiting/middleware.py
  src/rate_limiting/models.py
  src/rate_limiting/models/__init__.py
  src/rate_limiting/models/base.py
  src/rate_limiting/tests/conftest.py
  src/rate_limiting/tests/test_audit_backend.py
Due: unit, integration

test(rate-limiting): add integration tests for audit log PostgreSQL persistence
  tests/integration/database/test_rate_limit_audit_persistence.py
Due: none

test(rate-limiting): add E2E API tests for audit trail verification
  src/rate_limiting/audit_backends/database.py
  tests/api/test_rate_limiting_audit_e2e.py
  tests/integration/database/test_rate_limit_audit_persistence.py
Due: unit, integration

refactor(rate-limiter): rename package from rate_limiting to rate_limiter
  src/main.py
  src/rate_limiter/__init__.py
  src/rate_limiter/algorithms/__init__.py
  src/rate_limiter/algorithms/base.py
  src/rate_limiter/algorithms/token_bucket.py
  src/rate_limiter/audit_backends/__init__.py
  src/rate_limiter/audit_backends/base.py
  src/rate_limiter/audit_backends/database.py
  src/rate_limiter/config.py
  src/rate_limiter/docs/architecture.md
  src/rate_limiter/docs/audit.md
  src/rate_limiter/docs/observability.md
  src/rate_limiter/docs/request-flow.md
  src/rate_limiter/factory.py
  src/rate_limiter/middleware.py
  src/rate_limiter/models/__init__.py
  src/rate_limiter/models/base.py
  src/rate_limiter/service.py
  src/rate_limiter/storage/__init__.py
  src/rate_limiter/storage/base.py
  src/rate_limiter/storage/redis_storage.py
  src/rate_limiter/tests/__init__.py
  src/rate_limiter/tests/conftest.py
  src/rate_limiter/tests/test_audit_backend.py
  src/rate_limiter/tests/test_config.py
  src/rate_limiter/tests/test_redis_storage.py
  src/rate_limiter/tests/test_service.py
  src/rate_limiter/tests/test_token_bucket.py
  tests/api/test_rate_limiting_middleware.py
Due: unit, integration

docs(rate_limiter): update all documentation for Phase 4.6 completion
  WARP.md
  docs/development/implementation/rate-limiting-implementation.md
  src/rate_limiter/__init__.py
  src/rate_limiter/algorithms/__init__.py
  src/rate_limiter/algorithms/base.py
  src/rate_limiter/algorithms/token_bucket.py
  src/rate_limiter/audit_backends/__init__.py
  src/rate_limiter/audit_backends/base.py
  src/rate_limiter/audit_backends/database.py
  src/rate_limiter/config.py
  src/rate_limiter/docs/architecture.md
  src/rate_limiter/docs/audit.md
  src/rate_limiter/docs/observability.md
  src/rate_limiter/docs/request-flow.md
  src/rate_limiter/factory.py
  src/rate_limiter/middleware.py
  src/rate_limiter/models/__init__.py
  src/rate_limiter/models/base.py
  src/rate_limiter/service.py
  src/rate_limiter/storage/__init__.py
  src/rate_limiter/storage/base.py
  src/rate_limiter/storage/redis_storage.py
  src/rate_limiter/tests/__init__.py
  src/rate_limiter/tests/conftest.py
  src/rate_limiter/tests/test_audit_backend.py
  src/rate_limiter/tests/test_config.py
  src/rate_limiter/tests/test_service.py
Due: unit, integration

docs(rate_limiter): add comprehensive future enhancements roadmap
  src/rate_limiter/docs/future-enhancements.md
Due: unit, integration

lint error fix - added extra line at the end
  src/rate_limiter/docs/observability.md
Due: unit, integration

docs(p2): add session management research and implementation guide
  docs/development/implementation/session-management-implementation-guide.md
  docs/development/technical-debt-roadmap.md
  docs/research/session-management-research.md
Due: none

fix(docs): correct broken link in database corruption troubleshooting guide
  docs/development/implementation/rate-limiting-implementation.md
  docs/development/implementation/session-management-implementation-guide.md
  docs/development/troubleshooting/database-corruption-alembic-mismatch.md
Due: none
