Repository faiyaz7283/dashtam-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, api, API Layer, Providers, Services, Database Models, Core Infrastructure

release: v1.9.1 - SSE Data Sync Progress Mappings
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Release v1.9.1 - SSE Data Sync Progress Mappings (#163)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  CHANGELOG.md
  WARP.md
  docs/architecture/sse-architecture.md
  docs/architecture/sse-registry.md
  pyproject.toml
  src/domain/events/sse_registry.py
  tests/unit/test_core_container_events.py
  tests/unit/test_domain_sse_data_sync_mappings.py
  tests/unit/test_infrastructure_sse_event_handler.py
  uv.lock
Due: unit, integration

docs: add GitHub Release step to release checklist
  WARP.md
Due: none

fix(config): add SSE_ENABLE_RETENTION to prod.example
  env/.env.prod.example
Due: none

feat(sse): Add provider health SSE mappings (partial #157)
  Makefile
  src/domain/events/sse_registry.py
  tests/unit/test_domain_sse_provider_mappings.py
Due: unit, integration

feat(jobs): add API integration for dashtam-jobs monitoring (#157)
  docs/architecture/dependency-injection.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  src/core/config.py
  src/core/container/__init__.py
  src/core/container/handler_factory.py
  src/core/container/infrastructure.py
  src/infrastructure/enums/infrastructure_error_code.py
  src/infrastructure/jobs/__init__.py
  src/infrastructure/jobs/monitor.py
  src/presentation/routers/api/v1/admin/jobs.py
  src/presentation/routers/api/v1/routes/registry.py
  src/presentation/routers/system.py
  src/schemas/__init__.py
  src/schemas/jobs_schemas.py
  tests/api/test_admin_jobs_api.py
  tests/api/test_system_routes.py
  tests/unit/test_infrastructure_jobs_monitor.py
Due: unit, integration, Core Infrastructure

docs: fix GitHub badge URLs to use correct repo name
  README.md
Due: none

feat(sse): Provider health SSE mappings and badge fixes (#157) (#165)
  Makefile
  README.md
  docs/architecture/dependency-injection.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  src/core/config.py
  src/core/container/__init__.py
  src/core/container/handler_factory.py
  src/core/container/infrastructure.py
  src/domain/events/sse_registry.py
  src/infrastructure/enums/infrastructure_error_code.py
  src/infrastructure/jobs/__init__.py
  src/infrastructure/jobs/monitor.py
  src/presentation/routers/api/v1/admin/jobs.py
  src/presentation/routers/api/v1/routes/registry.py
  src/presentation/routers/system.py
  src/schemas/__init__.py
  src/schemas/jobs_schemas.py
  tests/api/test_admin_jobs_api.py
  tests/api/test_system_routes.py
  tests/unit/test_domain_sse_provider_mappings.py
  tests/unit/test_infrastructure_jobs_monitor.py
Due: unit, integration, Core Infrastructure

chore: release v1.9.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: release v1.9.2 (#166)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Release v1.9.2 (#167)
  CHANGELOG.md
  Makefile
  README.md
  WARP.md
  docs/architecture/dependency-injection.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  pyproject.toml
  src/core/config.py
  src/core/container/__init__.py
  src/core/container/handler_factory.py
  src/core/container/infrastructure.py
  src/domain/events/sse_registry.py
  src/infrastructure/enums/infrastructure_error_code.py
  src/infrastructure/jobs/__init__.py
  src/infrastructure/jobs/monitor.py
  src/presentation/routers/api/v1/admin/jobs.py
  src/presentation/routers/api/v1/routes/registry.py
  src/presentation/routers/system.py
  src/schemas/__init__.py
  src/schemas/jobs_schemas.py
  tests/api/test_admin_jobs_api.py
  tests/api/test_system_routes.py
  tests/unit/test_domain_sse_provider_mappings.py
  tests/unit/test_infrastructure_jobs_monitor.py
  uv.lock
Due: unit, integration, Core Infrastructure

chore(docs): update SSE issue references #253-258
  CHANGELOG.md
  WARP.md
  src/domain/events/sse_registry.py
  tests/unit/test_domain_sse_data_sync_mappings.py
  tests/unit/test_domain_sse_provider_mappings.py
Due: unit, integration

docs(warp): restructure WARP.md with Global rules reference
  WARP.md
Due: none

feat(docker): standardize container naming across environments
  .github/workflows/test.yml
  WARP.md
  compose/docker-compose.ci.yml
  compose/docker-compose.dev.yml
  compose/docker-compose.prod.yml.example
  compose/docker-compose.test.yml
  docs/architecture/database.md
  docs/architecture/testing.md
  docs/guides/local-ci.md
Due: none

chore(release): bump version to 1.9.3
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(release): Fix CHANGELOG markdown lint violations
  CHANGELOG.md
  WARP.md
Due: none

security: migrate from python-jose to PyJWT (CVE-2024-23342)
  CHANGELOG.md
  pyproject.toml
  src/infrastructure/security/jwt_service.py
  uv.lock
Due: unit, integration

chore(release): v1.9.3 (#261)
  CHANGELOG.md
  WARP.md
  pyproject.toml
  src/infrastructure/security/jwt_service.py
  uv.lock
Due: unit, integration

feat(ci): add release automation workflows (Phase 2 & 3)
  .github/workflows/release-phase2.yml
  .github/workflows/release-phase3.yml
Due: none

feat(ci): add release automation workflows (Phase 2 & 3) (#262)
  .github/workflows/release-phase2.yml
  .github/workflows/release-phase3.yml
Due: none

chore(release): v1.9.3 (#263)
  .github/workflows/test.yml
  CHANGELOG.md
  WARP.md
  compose/docker-compose.ci.yml
  compose/docker-compose.dev.yml
  compose/docker-compose.prod.yml.example
  compose/docker-compose.test.yml
  docs/architecture/database.md
  docs/architecture/testing.md
  docs/guides/local-ci.md
  pyproject.toml
  src/domain/events/sse_registry.py
  src/infrastructure/security/jwt_service.py
  tests/unit/test_domain_sse_data_sync_mappings.py
  tests/unit/test_domain_sse_provider_mappings.py
  uv.lock
Due: unit, integration

fix(ci): create PR for main → development sync instead of direct push
  .github/workflows/release-phase3.yml
Due: none

feat(sse): implement file import progress streaming (#256)
  WARP.md
  src/application/commands/handlers/import_from_file_handler.py
  src/domain/events/__init__.py
  src/domain/events/data_events.py
  src/domain/events/registry.py
  src/domain/events/sse_registry.py
  src/infrastructure/events/handlers/logging_event_handler.py
  tests/unit/test_domain_sse_import_mappings.py
Due: unit, integration

fix(ci): create PR for main → development sync (#265)
  .github/workflows/release-phase3.yml
Due: none

feat(sse): File Import Progress Streaming (#256) (#266)
  WARP.md
  src/application/commands/handlers/import_from_file_handler.py
  src/domain/events/__init__.py
  src/domain/events/data_events.py
  src/domain/events/registry.py
  src/domain/events/sse_registry.py
  src/infrastructure/events/handlers/logging_event_handler.py
  tests/unit/test_domain_sse_import_mappings.py
Due: unit, integration

chore(release): bump version to 1.9.4
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(sse): Security and Session Notifications via SSE (#258)
  docs/architecture/sse-architecture.md
  src/domain/events/sse_event.py
  src/domain/events/sse_registry.py
  tests/integration/test_sse_security_multi_device.py
  tests/unit/test_domain_sse_event.py
  tests/unit/test_domain_sse_registry_compliance.py
  tests/unit/test_domain_sse_security_mappings.py
Due: unit, integration

chore(release): bump version to 1.9.5
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

refactor(ci): simplify release workflows to use centralized reusables (#4)
  .github/workflows/release-phase2.yml
  .github/workflows/release-phase3.yml
  CHANGELOG.md
Due: none

chore(release): bump version to 1.9.6
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(sse): add balance and portfolio update notifications (#257)
  docs/architecture/domain-events.md
  docs/architecture/sse-architecture.md
  docs/architecture/sse-registry.md
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_holdings_handler.py
  src/application/cqrs/registry.py
  src/application/dtos/__init__.py
  src/application/dtos/sync_dtos.py
  src/application/event_handlers/__init__.py
  src/application/event_handlers/portfolio_event_handler.py
  src/application/queries/handlers/get_user_networth_handler.py
  src/application/queries/portfolio_queries.py
  src/core/container/events.py
  src/domain/events/portfolio_events.py
  src/domain/events/registry.py
  src/domain/events/sse_event.py
  src/domain/events/sse_registry.py
  src/domain/protocols/account_repository.py
  src/infrastructure/events/handlers/logging_event_handler.py
  src/infrastructure/persistence/repositories/account_repository.py
  tests/integration/test_sse_portfolio_events.py
  tests/unit/test_application_dtos.py
  tests/unit/test_application_portfolio_event_handler.py
  tests/unit/test_core_container_events.py
  tests/unit/test_domain_portfolio_events.py
  tests/unit/test_domain_sse_portfolio_mappings.py
Due: unit, integration, Core Infrastructure

feat(sse): add balance and portfolio update notifications (#257) (#275)
  docs/architecture/domain-events.md
  docs/architecture/sse-architecture.md
  docs/architecture/sse-registry.md
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_holdings_handler.py
  src/application/cqrs/registry.py
  src/application/dtos/__init__.py
  src/application/dtos/sync_dtos.py
  src/application/event_handlers/__init__.py
  src/application/event_handlers/portfolio_event_handler.py
  src/application/queries/handlers/get_user_networth_handler.py
  src/application/queries/portfolio_queries.py
  src/core/container/events.py
  src/domain/events/portfolio_events.py
  src/domain/events/registry.py
  src/domain/events/sse_event.py
  src/domain/events/sse_registry.py
  src/domain/protocols/account_repository.py
  src/infrastructure/events/handlers/logging_event_handler.py
  src/infrastructure/persistence/repositories/account_repository.py
  tests/integration/test_sse_portfolio_events.py
  tests/unit/test_application_dtos.py
  tests/unit/test_application_portfolio_event_handler.py
  tests/unit/test_core_container_events.py
  tests/unit/test_domain_portfolio_events.py
  tests/unit/test_domain_sse_portfolio_mappings.py
Due: unit, integration, Core Infrastructure

chore(release): bump version to 1.9.7
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(ci): add permissions to release workflow callers
  .github/workflows/release-phase2.yml
  .github/workflows/release-phase3.yml
Due: none

Path conditions:
  unit: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  integration: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  api: any of: src/api/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  API Layer: any of: src/api/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Providers: any of: src/providers/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Services: any of: src/services/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Database Models: any of: src/models/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Core Infrastructure: any of: src/core/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
