Repository faiyaz7283/dashtam-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, api, API Layer, Providers, Services, Database Models, Core Infrastructure

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

# Coverage configuration
coverage:
  precision: 2
  round: down
  range: "70...100"  # Yellow at 70%, green at 100%
  
  status:
    # Project-level coverage checks
    project:
      default:
        target: 85%  # Minimum acceptable coverage
        threshold: 2%  # Allow 2% drop before failing
        base: auto
        if_ci_failed: error
        informational: false
    
    # Patch-level coverage checks (for new code in PRs)
    patch:
      default:
        target: 90%  # New code should have high coverage
        threshold: 5%
        base: auto
        if_ci_failed: error
        informational: false
    
    # Individual file-level changes
    changes:
      default:
        base: auto
        if_ci_failed: error

# Comment configuration for pull requests
comment:
  layout: "header, diff, components, tree"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false
  require_head: true
  branches:
    - development
    - main

# Ignore patterns
ignore:
  - "tests/**/*"
  - "docs/**/*"
  - "scripts/**/*"
  - "alembic/versions/**/*"
  - "**/__init__.py"
  - "**/conftest.py"

# Component-based coverage (optional but useful)
component_management:
  default_rules:
    statuses:
      - type: project
        target: 85%
      - type: patch
        target: 90%
  
  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - src/api/**
    
    - component_id: providers
      name: Providers
      paths:
        - src/providers/**
    
    - component_id: services
      name: Services
      paths:
        - src/services/**
    
    - component_id: models
      name: Database Models
      paths:
        - src/models/**
    
    - component_id: core
      name: Core Infrastructure
      paths:
        - src/core/**

# GitHub integration settings
github_checks:
  annotations: true

# Codecov CLI settings
cli:
  runners:
    retry_count: 3
    retry_delay: 2

# Flag management for different test types
flags:
  unit:
    paths:
      - src/
    carryforward: true
  
  integration:
    paths:
      - src/
    carryforward: true
  
  api:
    paths:
      - src/api/
    carryforward: true

fix(core): complete Pydantic v2 migration and add comprehensive test coverage
  docs/development/architecture/improvement-guide.md
  src/models/base.py
  src/models/provider.py
  src/providers/base.py
  src/providers/schwab.py
  src/services/token_service.py
  tests/integration/services/test_token_service.py
  tests/unit/core/test_database.py
  tests/unit/services/test_encryption_service.py
  tests/unit/services/test_token_service.py
Due: unit, integration, Providers, Services, Database Models

fix(core): complete Pydantic v2 migration and add comprehensive test coverage (#3)
  docs/development/architecture/improvement-guide.md
  src/models/base.py
  src/models/provider.py
  src/providers/base.py
  src/providers/schwab.py
  src/services/token_service.py
  tests/integration/services/test_token_service.py
  tests/unit/core/test_database.py
  tests/unit/services/test_encryption_service.py
  tests/unit/services/test_token_service.py
Due: unit, integration, Providers, Services, Database Models

feat(tests): complete Phase 3 test coverage expansion to 67%
  WARP.md
  docs/development/testing/best-practices.md
  tests/api/test_auth_endpoints.py
  tests/api/test_provider_endpoints.py
Due: none

feat(tests): complete Phase 3 test coverage expansion to 67% (#4)
  WARP.md
  docs/development/testing/best-practices.md
  tests/api/test_auth_endpoints.py
  tests/api/test_provider_endpoints.py
Due: none

docs(architecture): add comprehensive architecture review and recommendations
  docs/development/architecture/comprehensive-review-2025-10-03.md
Due: none

fix(models): implement timezone-aware datetime handling with TIMESTAMPTZ
  src/models/base.py
  src/models/provider.py
  src/models/user.py
  tests/unit/models/test_timezone_aware_datetimes.py
Due: unit, integration, Database Models

feat(database): implement Alembic migrations with timezone-aware datetimes
  Makefile
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/20251003_2149-bce8c437167b_initial_database_schema_with_timezone_.py
  docker-compose.ci.yml
  docker-compose.dev.yml
  docker-compose.test.yml
  docker/Dockerfile
  docs/development/infrastructure/database-migrations.md
  src/main.py
  tests/integration/services/test_token_service.py
Due: unit, integration

style: remove unused init_db import from main.py
  src/main.py
Due: unit, integration

style: format test_token_service.py
  tests/integration/services/test_token_service.py
Due: none

feat(database): Implement Alembic migrations with timezone-aware datetimes (#6)
  Makefile
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/20251003_2149-bce8c437167b_initial_database_schema_with_timezone_.py
  docker-compose.ci.yml
  docker-compose.dev.yml
  docker-compose.test.yml
  docker/Dockerfile
  docs/development/infrastructure/database-migrations.md
  src/main.py
  tests/integration/services/test_token_service.py
Due: unit, integration

docs: update architecture documentation with completed P0 items
  WARP.md
  docs/development/architecture/comprehensive-review-2025-10-03.md
  docs/development/architecture/improvement-guide.md
Due: none

feat(providers): add HTTP timeout configuration to prevent hanging requests
  src/core/config.py
  src/providers/schwab.py
  tests/unit/core/test_config_timeouts.py
Due: unit, integration, Providers, Core Infrastructure

style: remove unused pytest import
  tests/unit/core/test_config_timeouts.py
Due: none

feat: Add HTTP connection timeout configuration (#7)
  src/core/config.py
  src/providers/schwab.py
  tests/unit/core/test_config_timeouts.py
Due: unit, integration, Providers, Core Infrastructure

feat(auth): implement OAuth token rotation handling
  docs/development/guides/token-rotation.md
  src/providers/base.py
  src/providers/schwab.py
  src/services/token_service.py
  tests/unit/services/test_token_rotation.py
Due: unit, integration, Providers, Services

style: format code with ruff
  src/providers/base.py
  src/providers/schwab.py
  src/services/token_service.py
  tests/unit/services/test_token_rotation.py
Due: unit, integration, Providers, Services

feat: Implement OAuth token rotation handling (#8)
  docs/development/guides/token-rotation.md
  src/providers/base.py
  src/providers/schwab.py
  src/services/token_service.py
  tests/unit/services/test_token_rotation.py
Due: unit, integration, Providers, Services

docs: update improvement guide - mark P1 items as complete
  docs/development/architecture/improvement-guide.md
Due: none

docs: comprehensive JWT authentication research and planning
  README.md
  WARP.md
  docs/development/architecture/improvement-guide.md
  docs/development/guides/auth-quick-reference.md
  docs/development/guides/authentication-implementation.md
  docs/research/authentication-approaches-research.md
Due: none

docs: remove day-based timelines, use phase-based workflow
  README.md
  WARP.md
  docs/development/architecture/improvement-guide.md
  docs/development/guides/auth-quick-reference.md
  docs/development/guides/authentication-implementation.md
  docs/research/authentication-approaches-research.md
Due: none

feat(auth): add JWT authentication database schema and models (Phase 1)
  alembic/env.py
  alembic/versions/20251004_1825-e18e20278eaa_add_jwt_authentication_support.py
  docs/development/guides/jwt-auth-implementation-plan.md
  requirements.txt
  src/models/auth.py
  src/models/user.py
  tests/unit/models/test_auth_tokens.py
  tests/unit/models/test_timezone_aware_datetimes.py
  tests/unit/models/test_user_auth.py
Due: unit, integration, Database Models

feat: Phase 2 - JWT Authentication Core Services Implementation
  .env.ci.example
  .env.dev.example
  .env.example
  .env.test.example
  WARP.md
  docs/development/architecture/async-vs-sync-patterns.md
  docs/development/guides/uv-package-management.md
  src/core/config.py
  src/services/auth_service.py
  src/services/email_service.py
  src/services/jwt_service.py
  src/services/password_service.py
  tests/unit/services/test_email_service.py
  tests/unit/services/test_jwt_service.py
  tests/unit/services/test_password_service.py
Due: unit, integration, Services, Core Infrastructure

feat: implement JWT user authentication system
  WARP.md
  docs/development/architecture/jwt-authentication.md
  docs/development/architecture/schemas-design.md
  docs/development/guides/jwt-auth-quick-reference.md
  requirements.txt
  src/api/dependencies.py
  src/api/v1/__init__.py
  src/api/v1/auth_jwt.py
  src/schemas/__init__.py
  src/schemas/auth.py
  src/schemas/common.py
  src/schemas/provider.py
  src/services/auth_service.py
  src/services/jwt_service.py
  tests/api/test_auth_jwt_endpoints.py
  tests/conftest.py
Due: unit, integration, api, API Layer, Services

fix: make email sender test environment-agnostic
  tests/unit/services/test_email_service.py
Due: none

style: apply code formatting to test_email_service.py
  tests/unit/services/test_email_service.py
Due: none

feat: JWT User Authentication System (Phase 3 Complete) (#9)
  .env.ci.example
  .env.dev.example
  .env.example
  .env.test.example
  WARP.md
  alembic/env.py
  alembic/versions/20251004_1825-e18e20278eaa_add_jwt_authentication_support.py
  docs/development/architecture/async-vs-sync-patterns.md
  docs/development/architecture/jwt-authentication.md
  docs/development/architecture/schemas-design.md
  docs/development/guides/jwt-auth-implementation-plan.md
  docs/development/guides/jwt-auth-quick-reference.md
  docs/development/guides/uv-package-management.md
  requirements.txt
  src/api/dependencies.py
  src/api/v1/__init__.py
  src/api/v1/auth_jwt.py
  src/core/config.py
  src/models/auth.py
  src/models/user.py
  src/schemas/__init__.py
  src/schemas/auth.py
  src/schemas/common.py
  src/schemas/provider.py
  src/services/auth_service.py
  src/services/email_service.py
  src/services/jwt_service.py
  src/services/password_service.py
  tests/api/test_auth_jwt_endpoints.py
  tests/conftest.py
  tests/unit/models/test_auth_tokens.py
  tests/unit/models/test_timezone_aware_datetimes.py
  tests/unit/models/test_user_auth.py
  tests/unit/services/test_email_service.py
  tests/unit/services/test_jwt_service.py
  tests/unit/services/test_password_service.py
Due: unit, integration, api, API Layer, Services, Database Models, Core Infrastructure

docs: Add comprehensive REST API documentation and compliance review
  docs/development/README.md
  docs/development/architecture/restful-api-design.md
  docs/development/guides/rest-api-compliance-implementation-plan.md
  docs/development/guides/restful-api-quick-reference.md
  docs/development/reviews/rest-api-compliance-review.md
  docs/development/reviews/rest-compliance-summary.md
Due: none

Removing unused files
  docs/development/reviews/rest-compliance-summary.md
  tests/TESTING_GUIDE.md
Due: none

feat: REST API compliance Phase 1 - Issues #1 and #2
  src/api/v1/__init__.py
  src/api/v1/provider_types.py
  src/api/v1/providers.py
  tests/api/test_provider_endpoints.py
  tests/api/test_provider_type_endpoints.py
  tests/conftest.py
Due: unit, integration, api, API Layer

fix(tests): Use authenticated client for provider endpoint tests
  tests/api/test_provider_endpoints.py
Due: none

fix(tests): Fix OAuth authorization endpoint tests
  tests/api/test_provider_authorization_endpoints.py
Due: none

feat(schemas): Add proper Pydantic schemas for OAuth authorization endpoints
  src/api/v1/provider_authorization.py
  src/schemas/provider.py
Due: unit, integration, api, API Layer

REST API Compliance - Phase 1 Complete (#10)
  src/api/v1/__init__.py
  src/api/v1/provider_authorization.py
  src/api/v1/provider_types.py
  src/api/v1/providers.py
  src/schemas/provider.py
  tests/api/test_provider_authorization_endpoints.py
  tests/api/test_provider_endpoints.py
  tests/api/test_provider_type_endpoints.py
  tests/conftest.py
Due: unit, integration, api, API Layer

fix(tests): Add missing client_with_mock_auth fixture
  tests/api/test_auth_endpoints.py
  tests/conftest.py
Due: none

feat: Add PATCH endpoint for provider updates (Issue #4)
  src/api/v1/providers.py
  src/schemas/provider.py
  tests/api/test_provider_endpoints.py
Due: unit, integration, api, API Layer

feat: Add pagination, filtering, and sorting to providers list (Issue #5)
  src/api/v1/providers.py
  src/schemas/common.py
  tests/api/test_provider_endpoints.py
Due: unit, integration, api, API Layer

feat: Redesign password reset as REST resource (Issue #6)
  src/api/v1/__init__.py
  src/api/v1/auth_jwt.py
  src/api/v1/password_resets.py
  src/api/v1/providers.py
  tests/api/test_auth_jwt_endpoints.py
  tests/api/test_provider_endpoints.py
Due: unit, integration, api, API Layer

feat: Standardize response formats with Pydantic models (Issue #7)
  src/api/v1/__init__.py
  src/api/v1/auth.py
  src/api/v1/providers.py
  src/schemas/common.py
Due: unit, integration, api, API Layer

REST API Compliance Phase 2: Complete Implementation (#12)
  src/api/v1/__init__.py
  src/api/v1/auth.py
  src/api/v1/auth_jwt.py
  src/api/v1/password_resets.py
  src/api/v1/providers.py
  src/schemas/common.py
  src/schemas/provider.py
  tests/api/test_auth_endpoints.py
  tests/api/test_auth_jwt_endpoints.py
  tests/api/test_provider_endpoints.py
  tests/conftest.py
Due: unit, integration, api, API Layer

feat: Complete REST API Compliance Phase 3 (Issues #8 & #9)
  src/api/v1/auth.py
  tests/api/test_auth_endpoints.py
Due: unit, integration, api, API Layer
