Repository faiyaz7283/dashtam-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, api, API Layer, Providers, Services, Database Models, Core Infrastructure

docs(reviews): add comprehensive integration status tracker and audit
  WARP.md
  docs/reviews/integration-review-2025-10-31.md
  docs/reviews/integration-status.md
Due: none

Lint issue with broken link in solved
  docs/reviews/integration-status.md
Due: none

docs(reviews): improve terminology in integration status tracker
  docs/reviews/integration-status.md
Due: none

refactor(rate_limiter): make rate limiter fully generic with DI
  src/config/__init__.py
  src/config/rate_limits.py
  src/rate_limiter/__init__.py
  src/rate_limiter/config.py
  src/rate_limiter/factory.py
  src/rate_limiter/middleware.py
  src/rate_limiter/service.py
  src/rate_limiter/tests/test_config.py
  src/rate_limiter/tests/test_service.py
  tests/config/test_rate_limits.py
Due: unit, integration

test(rate_limiter): add comprehensive API tests for Rate Limiter enforcement
  src/config/rate_limits.py
  tests/api/test_rate_limiter_endpoints.py
  tests/config/test_rate_limits.py
Due: unit, integration

docs(warp): add mandatory REST API compliance check to Feature Integration Checklist
  WARP.md
Due: none

refactor(api): convert token rotation endpoints to RESTful design
  src/api/v1/__init__.py
  src/api/v1/token_rotation.py
  src/config/rate_limits.py
  tests/api/test_rate_limiter_endpoints.py
  tests/config/test_rate_limits.py
Due: unit, integration, api, API Layer

test(api): fix token rotation tests for RESTful endpoint redesign
  src/api/v1/token_rotation.py
  tests/api/test_rate_limiter_endpoints.py
  tests/api/test_token_rotation_endpoints.py
  tests/config/test_rate_limits.py
Due: unit, integration, api, API Layer

docs(integration): update rate limiting status to complete, remove time estimates
  docs/reviews/integration-status.md
Due: none

test(integration): add rate limiting tests for token rotation endpoints
  docs/reviews/integration-status.md
  src/rate_limiter/middleware.py
  tests/api/test_rate_limiter_endpoints.py
  tests/integration/test_rate_limiting_token_rotation.py
Due: unit, integration

test(smoke): add rate limiting smoke tests
  tests/smoke/test_rate_limiting.py
Due: none

docs: remove template links from documentation
  docs/development/architecture/cache-layer-architecture.md
  docs/development/architecture/rate-limiting-middleware-integration.md
  docs/development/architecture/session-management.md
  docs/development/architecture/token-breach-rotation.md
  docs/development/implementation/token-rotation-implementation.md
  docs/development/infrastructure/security-incident-runbook.md
  docs/development/troubleshooting/test-fixture-scopes.md
Due: none

chore: remove historical review file with markdown lint errors
  WARP.md
  docs/reviews/integration-review-2025-10-31.md
Due: none

docs(reviews): update integration status with completed smoke tests
  docs/reviews/integration-status.md
Due: none

test: Complete rate limiting integration and smoke tests (#56)
  WARP.md
  docs/development/architecture/cache-layer-architecture.md
  docs/development/architecture/rate-limiting-middleware-integration.md
  docs/development/architecture/session-management.md
  docs/development/architecture/token-breach-rotation.md
  docs/development/implementation/token-rotation-implementation.md
  docs/development/infrastructure/security-incident-runbook.md
  docs/development/troubleshooting/test-fixture-scopes.md
  docs/reviews/integration-review-2025-10-31.md
  docs/reviews/integration-status.md
  src/api/v1/__init__.py
  src/api/v1/token_rotation.py
  src/config/__init__.py
  src/config/rate_limits.py
  src/rate_limiter/__init__.py
  src/rate_limiter/config.py
  src/rate_limiter/factory.py
  src/rate_limiter/middleware.py
  src/rate_limiter/service.py
  src/rate_limiter/tests/test_config.py
  src/rate_limiter/tests/test_service.py
  tests/api/test_rate_limiter_endpoints.py
  tests/api/test_token_rotation_endpoints.py
  tests/config/test_rate_limits.py
  tests/integration/test_rate_limiting_token_rotation.py
  tests/smoke/test_rate_limiting.py
Due: unit, integration, api, API Layer

docs(session-manager): add architecture and implementation guides
  docs/development/architecture/session-manager-package.md
  docs/development/implementation/session-manager-implementation.md
Due: none

feat(session-manager): Phase 1 - Models and Interfaces
  src/session_manager/__init__.py
  src/session_manager/audit/__init__.py
  src/session_manager/audit/base.py
  src/session_manager/backends/__init__.py
  src/session_manager/backends/base.py
  src/session_manager/enrichers/__init__.py
  src/session_manager/enrichers/base.py
  src/session_manager/middleware/__init__.py
  src/session_manager/models/__init__.py
  src/session_manager/models/base.py
  src/session_manager/models/filters.py
  src/session_manager/storage/__init__.py
  src/session_manager/storage/base.py
  src/session_manager/tests/__init__.py
  src/session_manager/tests/fixtures/__init__.py
  src/session_manager/tests/integration/__init__.py
  src/session_manager/tests/unit/__init__.py
Due: unit, integration

feat(session-manager): Phase 2 - Storage Implementations
  src/session_manager/storage/cache.py
  src/session_manager/storage/database.py
  src/session_manager/storage/memory.py
Due: unit, integration

feat(session-manager): Phase 3 - Audit Backends
  src/session_manager/audit/database.py
  src/session_manager/audit/logger.py
  src/session_manager/audit/metrics.py
  src/session_manager/audit/noop.py
Due: unit, integration

feat(session-manager): Phase 4 - Backends
  src/session_manager/backends/database_backend.py
  src/session_manager/backends/jwt_backend.py
Due: unit, integration

feat(session-manager): Phase 5 - Orchestrator Service
  src/session_manager/service.py
Due: unit, integration

feat(session-manager): Phase 6 - Factory, Config, and Stub Enrichers
  src/session_manager/enrichers/device_fingerprint.py
  src/session_manager/enrichers/geolocation.py
  src/session_manager/factory.py
  src/session_manager/models/config.py
Due: unit, integration

feat(session-manager): Phase 7 - FastAPI Middleware Adapter
  src/session_manager/middleware/fastapi_middleware.py
Due: unit, integration

feat(session-manager): Phase 8 Part 1 - Package Unit Tests (Config, Storage, Backend, Audit)
  src/session_manager/tests/fixtures/conftest.py
  src/session_manager/tests/fixtures/mock_models.py
  src/session_manager/tests/unit/test_audit.py
  src/session_manager/tests/unit/test_backend_jwt.py
  src/session_manager/tests/unit/test_config.py
  src/session_manager/tests/unit/test_storage_memory.py
Due: unit, integration

feat(session-manager): Phase 8 Part 2 - Enricher Unit Tests
  src/session_manager/tests/unit/test_enrichers.py
Due: unit, integration

test(session_manager): add comprehensive factory unit tests (15 tests)
  src/session_manager/factory.py
  src/session_manager/tests/unit/test_factory.py
Due: unit, integration

test(session_manager): add comprehensive service orchestration tests (23 tests)
  src/session_manager/tests/unit/test_service.py
Due: unit, integration

feat(session_manager): add pagination and is_active() tests (11 new tests)
  src/session_manager/models/filters.py
  src/session_manager/storage/memory.py
  src/session_manager/tests/unit/test_base_model.py
  src/session_manager/tests/unit/test_service.py
  src/session_manager/tests/unit/test_storage_memory.py
Due: unit, integration

WIP: integration tests and backend/storage refactoring
  src/session_manager/backends/jwt_backend.py
  src/session_manager/factory.py
  src/session_manager/storage/cache.py
  src/session_manager/tests/integration/__init__.py
  src/session_manager/tests/integration/conftest.py
  src/session_manager/tests/integration/test_cache_storage.py
  src/session_manager/tests/integration/test_session_lifecycle.py
Due: unit, integration

fix(session_manager): complete backend/storage refactoring and integration tests
  src/session_manager/storage/cache.py
  src/session_manager/tests/integration/__init__.py
  src/session_manager/tests/integration/test_cache_storage.py
  src/session_manager/tests/integration/test_session_lifecycle.py
  src/session_manager/tests/unit/test_backend_jwt.py
Due: unit, integration

refactor(session_manager): remove pointless skipped tests, document limitations
  src/session_manager/storage/cache.py
  src/session_manager/tests/integration/test_cache_storage.py
Due: unit, integration

feat(integration): add session metadata to security-critical endpoints
  src/api/v1/auth_jwt.py
  src/api/v1/password_resets.py
  src/api/v1/sessions.py
  src/api/v1/token_rotation.py
  src/services/auth_service.py
  src/services/password_reset_service.py
  src/services/session_management_service.py
  src/services/token_rotation_service.py
  tests/unit/services/test_auth_service_password_reset.py
Due: unit, integration, api, API Layer, Services

feat(session-manager): complete Phase 9 setup - models and factory wiring
  src/core/session.py
  src/models/session.py
  src/models/session_audit.py
Due: unit, integration, Database Models, Core Infrastructure

feat(session-manager): migrate to hexagonal architecture with adapters layer
  docs/development/architecture/adapters-layer.md
  src/adapters/session_manager.py
  src/api/dependencies.py
  src/api/v1/sessions.py
  src/core/cache/base.py
  src/core/session.py
  src/services/session_management_service.py
  tests/unit/core/test_cache_backend.py
  tests/unit/services/test_session_management_service.py
Due: unit, integration, api, API Layer, Services, Core Infrastructure

docs(reviews): add post-session-manager architectural review plan
  docs/development/reviews/post-session-manager-architectural-review.md
Due: none

refactor(models): Phase 1 - create proper Session table
  src/adapters/session_manager.py
  src/models/session.py
  src/models/user.py
  src/session_manager/factory.py
  src/session_manager/storage/database.py
Due: unit, integration, Database Models

refactor(models): Phase 2 - add session_id to RefreshToken
  src/models/auth.py
Due: unit, integration, Database Models

feat(auth): add database migration to separate Session from RefreshToken
  alembic/env.py
  alembic/versions/20251103_0343-1a87a97a6d84_add_session_model_and_link_refreshtoken_.py
  src/models/auth.py
Due: unit, integration, Database Models

refactor(auth): separate session creation from token creation
  src/services/auth_service.py
Due: unit, integration, Services

fix(auth): update token refresh to track session activity correctly
  src/services/auth_service.py
Due: unit, integration, Services

Path conditions:
  unit: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  integration: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  api: any of: src/api/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  API Layer: any of: src/api/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Providers: any of: src/providers/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Services: any of: src/services/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Database Models: any of: src/models/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Core Infrastructure: any of: src/core/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
