Repository faiyaz7283/dashtam-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, api, API Layer, Providers, Services, Database Models, Core Infrastructure

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

# Coverage configuration
coverage:
  precision: 2
  round: down
  range: "70...100"  # Yellow at 70%, green at 100%
  
  status:
    # Project-level coverage checks
    project:
      default:
        target: 85%  # Minimum acceptable coverage
        threshold: 2%  # Allow 2% drop before failing
        base: auto
        if_ci_failed: error
        informational: false
    
    # Patch-level coverage checks (for new code in PRs)
    patch:
      default:
        target: 90%  # New code should have high coverage
        threshold: 5%
        base: auto
        if_ci_failed: error
        informational: false
    
    # Individual file-level changes
    changes:
      default:
        base: auto
        if_ci_failed: error

# Comment configuration for pull requests
comment:
  layout: "header, diff, components, tree"
  behavior: default  # Update existing comment
  require_changes: false  # Always comment
  require_base: false
  require_head: true
  branches:
    - development
    - main

# Ignore patterns
ignore:
  - "tests/**/*"
  - "docs/**/*"
  - "scripts/**/*"
  - "alembic/versions/**/*"
  - "**/__init__.py"
  - "**/conftest.py"

# Component-based coverage (optional but useful)
component_management:
  default_rules:
    statuses:
      - type: project
        target: 85%
      - type: patch
        target: 90%
  
  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - src/api/**
    
    - component_id: providers
      name: Providers
      paths:
        - src/providers/**
    
    - component_id: services
      name: Services
      paths:
        - src/services/**
    
    - component_id: models
      name: Database Models
      paths:
        - src/models/**
    
    - component_id: core
      name: Core Infrastructure
      paths:
        - src/core/**

# GitHub integration settings
github_checks:
  annotations: true

# Codecov CLI settings
cli:
  runners:
    retry_count: 3
    retry_delay: 2

# Flag management for different test types
flags:
  unit:
    paths:
      - src/
    carryforward: true
  
  integration:
    paths:
      - src/
    carryforward: true
  
  api:
    paths:
      - src/api/
    carryforward: true

chore(release): bump version to 1.5.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Release v1.5.1 - Auto-Generated API Documentation (#117)
  .github/workflows/docs.yml
  .griffe.yml
  CHANGELOG.md
  Makefile
  docs/gen_ref_pages.py
  docs/guides/release-management.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  src/application/commands/handlers/__init__.py
  src/application/queries/handlers/__init__.py
  src/application/services/__init__.py
  src/infrastructure/external/__init__.py
  src/infrastructure/logging/__init__.py
  src/infrastructure/providers/__init__.py
  src/infrastructure/rate_limit/lua_scripts/__init__.py
  src/presentation/routers/api/middleware/__init__.py
  uv.lock
Due: none

docs(architecture): add core architecture documentation
  CHANGELOG.md
  Makefile
  WARP.md
  docs/architecture/directory-structure.md
  docs/architecture/domain-driven-design-architecture.md
  docs/architecture/hexagonal-architecture.md
  docs/architecture/protocol-based-architecture.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: none

docs(architecture): add core architecture documentation (#118)
  CHANGELOG.md
  Makefile
  WARP.md
  docs/architecture/directory-structure.md
  docs/architecture/domain-driven-design-architecture.md
  docs/architecture/hexagonal-architecture.md
  docs/architecture/protocol-based-architecture.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: none

Release v1.5.2 (#119)
  CHANGELOG.md
  Makefile
  WARP.md
  docs/architecture/directory-structure.md
  docs/architecture/domain-driven-design-architecture.md
  docs/architecture/hexagonal-architecture.md
  docs/architecture/protocol-based-architecture.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: none

feat(provider): add provider integration registry
  CHANGELOG.md
  docs/architecture/provider-domain-model.md
  docs/architecture/provider-integration-architecture.md
  docs/architecture/provider-registry-architecture.md
  docs/guides/adding-new-providers.md
  docs/index.md
  mkdocs.yml
  src/core/container/providers.py
  src/domain/providers/__init__.py
  src/domain/providers/registry.py
  tests/unit/test_provider_registry_compliance.py
Due: unit, integration, Core Infrastructure

feat(provider): add provider integration registry (#120)
  CHANGELOG.md
  docs/architecture/provider-domain-model.md
  docs/architecture/provider-integration-architecture.md
  docs/architecture/provider-registry-architecture.md
  docs/guides/adding-new-providers.md
  docs/index.md
  mkdocs.yml
  src/core/container/providers.py
  src/domain/providers/__init__.py
  src/domain/providers/registry.py
  tests/unit/test_provider_registry_compliance.py
Due: unit, integration, Core Infrastructure

chore(release): bump version to 1.6.0
  pyproject.toml
  uv.lock
Due: none

Release v1.6.0: Provider Integration Registry (#121)
  CHANGELOG.md
  docs/architecture/provider-domain-model.md
  docs/architecture/provider-integration-architecture.md
  docs/architecture/provider-registry-architecture.md
  docs/guides/adding-new-providers.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  src/core/container/providers.py
  src/domain/providers/__init__.py
  src/domain/providers/registry.py
  tests/unit/test_provider_registry_compliance.py
  uv.lock
Due: unit, integration, Core Infrastructure

feat(rate-limit): add rate limit registry compliance tests (F8.3)
  CHANGELOG.md
  tests/unit/test_rate_limit_registry_compliance.py
Due: none

Revert "feat(rate-limit): add rate limit registry compliance tests (F8.3)"
  CHANGELOG.md
  tests/unit/test_rate_limit_registry_compliance.py
Due: none

feat(rate-limit): add rate limit registry compliance tests (F8.3) (#122)
  CHANGELOG.md
  tests/unit/test_rate_limit_registry_compliance.py
Due: none

docs(rate-limit): document registry pattern and F8.3 compliance tests
  docs/architecture/rate-limit-architecture.md
  docs/architecture/registry-pattern-architecture.md
Due: none

docs(rate-limit): document registry pattern and F8.3 compliance tests (#123)
  docs/architecture/rate-limit-architecture.md
  docs/architecture/registry-pattern-architecture.md
Due: none

chore(release): bump version to 1.6.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Release v1.6.1: Rate Limit Registry Pattern Documentation (#124)
  CHANGELOG.md
  docs/architecture/rate-limit-architecture.md
  docs/architecture/registry-pattern-architecture.md
  pyproject.toml
  tests/unit/test_rate_limit_registry_compliance.py
  uv.lock
Due: none

docs(validation): add validation rules registry architecture (F8.4)
  docs/architecture/provider-registry-architecture.md
  docs/architecture/registry-pattern-architecture.md
  docs/architecture/validation-registry-architecture.md
  docs/index.md
  mkdocs.yml
  src/domain/validators/__init__.py
  src/domain/validators/functions.py
  src/domain/validators/registry.py
  tests/unit/test_validation_registry_compliance.py
Due: unit, integration

docs(validation): add validation rules registry architecture (F8.4) (#125)
  docs/architecture/provider-registry-architecture.md
  docs/architecture/registry-pattern-architecture.md
  docs/architecture/validation-registry-architecture.md
  docs/index.md
  mkdocs.yml
  src/domain/validators/__init__.py
  src/domain/validators/functions.py
  src/domain/validators/registry.py
  tests/unit/test_validation_registry_compliance.py
Due: unit, integration

chore(release): bump version to v1.6.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Release v1.6.2 - Validation Rules Registry (#127)
  CHANGELOG.md
  docs/architecture/provider-registry-architecture.md
  docs/architecture/registry-pattern-architecture.md
  docs/architecture/validation-registry-architecture.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  src/domain/validators/__init__.py
  src/domain/validators/functions.py
  src/domain/validators/registry.py
  tests/unit/test_validation_registry_compliance.py
  uv.lock
Due: unit, integration

feat(api): implement route metadata registry with auto-generated routes
  WARP.md
  docs/architecture/registry-pattern-architecture.md
  docs/architecture/route-registry-architecture.md
  docs/guides/error-handling-guide.md
  docs/index.md
  mkdocs.yml
  src/infrastructure/rate_limit/config.py
  src/infrastructure/rate_limit/from_registry.py
  src/presentation/routers/api/v1/__init__.py
  src/presentation/routers/api/v1/accounts.py
  src/presentation/routers/api/v1/admin/__init__.py
  src/presentation/routers/api/v1/admin/token_rotation.py
  src/presentation/routers/api/v1/balance_snapshots.py
  src/presentation/routers/api/v1/email_verifications.py
  src/presentation/routers/api/v1/holdings.py
  src/presentation/routers/api/v1/imports.py
  src/presentation/routers/api/v1/password_resets.py
  src/presentation/routers/api/v1/providers.py
  src/presentation/routers/api/v1/routes/__init__.py
  src/presentation/routers/api/v1/routes/derivations.py
  src/presentation/routers/api/v1/routes/generator.py
  src/presentation/routers/api/v1/routes/metadata.py
  src/presentation/routers/api/v1/routes/registry.py
  src/presentation/routers/api/v1/sessions.py
  src/presentation/routers/api/v1/tokens.py
  src/presentation/routers/api/v1/transactions.py
  src/presentation/routers/api/v1/users.py
  src/schemas/__init__.py
  src/schemas/auth_schemas.py
  tests/api/test_admin_rotation_api.py
  tests/api/test_email_verifications_api.py
  tests/api/test_password_resets_api.py
  tests/api/test_route_metadata_registry_compliance.py
  tests/api/test_sessions_api.py
  tests/api/test_tokens_api.py
  tests/api/test_users_api.py
  tests/unit/test_domain_rate_limit_scope.py
  tests/unit/test_rate_limit_registry_compliance.py
Due: unit, integration

feat(api): implement route metadata registry with auto-generated routes (#128)
  WARP.md
  docs/architecture/registry-pattern-architecture.md
  docs/architecture/route-registry-architecture.md
  docs/guides/error-handling-guide.md
  docs/index.md
  mkdocs.yml
  src/infrastructure/rate_limit/config.py
  src/infrastructure/rate_limit/from_registry.py
  src/presentation/routers/api/v1/__init__.py
  src/presentation/routers/api/v1/accounts.py
  src/presentation/routers/api/v1/admin/__init__.py
  src/presentation/routers/api/v1/admin/token_rotation.py
  src/presentation/routers/api/v1/balance_snapshots.py
  src/presentation/routers/api/v1/email_verifications.py
  src/presentation/routers/api/v1/holdings.py
  src/presentation/routers/api/v1/imports.py
  src/presentation/routers/api/v1/password_resets.py
  src/presentation/routers/api/v1/providers.py
  src/presentation/routers/api/v1/routes/__init__.py
  src/presentation/routers/api/v1/routes/derivations.py
  src/presentation/routers/api/v1/routes/generator.py
  src/presentation/routers/api/v1/routes/metadata.py
  src/presentation/routers/api/v1/routes/registry.py
  src/presentation/routers/api/v1/sessions.py
  src/presentation/routers/api/v1/tokens.py
  src/presentation/routers/api/v1/transactions.py
  src/presentation/routers/api/v1/users.py
  src/schemas/__init__.py
  src/schemas/auth_schemas.py
  tests/api/test_admin_rotation_api.py
  tests/api/test_email_verifications_api.py
  tests/api/test_password_resets_api.py
  tests/api/test_route_metadata_registry_compliance.py
  tests/api/test_sessions_api.py
  tests/api/test_tokens_api.py
  tests/api/test_users_api.py
  tests/unit/test_domain_rate_limit_scope.py
  tests/unit/test_rate_limit_registry_compliance.py
Due: unit, integration

chore(release): bump version to 1.6.3
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(deps): upgrade infrastructure to latest versions (v1.6.4)
  CHANGELOG.md
  alembic/env.py
  alembic/versions/20251203_0538-351384faf4aa_add_fk_provider_connections_provider_id.py
  compose/docker-compose.ci.yml
  compose/docker-compose.dev.yml
  compose/docker-compose.test.yml
  docker/Dockerfile
  docs/gen_ref_pages.py
  pyproject.toml
  uv.lock
Due: none

chore(deps): upgrade infrastructure to latest versions (v1.6.4) (#130)
  CHANGELOG.md
  alembic/env.py
  alembic/versions/20251203_0538-351384faf4aa_add_fk_provider_connections_provider_id.py
  compose/docker-compose.ci.yml
  compose/docker-compose.dev.yml
  compose/docker-compose.test.yml
  docker/Dockerfile
  docs/gen_ref_pages.py
  pyproject.toml
  uv.lock
Due: none

Release v1.6.4: Infrastructure Upgrades (#131)
  CHANGELOG.md
  alembic/env.py
  alembic/versions/20251203_0538-351384faf4aa_add_fk_provider_connections_provider_id.py
  compose/docker-compose.ci.yml
  compose/docker-compose.dev.yml
  compose/docker-compose.test.yml
  docker/Dockerfile
  docs/gen_ref_pages.py
  pyproject.toml
  uv.lock
Due: none

chore(deps): comprehensive package upgrades and quality fixes for v1.6.5
  CHANGELOG.md
  WARP.md
  pyproject.toml
  src/application/commands/handlers/connect_provider_handler.py
  src/application/commands/handlers/disconnect_provider_handler.py
  src/application/commands/handlers/import_from_file_handler.py
  src/application/commands/handlers/refresh_provider_tokens_handler.py
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_holdings_handler.py
  src/application/commands/handlers/sync_transactions_handler.py
  src/application/queries/handlers/get_account_handler.py
  src/application/queries/handlers/get_provider_handler.py
  src/application/queries/handlers/get_transaction_handler.py
  src/application/queries/handlers/list_accounts_handler.py
  src/application/queries/handlers/list_holdings_handler.py
  src/application/queries/handlers/list_providers_handler.py
  src/application/queries/handlers/list_transactions_handler.py
  src/core/config.py
  src/domain/protocols/event_bus_protocol.py
  src/domain/validators/registry.py
  src/infrastructure/persistence/repositories/holding_repository.py
  src/infrastructure/persistence/repositories/session_repository.py
  src/infrastructure/providers/schwab/api/accounts_api.py
  uv.lock
Due: unit, integration, Core Infrastructure

chore(format): apply ruff formatting fixes for v1.6.5 compatibility
  src/application/commands/handlers/connect_provider_handler.py
  src/application/commands/handlers/disconnect_provider_handler.py
  src/application/commands/handlers/import_from_file_handler.py
  src/application/commands/handlers/refresh_provider_tokens_handler.py
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_holdings_handler.py
  src/application/commands/handlers/sync_transactions_handler.py
  src/infrastructure/persistence/repositories/holding_repository.py
Due: unit, integration

chore(deps): Comprehensive Package Upgrades and Quality Fixes (v1.6.5) (#132)
  CHANGELOG.md
  WARP.md
  pyproject.toml
  src/application/commands/handlers/connect_provider_handler.py
  src/application/commands/handlers/disconnect_provider_handler.py
  src/application/commands/handlers/import_from_file_handler.py
  src/application/commands/handlers/refresh_provider_tokens_handler.py
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_holdings_handler.py
  src/application/commands/handlers/sync_transactions_handler.py
  src/application/queries/handlers/get_account_handler.py
  src/application/queries/handlers/get_provider_handler.py
  src/application/queries/handlers/get_transaction_handler.py
  src/application/queries/handlers/list_accounts_handler.py
  src/application/queries/handlers/list_holdings_handler.py
  src/application/queries/handlers/list_providers_handler.py
  src/application/queries/handlers/list_transactions_handler.py
  src/core/config.py
  src/domain/protocols/event_bus_protocol.py
  src/domain/validators/registry.py
  src/infrastructure/persistence/repositories/holding_repository.py
  src/infrastructure/persistence/repositories/session_repository.py
  src/infrastructure/providers/schwab/api/accounts_api.py
  uv.lock
Due: unit, integration, Core Infrastructure

Release v1.6.5: Comprehensive Package Upgrades & Quality Fixes (#133)
  CHANGELOG.md
  WARP.md
  pyproject.toml
  src/application/commands/handlers/connect_provider_handler.py
  src/application/commands/handlers/disconnect_provider_handler.py
  src/application/commands/handlers/import_from_file_handler.py
  src/application/commands/handlers/refresh_provider_tokens_handler.py
  src/application/commands/handlers/sync_accounts_handler.py
  src/application/commands/handlers/sync_holdings_handler.py
  src/application/commands/handlers/sync_transactions_handler.py
  src/application/queries/handlers/get_account_handler.py
  src/application/queries/handlers/get_provider_handler.py
  src/application/queries/handlers/get_transaction_handler.py
  src/application/queries/handlers/list_accounts_handler.py
  src/application/queries/handlers/list_holdings_handler.py
  src/application/queries/handlers/list_providers_handler.py
  src/application/queries/handlers/list_transactions_handler.py
  src/core/config.py
  src/domain/protocols/event_bus_protocol.py
  src/domain/validators/registry.py
  src/infrastructure/persistence/repositories/holding_repository.py
  src/infrastructure/persistence/repositories/session_repository.py
  src/infrastructure/providers/schwab/api/accounts_api.py
  uv.lock
Due: unit, integration, Core Infrastructure

chore(infra): upgrade Python 3.13 to 3.14.2
  .github/workflows/docs.yml
  .github/workflows/test.yml
  CHANGELOG.md
  WARP.md
  docker/Dockerfile
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: none

chore(infra): upgrade Python 3.13 to 3.14.2 (#134)
  .github/workflows/docs.yml
  .github/workflows/test.yml
  CHANGELOG.md
  WARP.md
  docker/Dockerfile
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: none

Release v1.6.6: Python 3.14 upgrade (#135)
  .github/workflows/docs.yml
  .github/workflows/test.yml
  CHANGELOG.md
  WARP.md
  docker/Dockerfile
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: none

docs(guides): merge error-handling guides into single comprehensive guide
  docs/guides/error-handling-usage.md
  docs/guides/error-handling.md
  mkdocs.yml
Due: none
