Repository faiyaz7283/dashtam-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, api, API Layer, Providers, Services, Database Models, Core Infrastructure

fix(models): rename is_trusted_device to is_trusted for SessionBase compatibility
  alembic/versions/20251103_0402-462cce711b23_rename_is_trusted_device_to_is_trusted_.py
  src/models/session.py
  src/services/auth_service.py
Due: unit, integration, Services, Database Models

fix(session): rename is_active() to is_session_active() to avoid name collision
  src/models/session.py
  src/session_manager/models/base.py
  src/session_manager/tests/fixtures/mock_models.py
  src/session_manager/tests/unit/test_base_model.py
Due: unit, integration, Database Models

fix(auth): handle invalid IP addresses from TestClient gracefully
  src/services/auth_service.py
Due: unit, integration, Services

fix(tests): update test fixtures and tests for Session model integration
  src/api/v1/sessions.py
  src/services/auth_service.py
  tests/api/test_sessions_endpoints.py
  tests/conftest.py
  tests/unit/models/test_auth_tokens.py
  tests/unit/services/test_auth_service.py
Due: unit, integration, api, API Layer, Services

feat(structure): implement hexagonal architecture directory structure
  docs/development/architecture/directory-structure.md
  src/application/__init__.py
  src/application/commands/__init__.py
  src/application/commands/handlers/.gitkeep
  src/application/events/__init__.py
  src/application/events/handlers/.gitkeep
  src/application/queries/__init__.py
  src/application/queries/handlers/.gitkeep
  src/core/__init__.py
  src/core/errors.py
  src/core/result.py
  src/core/validation.py
  src/domain/__init__.py
  src/domain/entities/.gitkeep
  src/domain/events/.gitkeep
  src/domain/protocols/.gitkeep
  src/domain/value_objects/.gitkeep
  src/infrastructure/__init__.py
  src/infrastructure/external/.gitkeep
  src/infrastructure/persistence/.gitkeep
  src/infrastructure/providers/.gitkeep
  src/presentation/__init__.py
  src/presentation/api/__init__.py
  src/presentation/api/v1/.gitkeep
  tests/__init__.py
  tests/api/.gitkeep
  tests/integration/.gitkeep
  tests/smoke/.gitkeep
  tests/unit/.gitkeep
Due: unit, integration, Core Infrastructure

feat(structure): implement hexagonal architecture directory structure (#58)
  docs/development/architecture/directory-structure.md
  src/application/__init__.py
  src/application/commands/__init__.py
  src/application/commands/handlers/.gitkeep
  src/application/events/__init__.py
  src/application/events/handlers/.gitkeep
  src/application/queries/__init__.py
  src/application/queries/handlers/.gitkeep
  src/core/__init__.py
  src/core/errors.py
  src/core/result.py
  src/core/validation.py
  src/domain/__init__.py
  src/domain/entities/.gitkeep
  src/domain/events/.gitkeep
  src/domain/protocols/.gitkeep
  src/domain/value_objects/.gitkeep
  src/infrastructure/__init__.py
  src/infrastructure/external/.gitkeep
  src/infrastructure/persistence/.gitkeep
  src/infrastructure/providers/.gitkeep
  src/presentation/__init__.py
  src/presentation/api/__init__.py
  src/presentation/api/v1/.gitkeep
  tests/__init__.py
  tests/api/.gitkeep
  tests/integration/.gitkeep
  tests/smoke/.gitkeep
  tests/unit/.gitkeep
Due: unit, integration, Core Infrastructure

feat(docker): implement multi-environment Docker setup with Traefik integration
  Makefile
  compose/docker-compose.dev.yml
  compose/docker-compose.test.yml
  docker/Dockerfile
  env/.env.dev.example
  env/.env.test.example
  src/main.py
Due: unit, integration

feat(docker): implement multi-environment Docker setup with Traefik integration (#59)
  Makefile
  compose/docker-compose.dev.yml
  compose/docker-compose.test.yml
  docker/Dockerfile
  env/.env.dev.example
  env/.env.test.example
  src/main.py
Due: unit, integration

feat(config): implement flat Settings with Pydantic
  docs/architecture/directory-structure.md
  env/.env.test.example
  src/core/config.py
  src/main.py
  tests/unit/core/test_config.py
Due: unit, integration, Core Infrastructure

feat(config): implement flat Settings with Pydantic (#60)
  docs/architecture/directory-structure.md
  env/.env.test.example
  src/core/config.py
  src/main.py
  tests/unit/core/test_config.py
Due: unit, integration, Core Infrastructure

feat(infrastructure): implement F0.4 database setup with hexagonal architecture
  Makefile
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/20251110_2340-bb433187db3b_initial_database_setup.py
  docs/architecture/database-architecture.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  pytest.ini
  src/__init__.py
  src/core/config.py
  src/domain/protocols/repositories.py
  src/infrastructure/errors.py
  src/infrastructure/persistence/__init__.py
  src/infrastructure/persistence/base.py
  src/infrastructure/persistence/database.py
  tests/conftest.py
  tests/integration/test_infrastructure_persistence_database.py
Due: unit, integration, Core Infrastructure

feat(infrastructure): implement F0.4 database setup with hexagonal architecture (#61)
  Makefile
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/20251110_2340-bb433187db3b_initial_database_setup.py
  docs/architecture/database-architecture.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  pytest.ini
  src/__init__.py
  src/core/config.py
  src/domain/protocols/repositories.py
  src/infrastructure/errors.py
  src/infrastructure/persistence/__init__.py
  src/infrastructure/persistence/base.py
  src/infrastructure/persistence/database.py
  tests/conftest.py
  tests/integration/test_infrastructure_persistence_database.py
Due: unit, integration, Core Infrastructure

feat(cache): implement F0.5 Redis cache with hexagonal architecture
  docs/architecture/cache-architecture.md
  docs/architecture/error-handling-architecture.md
  src/__init__.py
  src/core/__init__.py
  src/core/errors.py
  src/core/validation.py
  src/domain/protocols/__init__.py
  src/domain/protocols/cache.py
  src/infrastructure/cache/__init__.py
  src/infrastructure/cache/redis_adapter.py
  src/infrastructure/errors.py
  tests/conftest.py
  tests/integration/test_infrastructure_cache_redis.py
Due: unit, integration, Core Infrastructure

feat(cache): implement F0.5 Redis cache with hexagonal architecture (#62)
  docs/architecture/cache-architecture.md
  docs/architecture/error-handling-architecture.md
  src/__init__.py
  src/core/__init__.py
  src/core/errors.py
  src/core/validation.py
  src/domain/protocols/__init__.py
  src/domain/protocols/cache.py
  src/infrastructure/cache/__init__.py
  src/infrastructure/cache/redis_adapter.py
  src/infrastructure/errors.py
  tests/conftest.py
  tests/integration/test_infrastructure_cache_redis.py
Due: unit, integration, Core Infrastructure

fix(test): enable Alembic migrations in test and dev environments
  compose/docker-compose.test.yml
  docker/Dockerfile
Due: none

docs(test): add comprehensive testing architecture and simplify test structure
  docs/architecture/testing-architecture.md
  tests/integration/test_cache_redis.py
  tests/integration/test_database_postgres.py
  tests/unit/test_core_config.py
Due: none

fix(test): Enable migrations and add comprehensive testing architecture (#63)
  compose/docker-compose.test.yml
  docker/Dockerfile
  docs/architecture/testing-architecture.md
  tests/integration/test_cache_redis.py
  tests/integration/test_database_postgres.py
  tests/unit/test_core_config.py
Due: none

feat(secrets): implement hexagonal secrets management with Protocol-based DI
  docs/architecture/cache-architecture.md
  docs/architecture/database-architecture.md
  docs/architecture/dependency-injection-architecture.md
  docs/architecture/directory-structure.md
  docs/architecture/error-handling-architecture.md
  docs/architecture/secrets-management-architecture.md
  docs/architecture/testing-architecture.md
  docs/index.md
  pyproject.toml
  src/core/config.py
  src/core/container.py
  src/core/errors.py
  src/domain/protocols/secrets_protocol.py
  src/infrastructure/cache/__init__.py
  src/infrastructure/secrets/__init__.py
  src/infrastructure/secrets/aws_adapter.py
  src/infrastructure/secrets/env_adapter.py
  tests/conftest.py
  tests/integration/test_secrets_env_adapter.py
  tests/unit/test_core_container_secrets.py
  tests/unit/test_infrastructure_secrets_aws_adapter.py
  tests/unit/test_infrastructure_secrets_env_adapter.py
  uv.lock
Due: unit, integration, Core Infrastructure

feat(secrets): implement hexagonal secrets management with Protocol-based DI (#64)
  docs/architecture/cache-architecture.md
  docs/architecture/database-architecture.md
  docs/architecture/dependency-injection-architecture.md
  docs/architecture/directory-structure.md
  docs/architecture/error-handling-architecture.md
  docs/architecture/secrets-management-architecture.md
  docs/architecture/testing-architecture.md
  docs/index.md
  pyproject.toml
  src/core/config.py
  src/core/container.py
  src/core/errors.py
  src/domain/protocols/secrets_protocol.py
  src/infrastructure/cache/__init__.py
  src/infrastructure/secrets/__init__.py
  src/infrastructure/secrets/aws_adapter.py
  src/infrastructure/secrets/env_adapter.py
  tests/conftest.py
  tests/integration/test_secrets_env_adapter.py
  tests/unit/test_core_container_secrets.py
  tests/unit/test_infrastructure_secrets_aws_adapter.py
  tests/unit/test_infrastructure_secrets_env_adapter.py
  uv.lock
Due: unit, integration, Core Infrastructure

feat(logging): implement F0.8 structured logging with hexagonal architecture
  docs/architecture/structured-logging-architecture.md
  env/.env.test.example
  pyproject.toml
  src/core/config.py
  src/core/container.py
  src/domain/protocols/logger_protocol.py
  src/infrastructure/logging/cloudwatch_adapter.py
  src/infrastructure/logging/console_adapter.py
  src/infrastructure/secrets/aws_adapter.py
  src/main.py
  src/presentation/api/middleware/trace_middleware.py
  tests/integration/test_logging_cloudwatch_adapter.py
  tests/integration/test_logging_console_adapter.py
  tests/unit/test_core_container_logger.py
  tests/unit/test_infrastructure_logging_cloudwatch_adapter.py
  tests/unit/test_infrastructure_logging_console_adapter.py
  tests/unit/test_presentation_middleware_trace.py
  uv.lock
Due: unit, integration, Core Infrastructure

refactor(core): centralize enums following DDD pattern
  src/core/__init__.py
  src/core/config.py
  src/core/enums/__init__.py
  src/core/enums/environment.py
  src/core/enums/error_code.py
  src/core/errors.py
  src/infrastructure/enums/__init__.py
  src/infrastructure/enums/infrastructure_error_code.py
  src/infrastructure/errors.py
Due: unit, integration, Core Infrastructure

docs(architecture): document centralized enum and error organization
  docs/architecture/directory-structure.md
Due: none

docs(f0.9): add audit trail architecture document
  docs/architecture/audit-trail-architecture.md
Due: none

style(tests): apply code formatting to test files
  tests/integration/test_logging_cloudwatch_adapter.py
  tests/integration/test_logging_console_adapter.py
  tests/unit/test_core_container_logger.py
  tests/unit/test_infrastructure_logging_cloudwatch_adapter.py
  tests/unit/test_infrastructure_logging_console_adapter.py
  tests/unit/test_presentation_middleware_trace.py
Due: none

refactor(errors): centralize error classes by architectural layer
  src/core/enums/error_code.py
  src/core/errors/__init__.py
  src/core/errors/common_errors.py
  src/core/errors/domain_error.py
  src/domain/errors/__init__.py
  src/domain/errors/audit_error.py
  src/domain/errors/secrets_error.py
Due: unit, integration, Core Infrastructure

refactor(errors): complete Phase 6 import updates and cleanup
  src/core/__init__.py
  src/core/errors.py
  src/core/validation.py
  src/domain/protocols/secrets_protocol.py
  src/infrastructure/cache/redis_adapter.py
  src/infrastructure/errors/__init__.py
  src/infrastructure/errors/infrastructure_error.py
  src/infrastructure/secrets/aws_adapter.py
  src/infrastructure/secrets/env_adapter.py
  tests/integration/test_secrets_env_adapter.py
  tests/unit/test_infrastructure_secrets_aws_adapter.py
  tests/unit/test_infrastructure_secrets_env_adapter.py
Due: unit, integration, Core Infrastructure

docs: complete Phase 7 documentation updates for error centralization
  docs/architecture/audit-trail-architecture.md
  docs/architecture/database-architecture.md
  docs/architecture/error-handling-architecture.md
  docs/architecture/secrets-management-architecture.md
Due: none

docs: fix markdown lint errors (Phase 8a-8b)
  docs/architecture/audit-trail-architecture.md
  docs/architecture/database-architecture.md
  docs/architecture/error-handling-architecture.md
Due: none

fix: complete tests properly - fix unused variables (Phase 8a-8d)
  docs/architecture/database-architecture.md
  docs/architecture/secrets-management-architecture.md
  tests/integration/test_logging_cloudwatch_adapter.py
  tests/unit/test_core_container_logger.py
  tests/unit/test_infrastructure_logging_cloudwatch_adapter.py
Due: none

fix(tests): resolve all mypy type errors (Phase 8e-8g)
  tests/integration/test_secrets_env_adapter.py
  tests/unit/test_presentation_middleware_trace.py
Due: none

feat(audit): implement F0.9 audit trail with immutable PostgreSQL logging
  alembic/env.py
  alembic/versions/20251115_2303-b7a1d68f632a_add_audit_logs_table.py
  alembic/versions/20251116_2052-74d01428951a_make_audit_logs_context_field_nullable.py
  docs/api-flows/audit/audit-logging-examples.md
  docs/architecture/audit-trail-architecture.md
  src/core/container.py
  src/core/errors/common_errors.py
  src/core/errors/domain_error.py
  src/domain/enums/__init__.py
  src/domain/enums/audit_action.py
  src/domain/errors/audit_error.py
  src/domain/errors/secrets_error.py
  src/domain/protocols/__init__.py
  src/domain/protocols/audit_protocol.py
  src/infrastructure/audit/__init__.py
  src/infrastructure/audit/postgres_adapter.py
  src/infrastructure/persistence/base.py
  src/infrastructure/persistence/models/__init__.py
  src/infrastructure/persistence/models/audit.py
  tests/conftest.py
  tests/integration/test_audit_postgres_adapter.py
  tests/integration/test_database_postgres.py
  tests/unit/test_domain_enums_audit_action.py
  tests/unit/test_infrastructure_audit_postgres_adapter.py
Due: unit, integration, Core Infrastructure

docs: fix markdown linting violations in architecture docs
  docs/architecture/audit-trail-architecture.md
  docs/architecture/directory-structure.md
  docs/architecture/testing-architecture.md
Due: none

feat(audit): implement separate audit session for durability
  src/core/container.py
  src/infrastructure/audit/postgres_adapter.py
  tests/conftest.py
  tests/integration/test_audit_durability.py
  tests/integration/test_audit_postgres_adapter.py
  tests/unit/test_infrastructure_audit_postgres_adapter.py
Due: unit, integration, Core Infrastructure

feat(audit): implement separate audit session for durability (#67)
  src/core/container.py
  src/infrastructure/audit/postgres_adapter.py
  tests/conftest.py
  tests/integration/test_audit_durability.py
  tests/integration/test_audit_postgres_adapter.py
  tests/unit/test_infrastructure_audit_postgres_adapter.py
Due: unit, integration, Core Infrastructure

fix(audit): implement ATTEMPT → OUTCOME semantic accuracy pattern
  docs/api-flows/audit/audit-logging-examples.md
  docs/architecture/audit-trail-architecture.md
  docs/guides/audit-usage-patterns.md
  docs/index.md
  mkdocs.yml
  src/core/container.py
  src/domain/enums/audit_action.py
  src/infrastructure/audit/postgres_adapter.py
  tests/integration/test_audit_durability.py
  tests/integration/test_audit_postgres_adapter.py
  tests/unit/test_domain_enums_audit_action.py
  tests/unit/test_infrastructure_audit_postgres_adapter.py
Due: unit, integration, Core Infrastructure

Path conditions:
  unit: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  integration: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  api: any of: src/api/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  API Layer: any of: src/api/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Providers: any of: src/providers/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Services: any of: src/services/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Database Models: any of: src/models/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Core Infrastructure: any of: src/core/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
