Repository faiyaz7283/dashtam-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, api, API Layer, Providers, Services, Database Models, Core Infrastructure

docs(p2): Session Management Endpoints - Research & Implementation Guide (#52)
  docs/development/implementation/rate-limiting-implementation.md
  docs/development/implementation/session-management-implementation-guide.md
  docs/development/technical-debt-roadmap.md
  docs/development/troubleshooting/database-corruption-alembic-mismatch.md
  docs/research/session-management-research.md
Due: none

refactor(api): Phase 1 - Add service dependency injection for AuthService and TokenService
  docs/development/implementation/api-refactoring-plan.md
  docs/development/reviews/ARCHITECTURAL_AUDIT_REPORT_2025-10-27.md
  src/api/dependencies.py
  src/api/v1/auth_jwt.py
  src/api/v1/provider_authorization.py
Due: unit, integration, api, API Layer

refactor(api): Phase 2 - Normalize imports to module level
  src/api/v1/provider_types.py
  src/api/v1/providers.py
Due: unit, integration, api, API Layer

refactor(services): extract verification and password reset services + achieve 86% coverage
  codecov.yml
  pyproject.toml
  src/api/dependencies.py
  src/services/auth_service.py
  src/services/password_reset_service.py
  src/services/verification_service.py
  tests/unit/api/test_dependencies.py
  tests/unit/services/test_auth_service.py
  tests/unit/services/test_auth_service_password_reset.py
  tests/unit/services/test_password_reset_service.py
  tests/unit/services/test_verification_service.py
Due: unit, integration, api, API Layer, Services

docs: update service structure documentation after Phase 3 extraction
  WARP.md
  docs/development/implementation/api-refactoring-plan.md
Due: none

refactor(services): extract verification and password reset services + achieve 86% coverage
  docs/development/architecture/restful-api-design.md
  docs/development/guides/testing-guide.md
Due: none

style(tests): fix code formatting in test files
  tests/unit/api/test_dependencies.py
  tests/unit/services/test_auth_service.py
  tests/unit/services/test_auth_service_password_reset.py
  tests/unit/services/test_password_reset_service.py
Due: none

Phase 5: Service Extraction + 86% Coverage Achievement (#53)
  WARP.md
  codecov.yml
  docs/development/architecture/restful-api-design.md
  docs/development/guides/testing-guide.md
  docs/development/implementation/api-refactoring-plan.md
  docs/development/reviews/ARCHITECTURAL_AUDIT_REPORT_2025-10-27.md
  pyproject.toml
  src/api/dependencies.py
  src/api/v1/auth_jwt.py
  src/api/v1/provider_authorization.py
  src/api/v1/provider_types.py
  src/api/v1/providers.py
  src/services/auth_service.py
  src/services/password_reset_service.py
  src/services/verification_service.py
  tests/unit/api/test_dependencies.py
  tests/unit/services/test_auth_service.py
  tests/unit/services/test_auth_service_password_reset.py
  tests/unit/services/test_password_reset_service.py
  tests/unit/services/test_verification_service.py
Due: unit, integration, api, API Layer, Services

feat(models): add session management fields to RefreshToken model
  alembic/versions/20251028_1645-a5270ef91c56_add_session_management_fields.py
  src/models/auth.py
Due: unit, integration, Database Models

feat(geolocation): add IP geolocation service with MaxMind GeoLite2
  .gitignore
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  pyproject.toml
  src/core/config.py
  src/services/geolocation_service.py
  uv.lock
Due: unit, integration, Services, Core Infrastructure

feat(session): add device fingerprinting and JWT jti claim support
  src/core/fingerprinting.py
  src/services/jwt_service.py
Due: unit, integration, Services, Core Infrastructure

feat(session): implement SessionManagementService for session control
  src/services/session_management_service.py
Due: unit, integration, Services

feat(api): add session management RESTful API endpoints
  src/api/v1/__init__.py
  src/api/v1/sessions.py
  src/schemas/session.py
Due: unit, integration, api, API Layer

feat(session): Wire up session management - Phase 5 complete
  src/api/v1/auth_jwt.py
  src/api/v1/sessions.py
  src/services/auth_service.py
Due: unit, integration, api, API Layer, Services

fix(session): Make Redis optional in session service - Phase 5 testing
  src/services/session_management_service.py
Due: unit, integration, Services

feat(cache): Implement SOLID Redis abstraction for session management
  src/api/v1/sessions.py
  src/core/cache/__init__.py
  src/core/cache/base.py
  src/core/cache/factory.py
  src/core/cache/redis_cache.py
  src/services/session_management_service.py
Due: unit, integration, api, API Layer, Services, Core Infrastructure

feat(auth): Complete cache integration - blacklist check in token refresh
  src/services/auth_service.py
Due: unit, integration, Services

test(cache): Add comprehensive unit tests for cache layer
  tests/unit/core/test_cache_backend.py
Due: none

test(session): Add geolocation and fingerprinting tests
  tests/unit/core/test_fingerprinting.py
  tests/unit/services/test_geolocation_service.py
Due: none

fix(tests): fix 33 failing tests - down to 4 failures
  src/api/dependencies.py
  src/core/fingerprinting.py
  src/services/auth_service.py
  src/services/geolocation_service.py
  tests/api/test_sessions_endpoints.py
  tests/conftest.py
  tests/unit/core/test_cache_backend.py
  tests/unit/core/test_fingerprinting.py
  tests/unit/services/test_auth_service.py
  tests/unit/services/test_geolocation_service.py
  tests/unit/services/test_session_management_service.py
Due: unit, integration, api, API Layer, Services, Core Infrastructure

fix(tests): fix remaining test failures - down to 2 failures
  tests/unit/services/test_auth_service.py
Due: none

fix(tests): fix 4 failing tests - HTTP status codes and client fixtures
  tests/api/test_auth_jwt_endpoints.py
  tests/api/test_sessions_endpoints.py
Due: none

fix(tests,auth): fix security bug + session test user ownership
  src/services/auth_service.py
  tests/api/test_sessions_endpoints.py
  tests/unit/core/test_cache_backend.py
Due: unit, integration, Services

fix(tests): achieve 100% test pass rate and resolve all deprecation warnings
  src/core/cache/redis_cache.py
  src/schemas/session.py
  tests/api/test_rate_limiting_middleware.py
  tests/api/test_sessions_endpoints.py
  tests/conftest.py
Due: unit, integration, Core Infrastructure

docs(architecture): add rate limiting and cache layer documentation
  docs/development/architecture/cache-layer-architecture.md
  docs/development/architecture/rate-limiting-middleware-integration.md
Due: none

docs(session-management): complete architecture and testing documentation
  docs/development/architecture/session-management.md
  docs/development/guides/testing-guide.md
  docs/development/troubleshooting/test-fixture-scopes.md
Due: none

style: run ruff format on 3 files for CI/CD compliance
  src/api/dependencies.py
  tests/unit/core/test_cache_backend.py
  tests/unit/services/test_auth_service.py
Due: unit, integration, api, API Layer

docs(roadmap): update technical debt roadmap - mark session management complete
  docs/development/technical-debt-roadmap.md
Due: none

Session Management + 100% Test Pass Rate (#54)
  .gitignore
  alembic/versions/20251028_1645-a5270ef91c56_add_session_management_fields.py
  docs/development/architecture/cache-layer-architecture.md
  docs/development/architecture/rate-limiting-middleware-integration.md
  docs/development/architecture/session-management.md
  docs/development/guides/testing-guide.md
  docs/development/technical-debt-roadmap.md
  docs/development/troubleshooting/test-fixture-scopes.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.prod.example
  env/.env.test.example
  pyproject.toml
  src/api/dependencies.py
  src/api/v1/__init__.py
  src/api/v1/auth_jwt.py
  src/api/v1/sessions.py
  src/core/cache/__init__.py
  src/core/cache/base.py
  src/core/cache/factory.py
  src/core/cache/redis_cache.py
  src/core/config.py
  src/core/fingerprinting.py
  src/models/auth.py
  src/schemas/session.py
  src/services/auth_service.py
  src/services/geolocation_service.py
  src/services/jwt_service.py
  src/services/session_management_service.py
  tests/api/test_auth_jwt_endpoints.py
  tests/api/test_rate_limiting_middleware.py
  tests/api/test_sessions_endpoints.py
  tests/conftest.py
  tests/unit/core/test_cache_backend.py
  tests/unit/core/test_fingerprinting.py
  tests/unit/services/test_auth_service.py
  tests/unit/services/test_geolocation_service.py
  tests/unit/services/test_session_management_service.py
  uv.lock
Due: unit, integration, api, API Layer, Services, Database Models, Core Infrastructure

research(token-breach): comprehensive research on token versioning and breach response
  docs/research/token-breach-rotation-research.md
Due: none

feat(token-rotation): Phase 1 - Database schema for hybrid token versioning
  alembic/env.py
  alembic/versions/20251029_2310-4a6cbff7f68b_add_token_versioning_hybrid_approach.py
  docs/development/implementation/token-rotation-implementation.md
  docs/research/token-breach-rotation-research.md
  src/models/auth.py
  src/models/security_config.py
  src/models/user.py
Due: unit, integration, Database Models

feat(token-rotation): Phase 2 - Service layer with SOLID principles
  src/services/auth_service.py
  src/services/token_rotation_service.py
Due: unit, integration, Services

feat(token-rotation): Phase 3 - REST API endpoints
  src/api/v1/__init__.py
  src/api/v1/token_rotation.py
  src/schemas/token_rotation.py
Due: unit, integration, api, API Layer

fix(token-rotation): correct router prefix to avoid URL duplication
  src/api/v1/token_rotation.py
Due: unit, integration, api, API Layer

test(api): add comprehensive token rotation API endpoint tests
  tests/api/test_token_rotation_endpoints.py
  tests/integration/test_token_rotation_integration.py
  tests/unit/services/test_auth_service.py
  tests/unit/services/test_token_rotation_service.py
Due: none

test(fixtures): add token versioning support to test fixtures
  tests/conftest.py
Due: none

docs(architecture): add comprehensive token breach rotation documentation
  docs/development/architecture/token-breach-rotation.md
  docs/development/infrastructure/security-incident-runbook.md
Due: none

feat(auth): implement automatic token rotation on password change
  src/api/v1/auth_jwt.py
  src/schemas/auth.py
  src/services/auth_service.py
  src/services/password_reset_service.py
  tests/unit/services/test_password_reset_service.py
Due: unit, integration, api, API Layer, Services

feat(auth): add token version validation and password change endpoint
  alembic/env.py
  src/api/dependencies.py
  src/services/auth_service.py
  src/services/jwt_service.py
  tests/api/test_auth_jwt_endpoints.py
  tests/api/test_token_rotation_endpoints.py
  tests/conftest.py
  tests/smoke/test_auth_flow.py
  tests/unit/api/test_dependencies.py
  tests/unit/services/test_password_reset_service.py
Due: unit, integration, api, API Layer, Services

feat: Token Breach Rotation with Version Validation (#55)
  alembic/env.py
  alembic/versions/20251029_2310-4a6cbff7f68b_add_token_versioning_hybrid_approach.py
  docs/development/architecture/token-breach-rotation.md
  docs/development/implementation/token-rotation-implementation.md
  docs/development/infrastructure/security-incident-runbook.md
  docs/research/token-breach-rotation-research.md
  src/api/dependencies.py
  src/api/v1/__init__.py
  src/api/v1/auth_jwt.py
  src/api/v1/token_rotation.py
  src/models/auth.py
  src/models/security_config.py
  src/models/user.py
  src/schemas/auth.py
  src/schemas/token_rotation.py
  src/services/auth_service.py
  src/services/jwt_service.py
  src/services/password_reset_service.py
  src/services/token_rotation_service.py
  tests/api/test_auth_jwt_endpoints.py
  tests/api/test_token_rotation_endpoints.py
  tests/conftest.py
  tests/integration/test_token_rotation_integration.py
  tests/smoke/test_auth_flow.py
  tests/unit/api/test_dependencies.py
  tests/unit/services/test_auth_service.py
  tests/unit/services/test_password_reset_service.py
  tests/unit/services/test_token_rotation_service.py
Due: unit, integration, api, API Layer, Services, Database Models

Path conditions:
  unit: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  integration: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  api: any of: src/api/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  API Layer: any of: src/api/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Providers: any of: src/providers/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Services: any of: src/services/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Database Models: any of: src/models/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Core Infrastructure: any of: src/core/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
