Repository faiyaz7283/dashtam-api: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, api, API Layer, Providers, Services, Database Models, Core Infrastructure

feat: Complete REST API Compliance Phase 3 (Issues #8 & #9) (#13)
  src/api/v1/auth.py
  tests/api/test_auth_endpoints.py
Due: unit, integration, api, API Layer

refactor: Achieve 10/10 REST API compliance - schema cleanup
  docs/development/reviews/REST_API_AUDIT_REPORT.md
  docs/development/reviews/REST_API_AUDIT_REPORT_2025-10-05.md
  src/api/v1/__init__.py
  src/api/v1/auth.py
  src/api/v1/password_resets.py
  src/schemas/auth.py
  tests/api/test_auth_endpoints.py
Due: unit, integration, api, API Layer

refactor: Achieve 10/10 REST API compliance - schema cleanup (#14)
  docs/development/reviews/REST_API_AUDIT_REPORT.md
  docs/development/reviews/REST_API_AUDIT_REPORT_2025-10-05.md
  src/api/v1/__init__.py
  src/api/v1/auth.py
  src/api/v1/password_resets.py
  src/schemas/auth.py
  tests/api/test_auth_endpoints.py
Due: unit, integration, api, API Layer

docs: Add strict REST API compliance rule to WARP.md
  WARP.md
Due: none

docs: Complete documentation audit and cleanup - Achieve organized structure
  README.md
  WARP.md
  docs/DOCUMENTATION_AUDIT_2025-10-05.md
  docs/README.md
  docs/development/guides/auth-quick-reference.md
  docs/development/reviews/REST_API_AUDIT_REPORT.md
  docs/research/README.md
  docs/research/archived/completed-research/CI_DEBUGGING_ANALYSIS.md
  docs/research/archived/completed-research/MAKEFILE_IMPROVEMENTS.md
  docs/research/archived/completed-research/async-testing.md
  docs/research/archived/completed-research/infrastructure-migration.md
  docs/research/archived/completed-research/migration.md
  docs/research/archived/completed-research/test-coverage-plan.md
  docs/research/archived/completed-research/test-infrastructure-fix-summary.md
  docs/research/archived/implementation-plans/authentication-implementation.md
  docs/research/archived/implementation-plans/jwt-auth-implementation-plan.md
  docs/research/archived/implementation-plans/rest-api-compliance-implementation-plan.md
  docs/research/archived/reviews/comprehensive-review-2025-10-03.md
  docs/research/archived/reviews/rest-api-compliance-review.md
Due: none

feat: refactor Docker and build infrastructure
  Makefile
  Makefile.workflows
  README.md
  WARP.md
  compose/docker-compose.ci.yml
  compose/docker-compose.dev.yml
  compose/docker-compose.prod.yml.example
  compose/docker-compose.test.yml
  docker/.dockerignore
  docker/Dockerfile
  docs/development/guides/docker-refactoring-implementation.md
  pyproject.toml
  src/core/config.py
Due: unit, integration, Core Infrastructure

fix: update GitHub Actions workflow and code formatting
  .github/workflows/test.yml
  src/core/config.py
Due: unit, integration, Core Infrastructure

fix: add uv.lock to repository for reproducible builds
  .gitignore
  uv.lock
Due: none

fix: properly configure .gitignore and add env/ directory to git
  .github/workflows/test.yml
  .gitignore
  env/.env.ci
  env/.env.example
  env/.env.prod.example
  env/README.md
Due: none

feat: refactor Docker and build infrastructure (#15)
  .github/workflows/test.yml
  .gitignore
  Makefile
  Makefile.workflows
  README.md
  WARP.md
  compose/docker-compose.ci.yml
  compose/docker-compose.dev.yml
  compose/docker-compose.prod.yml.example
  compose/docker-compose.test.yml
  docker/.dockerignore
  docker/Dockerfile
  docs/development/guides/docker-refactoring-implementation.md
  env/.env.ci
  env/.env.example
  env/.env.prod.example
  env/README.md
  pyproject.toml
  src/core/config.py
  uv.lock
Due: unit, integration, Core Infrastructure

Removing unused files
  .env.ci.example
  .env.dev.example
  .env.example
  .env.test.example
  backups/pre-migration-20251001/Makefile
  backups/pre-migration-20251001/docker-compose.test.yml
  backups/pre-migration-20251001/docker-compose.yml
  requirements-dev.txt
  requirements.txt
Due: none

docs(api-flows): add HTTPS-first manual API flows and maintenance policy
  README.md
  WARP.md
  docs/README.md
  docs/api-flows/README.md
  docs/api-flows/auth/email-verification.md
  docs/api-flows/auth/login.md
  docs/api-flows/auth/password-reset.md
  docs/api-flows/auth/registration.md
  docs/api-flows/flow-template.md
  docs/api-flows/providers/provider-disconnect.md
  docs/api-flows/providers/provider-onboarding.md
Due: none

docs: Complete API flow documentation with comprehensive testing
  README.md
  docs/api-flows/README.md
  docs/api-flows/auth/complete-auth-flow.md
  docs/api-flows/auth/email-verification.md
  docs/api-flows/auth/login.md
  docs/api-flows/auth/password-reset.md
  docs/api-flows/auth/registration.md
  docs/api-flows/flow-template.md
  docs/api-flows/providers/provider-onboarding.md
  docs/development/architecture/jwt-authentication.md
  scripts/test-api-flows.sh
Due: none

feat(security): Add session revocation on password reset
  docs/api-flows/auth/complete-auth-flow.md
  docs/api-flows/auth/password-reset.md
  docs/development/architecture/improvement-guide.md
  docs/development/architecture/jwt-authentication.md
  scripts/test-api-flows.sh
  src/services/auth_service.py
Due: unit, integration, Services

test(auth): add comprehensive unit tests for password reset session revocation
  tests/unit/services/test_auth_service_password_reset.py
Due: none

ci: fix lint job to use modern UV sync commands
  .github/workflows/test.yml
Due: none

feat(security): Password reset with automatic session revocation (#16)
  .github/workflows/test.yml
  docs/api-flows/auth/complete-auth-flow.md
  docs/api-flows/auth/password-reset.md
  docs/development/architecture/improvement-guide.md
  docs/development/architecture/jwt-authentication.md
  scripts/test-api-flows.sh
  src/services/auth_service.py
  tests/unit/services/test_auth_service_password_reset.py
Due: unit, integration, Services

docs(git): add comprehensive GitHub CLI PR management documentation
  docs/development/guides/git-quick-reference.md
  docs/development/guides/git-workflow.md
Due: none

docs(research): comprehensive smoke test organization and SSL/TLS research
  docs/development/research/smoke-test-organization-research.md
Due: none

docs(implementation): SSL/TLS enablement plan for test and CI
  docs/development/implementation/ssl-tls-test-ci-implementation.md
Due: none

feat(infra): enable SSL/TLS infrastructure for test and CI environments
  .gitignore
  certs/callback_cert.pem
  certs/callback_key.pem
  certs/cert.pem
  certs/key.pem
  compose/docker-compose.ci.yml
  env/.env.ci.example
  env/.env.dev.example
  env/.env.test.example
Due: none

feat(tests): add HTTPS SSL warning suppression for test environments
  tests/conftest.py
Due: none

fix(infra): fix PostgreSQL health checks and update SSL/TLS docs
  compose/docker-compose.ci.yml
  compose/docker-compose.test.yml
  docs/development/implementation/ssl-tls-test-ci-implementation.md
  docs/development/research/smoke-test-organization-research.md
  env/.env.ci
Due: none

feat(infra): Enable SSL/TLS (HTTPS) in Test and CI Environments (#17)
  .gitignore
  certs/callback_cert.pem
  certs/callback_key.pem
  certs/cert.pem
  certs/key.pem
  compose/docker-compose.ci.yml
  compose/docker-compose.test.yml
  docs/development/implementation/ssl-tls-test-ci-implementation.md
  docs/development/research/smoke-test-organization-research.md
  env/.env.ci.example
  env/.env.dev.example
  env/.env.test.example
  tests/conftest.py
Due: none

feat(testing): add make test-smoke command and complete documentation
  Makefile
  WARP.md
  docs/development/research/smoke-test-organization-research.md
  docs/development/testing/best-practices.md
  docs/development/testing/guide.md
  docs/development/testing/smoke-test-caplog-solution.md
  tests/smoke/README.md
  tests/smoke/__init__.py
  tests/smoke/test_complete_auth_flow.py
Due: none

fix(testing): remove unused time import from smoke tests
  tests/smoke/test_complete_auth_flow.py
Due: none

fix(ci): enable DEBUG and INFO logging for smoke tests
  env/.env.ci
Due: none

test(smoke): mark CI-failing tests as xfail
  tests/smoke/test_complete_auth_flow.py
Due: none

style(smoke): format test file with ruff
  tests/smoke/test_complete_auth_flow.py
Due: none

feat(testing): Complete smoke test conversion and add make test-smoke command (#18)
  Makefile
  WARP.md
  docs/development/research/smoke-test-organization-research.md
  docs/development/testing/best-practices.md
  docs/development/testing/guide.md
  docs/development/testing/smoke-test-caplog-solution.md
  env/.env.ci
  tests/smoke/README.md
  tests/smoke/__init__.py
  tests/smoke/test_complete_auth_flow.py
Due: none

fix(tests): resolve smoke test failures in CI environment
  compose/docker-compose.ci.yml
  docs/development/testing/smoke-test-ci-debugging-journey.md
  env/.env.ci
  env/.env.ci.example
  pytest.ini
  src/api/v1/password_resets.py
  tests/conftest.py
  tests/smoke/test_complete_auth_flow.py
  tests/smoke/test_complete_auth_flow.py.backup
Due: unit, integration, api, API Layer

fix(tests): resolve smoke test failures in CI environment (#19)
  compose/docker-compose.ci.yml
  docs/development/testing/smoke-test-ci-debugging-journey.md
  env/.env.ci
  env/.env.ci.example
  pytest.ini
  src/api/v1/password_resets.py
  tests/conftest.py
  tests/smoke/test_complete_auth_flow.py
  tests/smoke/test_complete_auth_flow.py.backup
Due: unit, integration, api, API Layer

feat(test): implement modular smoke tests with isolated pytest sessions
  .github/workflows/test.yml
  Makefile
  README.md
  docs/development/testing/smoke-test-design-comparison.md
  pytest.ini
  src/services/email_service.py
  src/services/jwt_service.py
  tests/api/test_provider_endpoints.py
  tests/conftest.py
  tests/smoke/README.md
  tests/smoke/test_auth_flow.py
  tests/smoke/test_auth_validation.py
  tests/smoke/test_complete_auth_flow.py.monolithic
  tests/smoke/test_system_health.py
  tests/test_config.py
  tests/unit/services/test_jwt_service.py
Due: unit, integration, Services

fix(ci): prevent auto-running tests in docker-compose.ci.yml
  compose/docker-compose.ci.yml
Due: none

feat(test): implement modular smoke tests with isolated pytest sessions (#20)
  .github/workflows/test.yml
  Makefile
  README.md
  compose/docker-compose.ci.yml
  docs/development/testing/smoke-test-design-comparison.md
  pytest.ini
  src/services/email_service.py
  src/services/jwt_service.py
  tests/api/test_provider_endpoints.py
  tests/conftest.py
  tests/smoke/README.md
  tests/smoke/test_auth_flow.py
  tests/smoke/test_auth_validation.py
  tests/smoke/test_complete_auth_flow.py.monolithic
  tests/smoke/test_system_health.py
  tests/test_config.py
  tests/unit/services/test_jwt_service.py
Due: unit, integration, Services

docs(warp): add CI/CD docker-compose configuration rules
  WARP.md
Due: none

docs(tests): add comprehensive Google-style docstrings to test files (Phase 1-2 partial)
  docs/development/testing/test-docstring-standards.md
  tests/api/test_auth_jwt_endpoints.py
  tests/unit/services/test_encryption_service.py
  tests/unit/services/test_jwt_service.py
  tests/unit/services/test_password_service.py
Due: none

docs(tests): add continuation guide for docstring audit
  docs/development/testing/DOCSTRING_AUDIT_CONTINUATION.md
Due: none

docs(tests): add comprehensive docstrings to test_email_service.py
  tests/unit/services/test_email_service.py
Due: none

docs: update continuation guide with test_email_service.py progress
  docs/development/testing/DOCSTRING_AUDIT_CONTINUATION.md
Due: none

Path conditions:
  unit: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  integration: any of: src/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  api: any of: src/api/, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  API Layer: any of: src/api/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Providers: any of: src/providers/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Services: any of: src/services/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Database Models: any of: src/models/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
  Core Infrastructure: any of: src/core/**, but not: tests/**/*, docs/**/*, scripts/**/*, alembic/versions/**/*, **/__init__.py, **/conftest.py
